<div class="main_page" *ngIf="printCase">
  <app-alerts></app-alerts>
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title" [ngClass]="{ pageNotLoaded: !pageLoaded }">
      <h3><i class="fas fa-th-list"></i>كل الطلبات</h3>
      <div class="page_body_main_buttons">
        <a
          routerLink="/orders/add-order"
          *ngIf="order_add || user.privilege == 'super-admin'"
        >
          إضافة طلب
          <i class="fas fa-plus"></i>
        </a>
        <a
          routerLink="/orders/orders-table"
          *ngIf="order_all || user.privilege == 'super-admin'"
        >
          جدول الطلبات
          <i class="fas fa-th-list"></i>
        </a>
        <a
          routerLink="/orders/orders-map"
          *ngIf="order_all || user.privilege == 'super-admin'"
        >
          خريطة الطلبات
          <i class="fas fa-th-list"></i>
        </a>
      </div>
    </div>
    <div class="page_body">
      <div class="page_body_main">
        <div class="page_block">
          <div class="main_block filterMainBlock">
            <form class="filter_form" [formGroup]="filterForm">
              <div id="todaysOrdersContainer">
                <div id="CheckBoxTodayFilter">
                  <label class="todayfilterLabel">طلبات اليوم</label>
                  <mat-slide-toggle
                    dir="rtl"
                    (change)="todayDateFillterToggle($event)"
                    [checked]="todayOrdersToggelChecked"
                    required
                  ></mat-slide-toggle>
                </div>
              </div>
              <div class="form_input" id="smallFillterInputStyle">
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    class="filterInput"
                    matInput
                    placeholder="إسم العميل , رقم الهاتف , البريد الإلكتروني"
                    autocomplete="off"
                    id="filterName"
                    formControlName="filterName"
                    (keydown)="filterClientName()"
                  />
                  <button
                    style="background-color: white"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('filterName')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
              </div>
              <div
                class="form_input"
                id="smallFillterInputStyle"
                [ngClass]="{ backGround: todayFilltered }"
              >
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    class="filterInput"
                    (dateInput)="orderDateChanged($event, 'from')"
                    matInput
                    [matDatepicker]="fromFilterDate"
                    placeholder="تاريخ الطلبات من"
                    autocomplete="off"
                    formControlName="startDateFilter"
                    id="filterStartDate"
                    readonly
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('startDateFilter')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-datepicker-toggle
                    class="dateButton"
                    [for]="fromFilterDate"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker touchUi #fromFilterDate> </mat-datepicker>
                </mat-form-field>
              </div>
              <div
                class="form_input"
                id="smallFillterInputStyle"
                [ngClass]="{ backGround: todayFilltered }"
              >
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    class="filterInput"
                    id="styleDisable"
                    (dateInput)="orderDateChanged($event, 'to')"
                    matInput
                    [matDatepicker]="toFilterDate"
                    placeholder="تاريخ الطلبات إلى"
                    autocomplete="off"
                    formControlName="endDateFilter"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('endDateFilter')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-datepicker-toggle
                    class="dateButton"
                    [for]="toFilterDate"
                  >
                  </mat-datepicker-toggle>
                  <mat-datepicker touchUi #toFilterDate> </mat-datepicker>
                </mat-form-field>
              </div>
              <div class="form_input" id="smallFillterInputStyle">
                <app-multiselect-filter
                  [multiSelectList]="statusArray"
                  [multiSelectListPlaceholder]="orderStatusFilterPlaceholder"
                  [componentId]="filterStatusComponentId"
                  (search)="search($event)"
                ></app-multiselect-filter>
              </div>
              <div class="form_input" id="smallFillterInputStyle">
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    class="filterInput"
                    matInput
                    placeholder="رقم الطلب"
                    autocomplete="off"
                    id="ordersNumberObj"
                    formControlName="ordersNumberObj"
                    (keydown)="filterOrderNumber()"
                  />
                  <button
                    style="background-color: white"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('ordersNumberObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
              </div>
              <div class="form_input" id="smallFillterInputStyle">
                <app-multiselect-filter
                  [multiSelectList]="servicesWithTechniciansList"
                  [multiSelectListPlaceholder]="techniciansFilterPlaceholder"
                  [multiSelectListType]="nestedType"
                  [componentId]="filterTechniciansComponentId"
                  (search)="search($event)"
                ></app-multiselect-filter>
              </div>
            </form>
          </div>
          <div class="totalSearch">
            <p>
              <i class="fas fa-search"></i>
              <span> نتيجة البحث </span>
              مجموع الطلبات:
              <span class="totalNumber">
                {{ getOrdersResponseTotal?.total }}
              </span>
            </p>
          </div>
          <div class="badgeCheckbox">
            <mat-checkbox (change)="checkBoxOnChange($event)">
              احصائيات</mat-checkbox
            >
          </div>
          <div class="badge" *ngIf="statisticsRow">
            <a
              class=" statusBadge_{{ badgeTotalCount.id }} "
              mat-raised-button
              color="primary"
              *ngFor="let badgeTotalCount of getOrderNumber"
            >
              {{ badgeTotalCount.name }}
              <span class="badgeNumber badg_color_{{ badgeTotalCount.id }}">
                {{ badgeTotalCount.total_count }}
              </span>
            </a>
          </div>
          <div class="countPerPage">
            <select
              name=""
              id=""
              (change)="setCountPerPage($event.target.value)"
              class="selectPerpage"
            >
              <option *ngFor="let option of countPerPage" [value]="option">
                {{ option }}
              </option>
            </select>
          </div>
          <div class="print">
            <button
              mat-raised-button
              (click)="showExcel()"
              style="border: none; background: none"
              matTooltipPosition="above"
              matTooltip="ملف اكسل"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i
                class="fas fa-file-excel"
                style="
                  font-size: 25px;
                  text-align: center;
                  color: #086314;
                  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                "
              ></i>
            </button>

            <!-- <button
              mat-raised-button
              (click)="showPrint()"
              style="border: none; background: none"
              matTooltip=" طباعة"
              matTooltipPosition="above"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i
                class="fas fa-shredder"
                style="
                  font-weight: 300;
                  font-size: 25px;
                  text-align: center;
                  color: #de2369;
                  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                "
              ></i>
            </button> -->

            <button
              mat-raised-button
              (click)="showPdf()"
              style="border: none; background: none"
              matTooltipPosition="above"
              matTooltip=" نسخة PDF"
              aria-label="Button that displays a tooltip when focused or hovered over"
            >
              <i
                class="fas fa-file-pdf"
                style="
                  font-size: 25px;
                  text-align: center;
                  color: #f00;
                  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
                "
              ></i>
            </button>
          </div>

          <!-- ######################### Start add number phone Popup ######################### -->
          <div class="popup_form_client" id="popup" *ngIf="showAddNumberPopup">
            <div id="backDrop"></div>
            <div class="border-popup-print">
              <a
                style="position: relative; right: 97%"
                (click)="showAddNumberPopup = false"
                ><i class="fas fa-times-circle"></i>
              </a>

              <span class="example-list-section">
                <div style="display: flex">
                  <div style="width: 30%; margin-left: 39%">
                    <mat-checkbox
                      *ngFor="let subtask of Task.subtasks"
                      [(ngModel)]="subtask.completed"
                      (change)="getFilter($event.checked, subtask.name)"
                    >
                      {{ subtask.name }}
                    </mat-checkbox>
                  </div>
                  <div style="width: 30%">
                    <mat-checkbox
                      *ngFor="let subtask of Taskt.subtasks"
                      [(ngModel)]="subtask.completed"
                      (change)="getFilter($event.checked, subtask.name)"
                    >
                      {{ subtask.name }}
                    </mat-checkbox>
                  </div>
                </div>
              </span>

              <button
                style="
                  margin: 0 20px;
                  color: black;
                  width: 60px;
                  position: relative;
                  top: -29px;
                  right: 65%;
                  height: 40px;
                  width: 121px;
                  height: 32px;
                  background: #f6a811;
                  border: 1px solid #707070;
                "
                type="button"
                *ngIf="justPrint"
                (click)="filterPrint()"
              >
                طباعة
              </button>
              <button
                style="
                  margin: 0 20px;
                  color: black;
                  width: 60px;
                  position: relative;
                  top: -29px;
                  right: 65%;
                  height: 40px;
                  width: 121px;
                  height: 32px;
                  background: #f6a811;
                  border: 1px solid #707070;
                "
                type="button"
                *ngIf="excel"
                (click)="ExportTOExcel()"
              >
                ملف اكسل
              </button>
              <button
                style="
                  margin: 0 20px;
                  color: black;
                  width: 60px;
                  position: relative;
                  top: -29px;
                  right: 65%;
                  height: 40px;
                  width: 121px;
                  height: 32px;
                  background: #f6a811;
                  border: 1px solid #707070;
                "
                type="button"
                *ngIf="pdf"
                (click)="filterPrint()"
              >
                طباعة
              </button>
            </div>
          </div>
          <table
            width="100%"
            dir="rtl"
            mat-table
            [dataSource]="ordersArray"
            class="mat-elevation-z8"
            id="display_table"
          >
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element">
                <span class="styleBold">{{ element.id }} </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="client_name">
              <th mat-header-cell *matHeaderCellDef>إسم العميل</th>
              <td mat-cell *matCellDef="let element">
                {{ element.client.user.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="technical_name">
              <th mat-header-cell *matHeaderCellDef>إسم الفني</th>
              <td mat-cell *matCellDef="let element">
                {{ element.technician.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="source_name">
              <th mat-header-cell *matHeaderCellDef>إسم المصدر</th>
              <td mat-cell *matCellDef="let element">
                {{ element.source.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="main_service">
              <th mat-header-cell *matHeaderCellDef>الخدمة</th>
              <td mat-cell *matCellDef="let element">
                {{ element.service.name }}
              </td>
            </ng-container>
            <ng-container matColumnDef="service_date">
              <th mat-header-cell *matHeaderCellDef>التاريخ</th>
              <td mat-cell *matCellDef="let element">
                {{ element.order_date }}
              </td>
            </ng-container>
            <ng-container matColumnDef="creation_date">
              <th mat-header-cell *matHeaderCellDef>تاريخ الإنشاء</th>
              <td mat-cell *matCellDef="let element">
                {{ element.creation_date }}
              </td>
            </ng-container>
            <ng-container matColumnDef="order_time">
              <th mat-header-cell *matHeaderCellDef>وقت التنفيذ</th>
              <td mat-cell *matCellDef="let element">
                من :
                <span class="styleBold" style="position: relative; right: 5px"
                  >{{ element.start }} </span
                ><br />
                الي : <span class="styleBold">{{ element.end }}</span>
              </td>
            </ng-container>
            <ng-container matColumnDef="order_status">
              <th mat-header-cell *matHeaderCellDef>الحالة</th>
              <td style="direction: ltr" mat-cell *matCellDef="let element">
                <span class="status_span status_{{ element.status.id }} "
                  >{{ element.status.name }}
                </span>
                <br />
                <span class="styleBold">
                  {{
                    ordersArray
                      ? element.status.id === 35 && element.receipt
                        ? element.receipt.total +
                          " " +
                          element.receipt.currency.symbol
                        : ""
                      : ""
                  }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="order_resource">
              <th mat-header-cell *matHeaderCellDef>ملاحظات</th>
              <td mat-cell *matCellDef="let element">
                <span
                  style="
                    display: block;
                    max-width: 185px;
                    white-space: nowrap;
                    overflow: hidden !important;
                    text-overflow: ellipsis;
                  "
                >
                  {{ element.details_text }}
                </span>
              </td>
            </ng-container>
            <ng-container matColumnDef="order_details">
              <th mat-header-cell *matHeaderCellDef>التفاصيل</th>
              <td
                mat-cell
                *matCellDef="let element"
                (mouseenter)="hideme[element.id] = !hideme[element.id]"
                (mouseleave)="hideme[element.id] = !hideme[element.id]"
              >
                <div
                  id="showOrdercontrols"
                  [ngClass]="{ showtestOrderControl: showOrdercontrolst }"
                  *ngIf="hideme[element.id]"
                >
                  <button
                    *ngIf="order_delete || user.privilege == 'super-admin'"
                    (click)="
                      openDeletePopup(element.id, element.client.user.name)
                    "
                    class="basic_button"
                    type="button"
                  >
                    <img src="../../../../assets/img/icons/delete.png" alt="" />
                    <span class="tooltiptext">حذف</span>
                  </button>

                  <button
                    class="basic_button"
                    type="button"
                    *ngIf="order_all || user.privilege == 'super-admin'"
                  >
                    <a
                      target="blank"
                      [routerLink]="['/orders/order-details']"
                      [queryParams]="{
                        orderId: element.id
                      }"
                    >
                      <img
                        src="../../../../assets/img/icons/invoice.png"
                        alt=""
                      />
                    </a>
                    <span class="tooltiptext">التفاصيل</span>
                  </button>
                  <button
                    (click)="getInvoiceDetails()"
                    id="invicebutton"
                    [routerLink]="['/invoices/details-invoice/']"
                    [queryParams]="{ incoiveID: element.receipt_id }"
                    class="basic_button"
                    type="button"
                    *ngIf="element.status.id === 35"
                  >
                    <img
                      src="../../../../assets/img/icons/invoice (1).png"
                      alt=""
                    />
                    <span class="tooltiptext">الفاتورة</span>
                  </button>
                  <button
                    id="editButton"
                    [routerLink]="['/orders/update-order']"
                    [queryParams]="{
                      updateMode: true,
                      updatedOrderId: element.id
                    }"
                    class="basic_button"
                    type="button"
                    *ngIf="
                      (element.status.id !== 35 &&
                        element.status.id !== 22 &&
                        element.receipt_id === null &&
                        order_update) ||
                      user.privilege == 'super-admin'
                    "
                  >
                    <img src="../../../../assets/img/icons/edit.png" alt="" />
                    <span class="tooltiptext">تعديل</span>
                  </button>
                </div>

                <div class="basic_button" type="button">
                  <img src="../../../../assets/img/icons/Menu.svg" alt="" />
                </div>
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <div class="form-group m-form__group" id="time_container">
            <div class="table-keys">
              <label>
                <span class="span-bg admin_approved"></span>
                تم الموافقة من الأدمن
              </label>
              <label
                ><span class="span-bg technician_approved"></span>تم الموافقة من
                الفني</label
              >
              <label><span class="span-bg way"></span>فى الطريق </label>
              <label><span class="span-bg stop"></span>موقوف </label>
              <label><span class="span-bg started"></span>تم البدء</label>
              <label><span class="span-bg delay"></span>تم التأجيل</label>
              <label><span class="span-bg finished"></span>تم الإنتهاء</label>
              <label
                ><span class="span-bg without_receipt"></span> تم الإنتهاء بدون
                اصدار فاتورة</label
              >
              <label
                ><span class="span-bg receipt_done"></span>تم إصدار
                فاتورة</label
              >
              <label><span class="span-bg canceled"></span>تم الإلغاء</label>
            </div>
          </div>
          <!-- <div class="pagination">
            <ul>
              <li class="pagination_button ">
                <a (click)="goPage(1)">الصفحة الأولي</a>
              </li>
              <li class="previousPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId - 1)"
                  type="button"
                  [disabled]="firstPage"
                >
                  <i class="fas fa-angle-right"></i>
                </button>
              </li>
              <li *ngFor="let i of pagesNumbers" (click)="goPage(i)">
                <a [class]="pageId == i ? 'active' : ''">{{ i }}</a>
              </li>
              <li class="nextPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId + 1)"
                  type="button"
                  [disabled]="lastPage"
                >
                  <i class="fas fa-angle-left"></i>
                </button>
              </li>
              <li class="pagination_button ">
                <a (click)="goPage(pagesNumbers.length)">الصفحة الأخيرة</a>
              </li>
            </ul>
          </div> -->
          <div class="pagination">
            <ul>
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page == totalPage"
                  (click)="nextPage(current_page)"
                >
                  <i class="fas fa-caret-right"></i>
                </button>
              </li>
              <li style="margin: 10px; text-align: center; line-height: 31px">
                <div class="numberPagination">
                  <!-- {{ current_page }} -->
                  <input
                    style="
                      background: #fff;
                      border: 1px solid rgba(112, 112, 112, 0.38);
                      width: 42px;
                      height: 31px;
                      text-align: center;
                    "
                    type="text"
                    type="number"
                    min="1"
                    [max]="totalPage"
                    #pageNumber
                    [value]="current_page"
                    (keyup.enter)="changePagination(pageNumber)"
                  />
                </div>
              </li>
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page <= 1"
                  (click)="prevPage(current_page)"
                >
                  <i class="fas fa-caret-left"></i>
                </button>
              </li>
              <li style="margin: 15px 10px; box-shadow: none">
                <div class="pageNum">
                  من
                  <span>{{ totalPage }}</span>
                  صفحة
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" *ngIf="showDeletePopup" [@parentAnimation]>
    <div id="backDrop" (click)="closePopup()"></div>
    <div id="popupData" [@childAnimation]>
      <div class="headerPopup">
        <p>
          <img
            class="fas fa-times"
            (click)="closePopup()"
            src="../../../../assets/img/icons/x.png"
            alt=""
          />
          حذف الطلب
        </p>
      </div>
      <div class="detailsPopup">
        <P>
          هل انت متأكد من حذف طلب العميل <br />
          {{ deletedOrderClientName }}
        </P>

        <div id="confirmationButtons">
          <button type="button" (click)="deleteTechnical()">نعم متأكد</button>
          <button type="button" (click)="closePopup()">إلغاء الحذف</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="main_page form-taxs-mng cliend-edit-neww"
  id="listPage"
  *ngIf="!printCase"
>
  <div class="page_body_main">
    <!-- ################################### Start Page Block ################################### -->
    <div class="page_block">
      <div>
        <div style="background: #fff; padding: 40px">
          <img [src]="user.company_logo" alt="" style="margin-bottom: 20px" />
          <h4>تقرير العملاء</h4>
          <div style="display: flex; align-items: center; margin-top: 50px">
            <p>مجموع البيانات المطلوبة في التقارير</p>
            <span style="margin-right: 20px">{{ dataSource2.length }}</span>
            <p style="margin-right: 200px">تاريخ التقرير</p>
            <span style="margin-right: 20px">{{ todayDate }}</span>
          </div>

          <div #TABLE>
            <table
              width="100%"
              style="padding: 20px 0"
              dir="rtl"
              mat-table
              [dataSource]="dataSource2"
              id="display_table"
            >
              <!-- ID -->
              <ng-container
                [matColumnDef]="col"
                *ngFor="let col of displayColums2"
              >
                <th mat-header-cell *matHeaderCellDef>{{ col }}</th>
                <td mat-cell *matCellDef="let element">
                  <p>
                    {{
                      col == "كود الطلب"
                        ? element.id
                        : col == "اسم العميل"
                        ? element.client.user.name
                        : col == "اسم الفنى"
                        ? element.technician.name
                        : col == "الخدمة"
                        ? element.service.name
                        : col == "الحالة"
                        ? element.status.name
                        : col == "وقت التنفيذ"
                        ? "من : " + element.start + " " + "الى " + element.end
                        : col == "التاريخ"
                        ? element.creation_date
                        : col == "ملاحظات"
                        ? element.details_text
                          ? element.details_text
                          : "لا يوجد"
                        : ""
                    }}
                  </p>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayColums2"></tr>
              <tr mat-row *matRowDef="let row; columns: displayColums2"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
