.profileImageContainer {
  padding-top: 15px;
}
// start new style client details data
.clientDetails-name {
  padding: 0px 50px;
  margin-bottom: 2%;
ul{
  display: flex;
  li {
    margin-bottom: 1px;
    margin-left: 15px;
  }
  .clientDetails-id {
    background: #27282a;
    color: #fff;
    padding: 0px 10px 0px 5px;
    border-radius: 4px;
    margin-left: 10px;
  }
  .cilentAccount-type {
    font-family: Roboto;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    color: #Fff;
    padding: 3px 18px;
    width: 105px;
      height: 30px;
      background: #000000;
      border: 2px solid rgba(112, 112, 112, 0.34);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      padding-bottom: 5px;

  }

  .cilentAccount-type-0 {

    background: #1e9a19;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    font-family: Roboto;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    color: #fff;
    padding: 4px 29px;
    padding-bottom: 7px;


  }

  .cilentAccount-type-1 {
    width: 125px;
    height: 30px;
    background: #444;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
    font-family: "GE SS Two";
    font-weight: 300;
    font-size: 15px;
    text-align: right;
    color: #fff;
    text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
    padding: 7px 29px;

  }
}
}

.rating .allRating, .ratingControl .allRating
{

  width: 380px;
  margin: 1% ;
  height: 175px;
  border-radius: 10px;
  background: #fbfbfb;
  border: 1px solid rgba(112, 112, 112, 0.45);
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  .ratingHead
  {
    width: 380px;
    height: 35px;
    background: #363636;
    width: 100% ;

    h3
    {
      text-align:right ;
      color: #fff;
      padding: 2% ;
      display: inline-block;

    }

    
   

  }

}

.controlAllOrder{
  margin-bottom: 40px;
  ul{
    display: flex;
    margin-right: 19%;

    li{


      button{
        margin-left: 16px;
        text-align: center;
        border: 1px solid #7070708f;
        padding: 12px 14px;
        border-radius: 15px;
        width: 80px;
        width: 81px;
        // padding-bottom: 7px;
        border-radius: 10px;
        background:#EFEFEF;
        border: 1px solid rgba(112, 112, 112, 0.34);
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        margin-right: 13px;
          font-size: 32px;
          text-align: center;
          color: #636363;

      }
      i
      {
        color: black ;
      }
      p{
        font-family: "GE SS Two";
        font-weight: 300;
        font-size: 14px;
        text-align: center;
        color: #000;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        margin-top: 5px;

      }

    }
  }
}
.mobileConnected
{
  text-align: left;
  margin-bottom: 2%;
}
.mobileConnected .connected
{
  width: 172px;
  height: 42px;
  border-radius: 10px;
  background: #139e18;
  border: 1px solid rgba(112, 112, 112, 0.34);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  display: inline-block ;
  color: #fff ;
  padding: 0% 2%;
  text-align: center;
  margin-left: 2% ;
  i
  {
    margin-left: 6%;
    font-size: 24px;
    padding-top: 4%;
  }

}

.mobileConnected .logout
{
  width: 53px;
  height: 42px;
  border-radius: 10px;
  background: #515151;
  border: 1px solid rgba(112, 112, 112, 0.34);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.16);
  display: inline-block ;
  color: #fff ;
  padding: 0% 2%;
  text-align: center;

  i
  {
    font-size: 25px;
    padding-top: 8px;
  }


}

.blueLabel
{
  width: 417px;
  height: 40px;
  background: #f1f7ff;
  padding: 2%;
  font-size: 15px ;
  border-bottom: 1px dotted #707070;
  i
  {
    margin-left: 2%;
    font-size: 20px;

  }
}

.grayLabel
{
  width: 417px;
  height: 40px;
  background: #fff;
  padding: 2%;
  font-size: 15px ;
  i
  {
    margin-left: 2%;
    font-size: 20px;
  }

}
.technicalImg
{
  margin-bottom: 5%;
  i
  {
    margin-left: 2%;
    font-size: 20px;
  }
}

.mapImg
{
  margin-bottom: 5%;
  i
  {
    margin-left: 2%;
    font-size: 20px;
  }
}
