<div class="main_page">
  <app-alerts></app-alerts>

  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title">
      <h3><i class="fas fa-users-cog"></i>معلومات عن الفنى</h3>
      <!-- <div class="page_body_main_buttons">
        <a
          *ngIf="technician_update || this.user.privilege == 'super-admin'"
          [routerLink]="['/technicians/update-technical']"
          [queryParams]="{
            updateMode: true,
            updatedTechnicalId: tecniciansId
          }"
        >
          تعديل الفنى<i class="far fa-edit"></i>
        </a>
        <a [routerLink]="['/technicians/all-technicians']">
          كل الفنيين
          <i class="fas fa-th-list"></i>
        </a>
      </div> -->
    </div>


    <div class="page_body formContainer"  [ngClass]="{ pageNotLoaded: !pageLoaded }">

      <div class="button-add-taxs">
        <button
        [routerLink]="['/technicians/update-technical']"
          [queryParams]="{
            updateMode: true,
            updatedTechnicalId: tecniciansId
          }">
        <i class="fal fa-user-edit"></i>  تعديل بيانات الفنى </button>
      </div>

      <div class="clientDetails-name">

          <ul>
            <li>
              <span class="cilentAccount-type ">
               {{ technicalDetails.id }}
              </span>
            </li>
            <li>
              <h3>
                <i class="fas fa-user"></i>
                {{ technicalDetails.name}}
              </h3>
            </li>
          
            <li>
              <span class="cilentAccount-type-0 " *ngIf="technicalDetails.active == 1" >
                حساب نشط 
              </span>
             
            </li>
    
            
          </ul>
        </div>




      <div class="page_body_main" style="display:flex">
        <div class="page_block " style="width: 50%;  border-left: 1px dotted #707070;">
          
     
          <div class="profileDetails">
            <div class="profileDetails">
              <h3><i class="fas fa-users-cog" style="margin-left:2% ; font-size: 25px;"></i>تقارير و بيانات الفنى</h3>
            </div>
          </div>

          <div class="mobileConnected">

            <div class="connected">
              <i class="fas fa-user-check"></i>
              <span> متصل بالتطبيق </span>
            </div>

            
            <div class="logout">
              <i class="fas fa-sign-out-alt"></i>
            </div>


           

            <!-- <div class="disConnected">
              <i class="fas fa-user-check"></i>
              <span>   غير متصل بالتطبيق </span>
            </div>

            <div class="logoutDis">
              <i class="fas fa-sign-out-alt"></i>
            </div> -->

           
          

            


          </div>

          <div class="rating" style="display:flex">
            <div class="allRating" style="width: 50%;">
              <div class="ratingHead" style="margin-bottom:4% ; padding: 2% 0%">
                <h3>التقييم العام للفنى </h3>
                <rating style="color: #FFD500; padding: 0% 3%; font-size: 22px; float: left; padding: 0% 3%;" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div style="display: flex; width: 100%; padding:2% ; text-align: center;">
              <div style="width: 33%; padding: 1% 5%; border-left: 1px dotted black" >
                <h5 style="font-size: 0.9rem;">تقييم العملاء </h5> 
                <h5 style="font-size: 0.9rem;">5/10</h5>
              </div>
              <div style="width: 33%; padding: 1% 4%;  border-left: 1px dotted black" > 
              <h5 style="font-size: 0.9rem;"> تقييم الإدارة</h5>
              <h5 style="font-size: 0.9rem;">5/10</h5>
            </div>
              <div style="width: 33%; padding: 1% 4%;" >
              <h5 style="font-size: 0.9rem;"> النقاط </h5>
              <h5 style="font-size: 0.9rem;"> 355 </h5>
              </div>

              </div>
            </div>

            <div class="allRating" style="width: 50% ; height:200px ">
              <div class="ratingHead" style="margin-bottom:4% ; padding: 2% 0%">
                <h3> تتبع الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li>
                    <button  type="button">
                      <i class="fas fa-map-marked"></i>
                    </button>
                    <p class="fontSt" > خط سير الفنى </p>
                  </li>

                  <li>
                    <button type="button">
                      <i class="fas fa-map-marker-alt"></i>
                    </button>
                    <p class="fontSt">  نقطة تواجد الفنى  </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>


          <div class="ratingControl" style="display:flex">
            <div class="allRating" style="width: 50%;  height:200px">
              <div class="ratingHead" style="margin-bottom:4% ; padding: 2% 0%">
                <h3>  تقييمات و تقارير الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li>
                    <button  type="button">
                      <i class="far fa-grin-stars"></i>
                    </button>
                    <p class="fontSt"> التقييم اليومى </p>
                  </li>

                  <li>
                    <button type="button">
                      <i class="fas fa-grin-stars"></i>
                    </button>
                    <p class="fontSt">تقييم العميل   </p>
                  </li>

                </ul>
              </div>
            </div>
            <div class="allRating" style="width: 50% ; height:200px">
              <div class="ratingHead" style="margin-bottom:4% ; padding: 2% 0%">
                <h3> التحكم في حساب الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li *ngIf="technicalDetails.active == 1 ">
                    <i  style="color:red ; position: relative ; top: -40px; right: 12px; font-size: 21px;" class="fas fa-info-circle"></i>
                    <button (click)="activateTechnical()" type="button">
                      <i class="far fa-stop-circle"></i>
                    </button>
                    <p class="fontSt"> إيقاف الحساب </p>
                  </li>
<!-- 
                  <li *ngIf="technicalDetails.active == 0 ">
                    <i   style="color:red ; position: relative ; top: -40px; right: 12px; font-size: 21px;" class="fas fa-info-circle"></i>
                    <button (click)="stopTechnical()"  style="background: #139E18;" type="button">
                      <i style="color:#fff" class="fas fa-play"></i>
                    </button>
                    <p class="fontSt"> تشغيل الحساب </p>
                  </li> -->

                  <li>
                    <button type="button">
                      <i class="far fa-comment-dots"></i>
                    </button>
                    <p class="fontSt"> إرسال رسالة </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>




        </div>

        <div class="page_block" style="width:30% ; border-left: 1px dotted #707070;">

          <div style="margin-bottom:5%" class="profileDetails">
            <div class="profileDetails">
              <h3><i class="fas fa-users-cog" style="margin-left:2% ; font-size: 25px;"></i>تقارير و بيانات الفنى</h3>
            </div>
          </div>

          <div class="technicalDetails">
            <h5 class="blueLabel"> 
              <i class="fas fa-ellipsis-h"></i>
              <span class="fontSt"> رقم الفنى </span>
              <span class="fontSt" style="float: left;"> {{ technicalDetails.id }} </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-user"></i>
              <span class="fontSt"> اسم الفنى </span>
              <span  class="fontSt" style="float: left;"> {{ technicalDetails.name }} </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-flag"></i>
              <span  class="fontSt"> الجنسية </span>
              <span class="fontSt" style="float: left;"> {{ technicalDetails.country }} </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-mobile"></i>
              <span class="fontSt"> رقم الموبايل </span>
              <span class="fontSt" style="margin-right: 19%; "> {{ technicalDetails.mobile }} </span>
              <i class="fas fa-copy" style="    float: left; padding-top: 2%; "></i>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-envelope"></i>
              <span class="fontSt">  البريد الإلكتروني </span>
              <span class="fontSt" style="float: left;" > {{ technicalDetails.email ? technicalDetails.email : 'لا يوجد ' }} </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-id-card-alt"></i>
              <span class="fontSt" > نوع التعاقد </span>
              <span class="fontSt" style="float: left;"> موظف </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fab fa-pinterest"></i>
              <span  class="fontSt"> فاعلية الحساب </span>
              <span class="fontSt" style="color: green ; float: left;" *ngIf="technicalDetails.active == 1"> نشط </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-calendar-week"></i>
              <span class="fontSt" > تاريخ الاضافة</span>
              <span  class="fontSt" style="float: left;"> {{ technicalDetails.created_at }} </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-user-plus"></i>
              <span  class="fontSt"> إضافة بواسطة </span>
              <span class="fontSt" style="float: left;"> Super admin </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-user-shield"></i>
              <span class="fontSt" > الخدمات </span>
              <span class="fontSt" style="float: left;" *ngFor="let service of technicalDetails.services; let i = index">  {{ service.name  }}  <span *ngIf="i != 0 && i != technicalDetails.services.length"> - </span> </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-map-marker"></i>
              <span class="fontSt" > أماكن الخدمات </span>
              <span class="fontSt" style="float: left;" *ngFor="let city of technicalDetails.cities; let i = index">  {{ city.name  }} <span *ngIf="i != 0 && i != technicalDetails.cities.length"> - </span> </span> 
            </h5> 
          </div>

        </div>

        <div class="page_block" style="width:20% ; border-left: 1px dotted #707070;">
          <div class="technicalImg">
            <i class="fas fa-image" ></i>
            <span class="fontSt" > صورة الفنى  </span>
            <img id="imageTech" src="{{ technicalDetails.image }}" >
            <div class="zoom" (click)="openModalImage()"><i class="fas fa-search"></i></div> 
          </div>

          <!-- The Modal Image-->
          <div id="imageTechModel" class="modal">
            <span (click)="closeImageTech()" class="close">&times;</span>
            <img src="{{ technicalDetails.image }}" class="modal-content" id="img01">
          </div>

          <div class="mapImg">
            <i class="fas fa-map-marker-alt"></i>
            <span class="fontSt" style="margin-bottom: 2%;"> دبوس الخريطة </span>
            <img id="imageTechPin" src="{{ technicalDetails.imagePin}}" >
            <div class="zoom" (click)="openModalPin()"><i class="fas fa-search"></i></div> 
          </div>

           <!-- The Modal pin-->
           <div id="imageTechPinModel" class="modal">
            <span (click)="closeImagePin()" class="close">&times;</span>
            <img src="{{ technicalDetails.imagePin}}"  class="modal-content" id="img02">
          </div>
         
        </div>

      </div>
    </div>
  </div>
</div>
