<div class="main_page">
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title">
      <h3><i class="fas fa-users-cog"></i>معلومات عن الفنى</h3>
      <div class="page_body_main_buttons">
        <a
          *ngIf="technician_update || this.user.privilege == 'super-admin'"
          [routerLink]="['/technicians/update-technical']"
          [queryParams]="{
            updateMode: true,
            updatedTechnicalId: tecniciansId
          }"
        >
          تعديل الفنى<i class="far fa-edit"></i>
        </a>
        <a [routerLink]="['/technicians/all-technicians']">
          كل الفنيين
          <i class="fas fa-th-list"></i>
        </a>
      </div>
    </div>


    <div class="page_body formContainer"  [ngClass]="{ pageNotLoaded: !pageLoaded }">

      <div class="clientDetails-name">

          <ul>
            <li>
              <span class="cilentAccount-type ">
               251
              </span>
            </li>
            <li>
              <h3>
                <i class="fas fa-user"></i>
                محمد جابر 
              </h3>
            </li>
          
            <li>
              <span class="cilentAccount-type-0 " >
                حساب نشط 
              </span>
             
            </li>
    
            
          </ul>
        </div>




      <div class="page_body_main" style="display:flex">
        <div class="page_block " style="width: 50%;  border-left: 1px dotted #707070;">
          
     
          <div class="profileDetails">
            <div class="profileDetails">
              <h3><i class="fas fa-users-cog" style="margin-left:2% ; font-size: 25px;"></i>تقارير و بيانات الفنى</h3>
            </div>
          </div>

          <div class="mobileConnected">

            <div class="connected">
              <i class="fas fa-user-check"></i>
              <span> متصل بالتطبيق </span>
            </div>

            <div class="logout">
              <i class="fas fa-sign-out-alt"></i>
            </div>

          </div>

          <div class="rating" style="display:flex">
            <div class="allRating" style="width: 50%;">
              <div class="ratingHead" style="margin-bottom:6% ; padding: 2% 0%">
                <h3>التقييم العام للفنى </h3>
                <rating style="color: #FFD500; padding: 0% 3%; font-size: 23px; float: left; padding: 0% 3%;" [(ngModel)]="rate" [max]="max" [readonly]="isReadonly"></rating>
              </div>
              <div style="display: flex; width: 100%; padding:2% ; text-align: center;">
              <div style="width: 33%; padding: 1% 5%; border-left: 1px dotted black" >
                <h5 style="font-size: 0.9rem;">تقييم العملاء </h5> 
                <h5 style="font-size: 0.9rem;">5/10</h5>
              </div>
              <div style="width: 33%; padding: 1% 4%;  border-left: 1px dotted black" > 
              <h5 style="font-size: 0.9rem;"> تقييم الإدارة</h5>
              <h5 style="font-size: 0.9rem;">5/10</h5>
            </div>
              <div style="width: 33%; padding: 1% 4%;" >
              <h5 style="font-size: 0.9rem;"> النقاط </h5>
              <h5 style="font-size: 0.9rem;"> 355 </h5>
              </div>

              </div>
            </div>

            <div class="allRating" style="width: 50% ; height:200px ">
              <div class="ratingHead" style="margin-bottom:6% ; padding: 2% 0%">
                <h3> تتبع الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li>
                    <button  type="button">
                      <i class="fas fa-map-marked"></i>
                    </button>
                    <p > خط سير الفنى </p>
                  </li>

                  <li>
                    <button type="button">
                      <i class="fas fa-map-marker-alt"></i>
                    </button>
                    <p> نقطة تواجد الفنى  </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>


          <div class="ratingControl" style="display:flex">
            <div class="allRating" style="width: 50%;  height:200px">
              <div class="ratingHead" style="margin-bottom:6% ; padding: 2% 0%">
                <h3>  تقييمات و تقارير الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li>
                    <button  type="button">
                      <i class="far fa-grin-stars"></i>
                    </button>
                    <p > التقييم اليومى </p>
                  </li>

                  <li>
                    <button type="button">
                      <i class="fas fa-grin-stars"></i>
                    </button>
                    <p>تقييم العميل   </p>
                  </li>

                </ul>
              </div>
            </div>
            <div class="allRating" style="width: 50% ; height:200px">
              <div class="ratingHead" style="margin-bottom:6% ; padding: 2% 0%">
                <h3> التحكم في حساب الفنى </h3>
              </div>
              <div class="controlAllOrder">
                <ul>

                  <li>
                    <button  type="button">
                      <i class="far fa-stop-circle"></i>
                    </button>
                    <p > إيقاف الحساب </p>
                  </li>

                  <li>
                    <button type="button">
                      <i class="far fa-comment-dots"></i>
                    </button>
                    <p> إرسال رسالة </p>
                  </li>

                </ul>
              </div>
            </div>
          </div>




        </div>

        <div class="page_block" style="width:30% ; border-left: 1px dotted #707070;">

          <div style="margin-bottom:5%" class="profileDetails">
            <div class="profileDetails">
              <h3><i class="fas fa-users-cog" style="margin-left:2% ; font-size: 25px;"></i>تقارير و بيانات الفنى</h3>
            </div>
          </div>

          <div class="technicalDetails">
            <h5 class="blueLabel"> 
              <i class="fas fa-ellipsis-h"></i>
              <span > رقم الفنى </span>
              <span style="float: left;"> 351 </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-user"></i>
              <span > اسم الفنى </span>
              <span style="float: left;"> محمد جابر </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-flag"></i>
              <span  > الجنسية </span>
              <span style="float: left;"> مصرى </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-mobile"></i>
              <span > رقم الموبايل </span>
              <span style="margin-right: 19%; "> 0562635487 </span>
              <i class="fas fa-copy" style="    float: left; padding-top: 2%; "></i>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-envelope"></i>
              <span >  البريد الإلكتروني </span>
              <span style="float: left;"> mohamed@vid.com.sa </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-id-card-alt"></i>
              <span  > نوع التعاقد </span>
              <span style="float: left;"> موظف </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fab fa-pinterest"></i>
              <span  > فاعلية الحساب </span>
              <span style="color: green ; float: left;"> نشط </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-calendar-week"></i>
              <span  > تاريخ الاضافة</span>
              <span style="float: left;"> 25/5/2020 </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-user-plus"></i>
              <span  > إضافة بواسطة </span>
              <span style="float: left;"> Super admin </span>
            </h5> 
            <h5 class="grayLabel"> 
              <i class="fas fa-user-shield"></i>
              <span  > الخدمات </span>
              <span style="float: left;"> مكيفات - سباكة - كهرباء </span>
            </h5> 
            <h5 class="blueLabel"> 
              <i class="fas fa-map-marker"></i>
              <span  > أماكن الخدمات </span>
              <span style="float: left;"> جدة - الرياض  </span>
            </h5> 
          </div>

        </div>

        <div class="page_block" style="width:20% ; border-left: 1px dotted #707070;">
          <div class="technicalImg">
            <i class="fas fa-image"></i>
            <span> صورة الفنى  </span>
            <img src="" >
          </div>

          <div class="mapImg">
            <i class="fas fa-map-marker"></i>
            <span> دبوس الخريطة </span>
            <img src="" >
          </div>
         
        </div>

      </div>
    </div>
  </div>
</div>
