<div class="main_page form-taxs-mng">
  <app-side-menu-mgt></app-side-menu-mgt>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title_title"></div>

    <div class="page_body" [ngClass]="{ pageNotLoaded: !pageLoaded }">
      <h4 style="    margin-bottom: 27px;  margin-top: -14px;">
        <a style="color: #000;" matBadgePosition="after" routerLink="/managment"
          >الصفحة الرئيسية
        </a>
        <
        <a
          style="color: #000;"
          matBadgePosition="after"
          routerLink="/receipts-managment"
        >
          ادارة الفواتير
        </a>
        < أنواع الضرائب
      </h4>
      <div class="button-add-taxs">
        <button routerLink="/receipts-managment/all-taxes/add-tax">
          <i class="fal fa-file-plus"></i> اضافة ضريبة جديد
        </button>
      </div>
      <div class="page_body_main">
        <app-alerts></app-alerts>

        <div class="page_block">
          <h3 style="color: #FF4600;     padding: 10px;">
            <i
              style="color: #FF4600; margin-left: 5px;"
              class="fas fa-receipt"
            ></i
            >أنواع الضرائب
          </h3>

          <br /><br />
          <table
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            width="100%"
            dir="rtl"
            id="display_table"
          >
            <!-- id Column -->
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>

            <!-- tax_name Column -->
            <ng-container matColumnDef="tax_name">
              <th mat-header-cell *matHeaderCellDef>اسم الضريبة</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>

            <!-- tax_name_on_invoice Column -->
            <ng-container matColumnDef="tax_name_on_invoice">
              <th mat-header-cell *matHeaderCellDef>اسم الضريبة في الفاتورة</th>
              <td mat-cell *matCellDef="let element">
                {{ element.type }}
              </td>
            </ng-container>

            <!-- value_tax Column -->
            <ng-container matColumnDef="value_tax">
              <th mat-header-cell *matHeaderCellDef>قيمة الضريبة</th>
              <td mat-cell *matCellDef="let element">
                {{ element.value }}
                {{ element.method == 'percent' ? '%' : 'SR' }}
              </td>
            </ng-container>

            <!-- tax_details Column -->
            <ng-container matColumnDef="details">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element"
                (mouseenter)="hideme[element.id] = !hideme[element.id]"
                (mouseleave)="hideme[element.id] = !hideme[element.id]"
              >
                <div
                  id="showOrdercontrols"
                  [ngClass]="{ showtestOrderControl: showOrdercontrolst }"
                  *ngIf="hideme[element.id]"
                >
                  <button
                    (click)="openDeletePopup(element.id, element.set_name)"
                    class="basic_button"
                    type="button"
                  >
                    <i class="fal fa-trash-alt"></i>
                    <p class="">Delete</p>
                  </button>

                  <button class="basic_button" type="button">
                    <a
                      [routerLink]="['/receipts-managment/all-taxes/add-tax']"
                      [queryParams]="{
                        companyId: element.id,
                        updatedMode: true
                      }"
                    >
                      <i class="fal fa-edit"></i>
                    </a>
                    <p>Edit</p>
                  </button>
                </div>
                <div class="basic_button" type="button">
                  <img src="../../../../assets/img/Component8.svg" alt="" />
                </div>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!-- <div class="pagination">
            <ul>
              <li class="pagination_button ">
                <a (click)="goPage(1)">الصفحة الأولي</a>
              </li>
              <li class="previousPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId - 1)"
                  type="button"
                  [disabled]="firstPage"
                >
                  <i class="fas fa-angle-right"></i>
                </button>
              </li>
              <li *ngFor="let i of pagesNumbers" (click)="goPage(i)">
                <a [class]="pageId == i ? 'active' : ''">{{ i }}</a>
              </li>
              <li class="nextPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId + 1)"
                  type="button"
                  [disabled]="lastPage"
                >
                  <i class="fas fa-angle-left"></i>
                </button>
              </li>
              <li class="pagination_button ">
                <a (click)="goPage(pagesNumbers.length)">الصفحة الأخيرة</a>
              </li>
            </ul>
          </div> -->
          <div class="pagination">
            <ul>
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page == totalPage"
                  (click)="nextPage(current_page)"
                >
                  <i class="fas fa-caret-right"></i>
                </button>
              </li>
              <li style="margin: 10px; text-align: center; line-height: 31px;">
                <div class="numberPagination">
                  {{ current_page }}
                </div>
              </li>
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page <= 1"
                  (click)="prevPage(current_page)"
                >
                  <i class="fas fa-caret-left"></i>
                </button>
              </li>
              <li style="margin: 15px 10px; box-shadow: none;">
                <div class="pageNum">
                  من
                  <span>{{ totalPage }}</span>
                  صفحة
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" *ngIf="showDeletePopup">
    <div id="backDrop"></div>
    <div id="popupData">
      <i class="fas fa-times" (click)="closePopup()"></i>
      <h2>
        هل انت متأكد من حذف الضريبة<br />
        {{ deletedUserName }}
      </h2>
      <div id="confirmationButtons">
        <button type="button" (click)="deleteTechnical()">نعم متأكد</button>
        <button type="button" (click)="closePopup()">إلغاء الحذف</button>
      </div>
    </div>
  </div>
</div>
