.main_page {
  height: 100vh;
  background: #fff;
}

.main_page .middle_page {

  .block {
    background: #fff;

    .number-company {
      width: 218px;
      height: 102px;
      border-radius: 10px;
      background: #fff;
      box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.16);

      position: absolute;
      top: 148px;
      display: flex;

      .back-color {

        margin-right: 17px;
        margin-top: 0;
        text-align: center;

        img {

          margin-top: 18px;
          width: 31px;



        }

        h4 {
          font-family: 'Arabic gess med';
          font-weight: 300;
          font-size: 12px;
          text-align: center;
          color: #000;
          margin-top: 5px;
          text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        }
      }

      .count-name {
        margin-right: 30px;
        margin-top: 19px;

        p {
          font-family: "GE SS Two";
          font-weight: 300;
          font-size: 13px;

          color: #000;
          opacity: 0.52;
          text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        }
      }

      .count-nm {
        margin-right: 55px;
        margin-top: 6px;
        position: absolute;
        left: 14px;

        p {
          font-family: Roboto;
          font-weight: normal;
          font-size: 30px;
          text-align: left;
          color: #242a2d;


        }

      }

    }

    .num2 {
      margin-right: 251px;

      .back-color {
        h4 {
          color: #00AF80;
        }
      }

      .count-nm {
        p {
          color: #00AF80;
        }
      }
    }


    .num3 {
      margin-right: 505px;

      .back-color {
        h4 {
          color: #EE9039;
        }
      }

      .count-nm {
        p {
          color: #EE9039;
        }
      }
    }

    .num4 {
      margin-right: 760px;

      .back-color {
        h4 {
          color: #FB5454;
        }
      }

      .count-nm {
        p {
          color: #FB5454;
        }

        .p-s {
          font-size: 14px;
        }

      }



    }

    .start-first-title {
      padding-top: 70px;

      h3 {

        font-weight: 500;
        font-size: 15px;
        text-align: center;
        color: #000;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        margin-right: 35px;
        margin-top: 3px;

      }

      h4 {
        margin-top: 10px;

        img {
          margin-left: 10px;
        }
      }

    }
  }

  .main_block {

    padding-top: 0;
  }

  .totalSearch {
    margin-bottom: 4px;
  }

  .totalSearch p {

    margin-right: 0;
  }

  #display_table tr {
    height: 47px;
  }

  .add-comp {
    position: absolute;
    left: 39px;
    top: 114px;
    text-align: center;

    .back-color {
      img {
        width: 140px;
        border-radius: 50%;
      }

      .active {
        background: #2CA103;
        padding: 6px 19px;
        position: absolute;
        top: 0px;
        right: 21px;
        border-radius: 7px;
        box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
        color: #fff;

        span {

          font-weight: 300;
          font-size: 13px;
          text-align: center;
          color: #fff;
          text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

        }

      }
    }

    p {
      margin-top: -8px;
      font-weight: 300;
      font-size: 15px;
      color: #000;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      a {

        font-weight: 300;
        font-size: 15px;
        text-align: center;
        text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
      }
    }

  }
}


.main_page .page_body_main .page_block {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  background: #fff;
  margin-bottom: 50px;
  padding: 15px 20px;

  width: 528px;
  height: 260px;
  border-radius: 10px;
  background: #fff;
  border: 2px dotted #707070a8;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  margin-top: 130px;

}

.main_page .page_body_main .page_block .controlers .controller {
  p {
    text-align: center;
  }

  a {
    margin-bottom: 9px;
    width: 106px;
    height: 106px;
    border-radius: 10px;
    background: #fff;
    border: 1px solid rgba(112, 112, 112, 0.28);
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    padding: 0;

    img {
      padding-top: 33px;
    }

  }

}

.main_page .page_body_main .page_block .controlers .controller {
  margin-left: 12px;
  margin-top: 32px;
  margin-right: 42px;
}

.main_page .page_body_main .page_block h4 {
  color: #2a314e;
  font-family: "Arabic Light";
  font-size: 17px;
  margin-bottom: -16px;
  margin-top: 13px;

  img {
    margin-left: 10px;
    width: 26px;
  }
}


//################################### End Of Media ###################################
.header {
  padding: 0px 44px;
  padding-right: 58px;
  background: #242a2d;
  height: 203px;

  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  .borderheader {
    border-bottom: 1px solid #ffffff3b;
    height: 49px;

    .header-side {
      position: absolute;
      right: 289px;
      top: 12px;
    }
  }

  .header-title {
    padding-top: 20px;
    padding-right: 10px;
    text-align: right;

    span {
      color: #757575;
      font-size: 13px;
    }
  }
}