#phoneKey {
  left: 22px;
  background: #eeeeee0d;
}

.mat-form-field-appearance-outline .mat-form-field-outline
{
  box-shadow: none !important;
  border: none !important;
}
.fontRole {
  font-family: "GE SS Two" !important;
  font-weight: 300;
  font-size: 17px;
  text-align: right;
  color: #343434;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);




}

.main_block {

  padding-top: 4px;
}

.main_page .page_body_title h3 {
  color: #2a314e;
  font-family: 'Arabic gess Light';
  font-size: 20px;
  /* margin-right: 31px; */
  /* font-family: "GE SS Two"; */
  /* font-weight: 300; */
  font-size: 19px;
  /* text-align: right; */
  color: #464646;
  /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
  font-weight: 100 !important;
  margin-right: 11px;
  text-shadow: none;
}
.main_page .page_body_title {
  padding: 30px 30px;
  display: flex;
  justify-content: flex-start;
}

.main_page .page_body_main .page_block{
  padding: 15px 47px;
  height: 77vh;
}
#formPage .formContainer .page_block {
  background: #fbfbff;
  /* padding-top: 33px; */
  padding-top: 14px;
}
// start new style client details data
.clientDetails-name {
  padding: 0px 50px;
  position: absolute;
  padding-left: 35px;
  left: 0;

  h3 {
    font-family: 'Arabic gess light';

  }

  ul {
    display: flex;

    li {
      margin-bottom: 1px;
      margin-left: 15px;
      font-family: 'Arabic gess light';

    }

    .clientDetails-id {
      background: #27282a;
      color: #fff;
      padding: 0px 10px 0px 5px;
      border-radius: 4px;
      margin-left: 10px;
    }

    .cilentAccount-type {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #Fff;
      padding: 3px 18px;
      width: 105px;
      height: 30px;
      background: #000000;
      border: 2px solid rgba(112, 112, 112, 0.34);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      padding-bottom: 5px;

    }

    .cilentAccount-type-0 {

      background: #1e9a19;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: 'Arabic gess light';
      font-size: 15px;
      text-align: center;
      color: #fff;
      padding: 7px 29px;
      padding-bottom: 7px;


    }

    .cilentAccount-type-10 {

      background: red;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: 'Arabic gess light';
      font-size: 15px;
      text-align: center;
      color: #fff;
      padding: 7px 29px;
      padding-bottom: 7px;


    }

    .cilentAccount-type-1 {
      width: 125px;
      height: 30px;
      background: #444;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: "GE SS Two";
      font-weight: 300;
      font-size: 15px;
      text-align: right;
      color: #fff;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
      padding: 7px 29px;

    }
  }
}

.button-add-taxs {
  position: absolute;
  margin-top: -40px;
  left: 59px;

  button {
    padding-left: 19px;
    height: auto;
    background: #f6a811;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;

    font-size: 14px;
    margin-left: 9px;

    i {

      background: #242a2d;
      color: #fff;
      font-size: 25px;
      padding: 10px;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 14px;
      margin-right: -7px;

      font-family: "Font Awesome 5 Pro";
      font-size: 18px;
      text-align: center;
      color: #fff;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);



    }
  }
}


.button-add-taxs {
  position: absolute;
  margin-top: -50px;
  left: 87px;

  button {
    padding-left: 30px;
    height: auto;
    background: #f6a811;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    font-family: 'Arabic gess light';
    font-size: 14px;
    margin-left: 5px;

    i {

      background: #242a2d;
      color: #fff;
      font-size: 25px;
      padding: 2px;
      padding-right: 8px;
      padding-left: 13px;
      margin-left: 20px;
      margin-right: 3px;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      color: #fff;
      padding-bottom: 11px;
      padding-top: 10px;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);



    }
  }
}

