<div class="main_page change_password">
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title_title">
      <h3>    <i class="fas fa-lock"></i>  تغيير كلمة السر </h3>
    </div>
    <div class="page_body">
      <div class="page_body_main">
        <app-alerts></app-alerts>
        <div class="page_block">
         <div class="alert-password">
           <p>
            <i class="fas fa-exclamation-triangle"></i>
            لقد قمت بطلب تغيير كلمة السر . للتغيير لا بد من كتابة الكود المرسل لك عبر الايميل المسجل على النظام
            <span> ramy@vid.com.sa </span>
           </p>
         </div>



        <div class="recaptcha">


        </div>


        <div class="button-add-taxs">
          <button >
            <i class="fas fa-envelope"></i> ارسال الكود الان
          </button>
          <a>ارسال الرسالة مرة أخرى</a>
        </div>




        <div class="activation_code">
          <h5>  <i class="fas fa-bullhorn"></i>  كود التفعيل </h5>



          <div class="main_block filterMainBlock">
            <form>
              <div class="filter_form">
            
              <div style="    margin-right: 0;" class="form_input" id="smallFillterInputStyle">
                <mat-form-field appearance="outline" dir="rtl">
                  <input               
                    matInput
                    placeholder=""
                    autocomplete="off"               
                  />               
                </mat-form-field>
              </div>
              <span>-</span>
              <div class="form_input" id="smallFillterInputStyle">

                <mat-form-field appearance="outline" dir="rtl">
                  <input               
                    matInput
                    placeholder=""
                    autocomplete="off"               
                  />               
                </mat-form-field>
              </div>
              <span>-</span>
              <div class="form_input" id="smallFillterInputStyle">

                <mat-form-field appearance="outline" dir="rtl">
                  <input               
                    matInput
                    placeholder=""
                    autocomplete="off"               
                  />               
                </mat-form-field>
              </div>
              <span>-</span>
              <div class="form_input" id="smallFillterInputStyle">

                <mat-form-field appearance="outline" dir="rtl">
                  <input               
                    matInput
                    placeholder=""
                    autocomplete="off"               
                  />               
                </mat-form-field>
              </div>
            </div>
              <div style="    margin-top: 0px;" class="button-add-taxs">
                <button >
                  <i class="fas fa-envelope"></i> تأكيد الكود
                </button>
              </div>

              </form>
              </div>


        </div>


        
        </div>
      </div>
    </div>
  </div>
</div>
