.page_block{
    padding: 42px 43px !important;
    .alert-password{
  
            border-radius: 8px;
            background: #ecc;
            margin-bottom: 7%;
           

        p{
        font-family: 'Arabic gess light';
        font-weight: 300;
        font-size: 15px;
        padding: 20px 19px;
        color: #404040;
        i{

        font-size: 16px;
        margin-left: 10px;
        color: #404040;
        margin-right: 14px;

        }

        span{
            font-family: Roboto;
            font-weight: 300;
            font-size: 15px;
            margin-right: 10px;
            color: #404040;

        }

        }
    }

    .recaptcha{
        width: 178.5px;
        height: 60.5px;
        border: 1px solid #b4b4b4;

    }
    .button-add-taxs {
        margin-top: 27px;
        display: inline-grid;
    
        button {
          padding-left: 54px;
          height: auto;
          background: #f6a811;
          font-family: 'Arabic gess light';
          border: none;
            font-weight: 300;
            font-size: 15px;
            text-align: left;
            color: #404040;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);


    
          i {
    
            background: #333;
            color: #fff;
            font-size: 25px;
            padding: 10px;
            padding-right: 15px;
            padding-left: 15px;
            margin-left: 40px;;
            margin-right: 3px;
            font-size: 16px;
            color: #fff;
            padding: 17px 21px;

    
    
    
          }
        }
        a{

        font-weight: 300;
        font-size: 15px;
        color: #404040;
        margin-top: 15px;
        font-family: 'Arabic gess light';

        }
      }



      .activation_code{
          margin-top: 5%;
          h5{
            font-family: 'Arabic gess light';
            font-weight: 300;
            font-size: 17px;
            color: #404040;

            i{

                font-size: 16px;
                color: #404040;
                margin-left: 6px;
            }
            
          }

          form {
            flex-wrap: wrap;
        }
          .filter_form {
            display: flex;
            span{
                padding-top: 17px;
                font-family: 'Arabic gess med';
                font-weight: 500;
                font-size: 16px;
                color: #404040;
            }
            #nameEmailFillterInputStyle mat-form-field {
              width: calc(320px);
            }
          
            #smallFillterInputStyle {
                width: calc(21% / 4);
                margin-right: 5px;
                text-align: center;
                margin-left: 5px;
            }

            .mat-form-field-appearance-outline .mat-form-field-infix {
                padding: 1.2em 0 1.2em 0 !important;
            }
          }
      }



}