#NameFillterInputStyle {
  width: calc(350px);
  margin-left: 10px;
}

#NameFillterInputStyle mat-form-field {
  width: calc(350px);

  .mat-form-field-wrapper {
    width: 100%;
  }
}

@media (max-width: 1399px) and (min-width: 700px) {
  .filter_form {
    #NameFillterInputStyle {
      width: calc(95% / 2);
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.resetInput {
  color: #95989a;
  margin-top: 2px;
  background-color: white;
}

@media (max-width: 1399px) and (min-width: 992px) {
  #NameFillterInputStyle {
    width: 100%;
  }

  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }

  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    display: inline-flex;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }

  .mat-form-field-wrapper {
    width: 75%;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    width: 428px !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #NameFillterInputStyle {
    width: 100%;
  }

  mat-form-field-wrapper {
    width: 70%;
  }

  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }

  .filter_form mat-form-field input {
    width: 75%;
  }
}

@media (max-width: 767px) {
  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }

  #NameFillterInputStyle {
    width: 100%;
  }
}

.statue {
  width: 69px;
  height: 35px;
  border-radius: 7px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px 15px;
  color: #FFF;
}

.active-1 {
  background: #2ca103;
}

.active-0 {
  background: red;
}

#showOrdercontrols {
  position: absolute;
  width: max-content;
  height: max-content;
  border: 1px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  margin-top: -9px;
  margin-right: -18px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;

  img {
    background: transparent;
    border: none;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // start toolTip in details menu controls
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  button {
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    &:first-child {
      .tooltiptext {
        right: -15px;
      }
    }

    &:last-child {
      .tooltiptext {
        left: 40px;
      }
    }
  }

  // end toolTip in details menu controls
}

.arrow {
  background: #f5f5f5;
  // padding: 7px 17px;
  border: 1px solid rgba(112, 112, 112, 0.38);
  width: 31px;
  height: 31px;

  i {
    font-size: 21px;
    color: gray;
    vertical-align: middle;
  }
}

.numberPagination {
  background: #fff;
  // padding: 7px 17px;
  border: 1px solid rgba(112, 112, 112, 0.38);
  width: 42px;
  height: 31px
}
