<div style="background: #fff;    height: 100vh;">
  <div style="display: flex;padding-top: 29px;">
    <div class="right_style_create">
      <img src="../../../../assets/img/4.png">
      <h2>يتم الأن عملية تحديث للنظام</h2>
      <h2>نرجو الانتظار الى ان تكتكمل عملية التحديث</h2>
    </div>
  
    <div class="left_style_create">
      <img style="    width: 100%;
      margin-top: 12%;" src="../../../../assets/img/Group 40.png">
    </div>
  </div>


  <!-- <div class="page_block">
    <h2 style="text-align: center;">
      <i class="fal fa-plug" style="margin-left: 10px; font-size: 32px;"></i> إدارة النظام
    </h2>
    <div class="controlers">
      
      <div class="controller" style="margin-right: 30px;">
        <a style="background: #5CA40A;"  routerLink="/system-managment"> <i class="far fa-check-circle"></i></a>
        <p> الذهاب  لتشغيل النظام</p>
      </div>
    
    </div>
  </div> -->



  </div>
  