<div class=" main_page form-taxs-mng invoice-page-all" id="formPage">
  <app-alerts></app-alerts>
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header> </app-header>
    </div>
    <div
      class="page_body formContainer"
      [ngClass]="{ pageNotLoaded: !pageLoaded }"
    >
      <form [formGroup]="resourceInvoiceForm">
        <div class="page_body_title">
          <h4><i class="fas fa-file-invoice-dollar"></i>إصدار فاتورة</h4>
          <div class="page_body_main_buttons"></div>
        </div>
        <h4
          style="  margin-bottom: 27px;  margin-top: -5px;     color: #464646; margin-right: 22px;font-size: 13px;"
        >
          <a style="color: #464646;" matBadgePosition="after" routerLink="/home"
            >الصفحة الرئيسية
          </a>
          > <a> الفواتير </a> اصدار فاتورة مصدر
        </h4>
        <div class="page-block-edit-background">
          <div style="display: flex;">
            <div class="style-right-block-details">
              <div class="details-right-client-1">
                <span>{{
                  updatedInvoice.receipt_number
                    ? updatedInvoice.receipt_number
                    : 'مصدر'
                }}</span>
                <h5><i class="fal fa-file-invoice-dollar"></i>إصدار فاتورة</h5>
              </div>
              <div style="margin-bottom: 19px;">
                <label
                  ><span> <i class="fas fa-star-half-alt"></i></span> اسم المصدر
                </label>
                <div id="client">
                  <mat-form-field
                    *ngIf="!updatedInvoice"
                    id=""
                    dir="rtl"
                    appearance="outline"
                    style="display: block;"
                  >
                    <input
                      type="text"
                      placeholder="اسم المصدر"
                      aria-label="Number"
                      matInput
                      formControlName="sourceObj"
                      [matAutocomplete]="clientAutoComplete"
                      id="clientInput"
                      [value]="
                        updatedInvoice.client ? updatedInvoice.client.name : ''
                      "
                    />
                    <mat-autocomplete
                      #clientAutoComplete="matAutocomplete"
                      [displayWith]="displayOptionsFunction"
                    >
                      <ng-container *ngIf="sourcesArray.length !== 0">
                        <mat-option
                          *ngFor="let option of sourcesFilteredOptions | async"
                          [value]="option"
                        >
                          {{ option.name }}
                        </mat-option>
                      </ng-container>
                    </mat-autocomplete>
                  </mat-form-field>
                </div>
                <div
                  [@fade]
                  class="validationState  errorState"
                  style="color: #f44336;
                bottom: 19px;
font-size: 14px;
position: relative;
right: -2px;"
                  *ngIf="
                    (resourceInvoiceForm.get('sourceObj').status ===
                      'INVALID' &&
                      resourceInvoiceForm.get('sourceObj').touched) ||
                    (submitted &&
                      resourceInvoiceForm.get('sourceObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال المصدر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  style="color: #1abf00;
                bottom: 19px;
font-size: 14px;
position: relative;
right: -2px;"
                  *ngIf="
                    resourceInvoiceForm.get('sourceObj').status === 'VALID'
                  "
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
                <p *ngIf="updatedInvoice">
                  {{ updatedInvoice.client ? updatedInvoice.client.name : '' }}
                </p>
              </div>
              <div style="margin-bottom: 19px;">
                <div>
                  <label>
                    <span> <i class="fas fa-user"></i></span> اسم المصدر فى
                    الفاتورة
                  </label>
                  <mat-form-field
                    style="display: block;"
                    dir="rtl"
                    appearance="outline"
                  >
                    <input
                      type="text"
                      placeholder="اسم المصدر  فى الفاتورة"
                      matInput
                      formControlName="sourceName"
                    />
                  </mat-form-field>
                  <div
                    [@fade]
                    class="validationState  errorState"
                    style="color: #f44336;
            bottom: 19px;
font-size: 14px;
position: relative;
right: -2px;"
                    *ngIf="
                      (resourceInvoiceForm.get('sourceName').status ===
                        'INVALID' &&
                        resourceInvoiceForm.get('sourceName').touched) ||
                      (submitted &&
                        resourceInvoiceForm.get('sourceName').status ===
                          'INVALID')
                    "
                  >
                    <i class="fas fa-times"></i>
                    برجاء إدخال اسم المصدر
                  </div>
                  <div
                    [@fade]
                    class="validationState successState"
                    style="color: #1abf00;
            bottom: 19px;
font-size: 14px;
position: relative;
right: -2px;"
                    *ngIf="
                      resourceInvoiceForm.get('sourceName').status === 'VALID'
                    "
                  >
                    <i class="fas fa-check"></i>
                    إدخال صحيح
                  </div>
                </div>
              </div>
              <div style="    margin-bottom: 19px;">
                <div>
                  <label>
                    <span> <i class="fas fa-calendar-week"></i></span>
                    تاريخ اصدار الفاتورة</label
                  >
                  <mat-form-field
                    appearance="outline"
                    dir="rtl"
                    style="display: block;"
                  >
                    <input
                      class="filterInput"
                      matInput
                      [matDatepicker]="fromFilterDate"
                      [placeholder]="date"
                      (dateInput)="orderDateChanged($event)"
                      id="inoviceDate"
                    />
                    <mat-datepicker-toggle
                      class="dateButton"
                      [for]="fromFilterDate"
                    >
                    </mat-datepicker-toggle>
                    <mat-datepicker touchUi #fromFilterDate> </mat-datepicker>
                  </mat-form-field>
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  style="color: #1abf00;
          bottom: 19px;
font-size: 14px;
position: relative;
right: -2px;"
                  *ngIf="date"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div
                style="    margin-left: 18px;

                  height: 83px;
                  padding-left: 18px;"
              >
                <label
                  ><span> <i class="fas fa-phone-volume"></i></span> رقم المصدر
                </label>
                <p *ngIf="!updatedMode">
                  {{ clientObject.id ? clientObject.id : '-' }}
                </p>
                <p *ngIf="updatedMode">
                  {{ updatedInvoice.client ? updatedInvoice.client.id : '' }}
                </p>
              </div>

              <div
                style="    margin-left: 18px;

                  height: 83px;
                  padding-left: 18px;"
              >
                <label
                  ><span><i class="fas fa-phone-volume"></i></span> هاتف المصدر
                </label>
                <p *ngIf="!updatedMode">
                  {{ clientObject.phone ? clientObject.phone : '-' }}
                </p>
                <p *ngIf="updatedMode">
                  {{ updatedInvoice.client ? updatedInvoice.client.phone : '' }}
                </p>
              </div>
            </div>
            <div class="style-left-block-details">
              <div class="style-block-left">
                <h4>بنود اصدار الفاتورة</h4>
                <ul style="   margin-top: 31px;">
                  <div id="addItemsForm" class="fullWidth">
                    <li style="    width: 100%;    margin-left: 37px;">
                      <div class="form_field">
                        <label>نوع البند</label>
                        <mat-form-field dir="rtl" appearance="outline">
                          <input
                            id="orderItemType"
                            type="text"
                            placeholder="نوع البند"
                            aria-label="Number"
                            matInput
                            formControlName="orderItemTypesObj"
                            [matAutocomplete]="orderItemsTypes"
                            [value]="orderItemTypeName ? orderItemTypeName : ''"
                          />
                          <button
                            type="button"
                            class="resetInput"
                            (click)="xReset('orderItemType')"
                          >
                            <i class="fas fa-times-circle"></i>
                          </button>
                          <i class="fal fa-swords-laser"></i>
                          <mat-autocomplete
                            #orderItemsTypes="matAutocomplete"
                            [displayWith]="displayOptionsFunction"
                          >
                            <mat-option
                              *ngFor="
                                let option of orderItemTypesFilteredOptions
                                  | async
                              "
                              [value]="option"
                            >
                              {{ option.name }}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                        <div
                          style="
                        position: relative;
                        top: -15px;"
                          class="validationState errorState"
                          *ngIf="
                            !orderItemTypeId &&
                            resourceInvoiceForm.controls.orderItemTypesObj
                              .touched &&
                            updateMode
                          "
                        >
                          برجاء ادخال الخدمة بشكل صحيح
                        </div>
                        <div
                          style="
                        position: relative;
                        top: -15px;"
                          class="validationState successState"
                          *ngIf="orderItemTypeId"
                        >
                          إدخال صحيح
                        </div>
                      </div>
                    </li>
                    <li style="width: 50%;">
                      <div class="form_field">
                        <label>العدد </label>
                        <mat-form-field appearance="outline" dir="rtl">
                          <input
                            id="number"
                            matInput
                            appOnlyNumbers="true"
                            autocomplete="off"
                            placeholder=" العدد"
                            [value]="number ? number : ''"
                            (keyup)="numberChange($event.target.value)"
                          />
                          <button
                            type="button"
                            class="resetInput"
                            (click)="xReset('number')"
                          >
                            <i class="fas fa-times-circle"></i>
                          </button>
                          <i class="fas fa-pennant"></i>
                        </mat-form-field>
                      </div>
                    </li>
                    <li style="width: 50%; margin-left: 0;">
                      <div class="form_field ">
                        <label>
                          سعر الوحدة
                          <span
                            style="font-family: Roboto; font-weight: normal; font-size: 11px; color: #7a7a7a; "
                          >
                            SAR</span
                          ></label
                        >
                        <mat-form-field appearance="outline" dir="rtl">
                          <input
                            id="orderItemPrice"
                            (keyup)="itemPriceChanged($event.target.value)"
                            appOnlyNumbers="true"
                            matInput
                            placeholder="سعر البند"
                            autocomplete="off"
                            [value]="orderItemPrice ? orderItemPrice : ''"
                          />
                          <button
                            type="button"
                            class="resetInput"
                            (click)="xReset('orderItemPrice')"
                          >
                            <i class="fas fa-times-circle"></i>
                          </button>
                          <i class="fas fa-coins"></i>
                        </mat-form-field>
                      </div>
                    </li>
                    <li style="display: none;"></li>
                  </div>
                </ul>
                <div class="form_field" *ngIf="!newModel">
                  <label> تفاصيل البند</label>
                  <mat-form-field dir="rtl" appearance="outline">
                    <input
                      id="orderItemName"
                      matInput
                      placeholder="تفاصيل البند"
                      autocomplete="off"
                      aria-label="Number"
                      [matAutocomplete]="model"
                      formControlName="model"
                      [value]="modelName ? modelName : ''"
                    />
                    <button
                      type="button"
                      class="resetInput"
                      (click)="xReset('orderItemName')"
                    >
                      <i class="fas fa-times-circle"></i>
                    </button>
                    <i class="fas fa-quote-right"></i>
                    <mat-autocomplete
                      #model="matAutocomplete"
                      [displayWith]="displayOptionsFunction2"
                    >
                      <mat-option
                        *ngFor="let option of ModelsFilteredOptions | async"
                        [value]="option"
                      >
                        {{ option.set_name }}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
                  <div
                    class="validationState errorState"
                    style="
                        position: relative;
                        top: -15px;"
                    *ngIf="
                      !modelName &&
                      resourceInvoiceForm.controls.model.touched &&
                      updateMode
                    "
                  >
                    برجاء ادخال النموذج بشكل صحيح
                  </div>
                  <div
                    class="validationState successState"
                    style="
                  position: relative;
                  top: -15px;"
                    *ngIf="modelName"
                  >
                    إدخال صحيح
                  </div>
                </div>
                <div class="form_field" *ngIf="newModel">
                  <label> تفاصيل البند</label>
                  <mat-form-field dir="rtl" appearance="outline">
                    <input
                      id="detailsName"
                      matInput
                      placeholder="تفاصيل البند"
                      autocomplete="off"
                      (input)="modelNameValue($event)"
                      [value]="modelName ? modelName : ''"
                    />
                    <button
                      type="button"
                      class="resetInput"
                      (click)="xReset('detailsName')"
                    >
                      <i class="fas fa-times-circle"></i>
                    </button>
                    <i class="fas fa-quote-right"></i>
                  </mat-form-field>
                </div>
                <mat-checkbox (change)="showModel($event.checked)"
                  >اضافة بند جديد
                </mat-checkbox>
                <div class="form_field" style="margin-top: 20px;">
                  <label (click)="showNote = true" *ngIf="!showNote"
                    ><button>
                      <span class="far fa-plus"></span>
                    </button>
                    ملاحظات</label
                  >
                  <label (click)="showNote = false" *ngIf="showNote"
                    ><button>
                      <span class="far fa-minus"></span>
                    </button>
                    ملاحظات</label
                  >
                  <ckeditor
                    *ngIf="showNote"
                    id="orderItemDetails"
                    formControlName="orderItemDetails"
                    (change)="itemDetailsChanged($event.editor.getData())"
                    [config]="config"
                    [editor]="Editor"
                    tagName="textarea"
                  ></ckeditor>
                </div>
                <div class="button-save-enter">
                  <p>
                    الاجمالى <span>SAR {{ total ? total : 0 }}</span>
                  </p>
                  <button
                    class="button-add-taxs"
                    type="button"
                    (click)="addItem()"
                    [disabled]="
                      !modelName ||
                      !orderItemPrice ||
                      !number ||
                      !orderItemTypeId
                    "
                    *ngIf="!updateMode"
                  >
                    <i class="fal fa-file-plus"></i> اضافة
                  </button>
                  <button
                    class="button-add-taxs"
                    type="button"
                    (click)="updateItem()"
                    [disabled]="
                      !modelName ||
                      !orderItemPrice ||
                      !number ||
                      !orderItemTypeId
                    "
                    *ngIf="updateMode"
                  >
                    <i class="fal fa-file-plus"></i> تعديل
                  </button>
                </div>
              </div>
              <br />
              <table
                mat-table
                [dataSource]="dataSource"
                class="mat-elevation-z8"
                width="100%"
                dir="rtl"
                id="display_table"
              >
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef>#</th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="Item_type">
                  <th mat-header-cell *matHeaderCellDef>نوع البند</th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="text-align: right;"
                  >
                    <span *ngIf="element.type == 32" style="color: orange"
                      >قطع غيار</span
                    >
                    <span *ngIf="element.type == 31" style="color: green"
                      >خدمة</span
                    >
                    <p>{{ element.name ? element.name : '' }}</p>
                  </td>
                </ng-container>
                <!-- <ng-container matColumnDef="Item_details">
                <th
                  style="    text-align: right;"
                  mat-header-cell
                  *matHeaderCellDef
                >
                  تفاصيل البند
                </th>
                <td
                  style="    text-align: right;"
                  mat-cell
                  *matCellDef="let element"
                >
                  {{ element.name ? element.name : "-" }}
                </td>
              </ng-container> -->
                <ng-container matColumnDef="the_number">
                  <th mat-header-cell *matHeaderCellDef>العدد</th>
                  <td mat-cell *matCellDef="let element">
                    {{ element.number }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="unit_price">
                  <th mat-header-cell *matHeaderCellDef>
                    سعر الوحدة
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="font-weight: 900;"
                  >
                    {{ element.item_price }}
                    <p
                      style="font-family: Roboto;font-size: 11px; color: #000; "
                    >
                      SAR
                    </p>
                  </td>
                </ng-container>
                <!-- notes Column -->
                <ng-container matColumnDef="notes">
                  <th
                    style="    width: 315px;"
                    mat-header-cell
                    *matHeaderCellDef
                  >
                    ملاحظات
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    [innerHTML]="
                      element.description
                        ? element.description
                        : 'لا توجد ملاحظات'
                    "
                  ></td>
                </ng-container>
                <!-- total Column -->
                <ng-container matColumnDef="total">
                  <th mat-header-cell *matHeaderCellDef>
                    الاجمالى
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element"
                    style="font-weight: 900;"
                  >
                    {{ element.price }}
                    <p
                      style="font-family: Roboto;font-size: 11px; color: #000; "
                    >
                      SAR
                    </p>
                  </td>
                </ng-container>
                <!-- details_invoice Column -->
                <ng-container matColumnDef="details_invoice">
                  <th mat-header-cell *matHeaderCellDef></th>
                  <td mat-cell *matCellDef="let element; let i = index">
                    <i
                      class="fas fa-edit"
                      style="cursor: pointer; font-size: 16px;"
                      (click)="updateItems(element, i)"
                    ></i>
                    <i
                      class="fas fa-trash-alt"
                      (click)="deleteListItem(i)"
                      style="margin-right: 20px; cursor: pointer; font-size: 16px;"
                    ></i>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>

              <br />
              <br />
              <div class="cal-total-invoice">
                <div class="cal-total-invoice-right">
                  <h4>اجمالى الفاتورة</h4>
                  <p>
                    {{ priceWithTaxes ? priceWithTaxes : 0 }} <span>SAR</span>
                  </p>
                  <mat-checkbox
                    *ngIf="!updatedMode"
                    [checked]="accept"
                    (change)="acceptance($event.checked)"
                    >أوافق على اصدار الفاتورة
                  </mat-checkbox>
                  <div class="taxs-edit">
                    <button
                      class="button-add-taxs"
                      type="button"
                      (click)="submit()"
                      *ngIf="!updatedMode"
                      [disabled]="
                        !invoiceItems.length ||
                        !resourceInvoiceForm.controls.sourceObj.value ||
                        !resourceInvoiceForm.controls.sourceName.value ||
                        !date ||
                        !accept
                      "
                    >
                      <i class="fal fa-file-plus"></i> اصدار الفاتورة
                    </button>
                    <button
                      class="button-add-taxs"
                      type="button"
                      (click)="updateInvo()"
                      *ngIf="updatedMode"
                      [disabled]="
                        !invoiceItems.length ||
                        !resourceInvoiceForm.controls.sourceObj.value ||
                        !resourceInvoiceForm.controls.sourceName.value ||
                        !date ||
                        !accept
                      "
                    >
                      <i class="fal fa-file-plus"></i> تعديل الفاتورة
                    </button>
                  </div>
                </div>
                <div class="cal-total-invoice-left">
                  <div class="total-invoice">
                    <div class="back-invoice">
                      <label> خصم على الفاتورة </label>
                      <div class="label-sar">
                        <label> <span>SAR</span> </label>
                      </div>
                      <input
                        placeholder="0"
                        formControlName="discount"
                        type="number"
                        (keyup)="discountValue($event.target.value)"
                        maxlength="{{ priceWithTaxes }}"
                      />
                    </div>
                    <div
                      style=" background: #4a4a4a;
                  border: 1px solid #707070;"
                      class="back-invoice"
                    >
                      <label style="color: #fff;">
                        اجمالى الفاتورة بدون ضرائب
                      </label>
                      <div class="label-sar">
                        <label> <span style="color: #fff;">SAR</span> </label>
                      </div>
                      <label
                        style="    position: relative; left: -46%;font-family: Roboto; font-size: 15px; color: #fff; text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); "
                      >
                        {{ totalPrice - discount }}</label
                      >
                    </div>
                    <div
                      style="text-align: right;"
                      class="total-invoce"
                      *ngIf="updatedMode"
                    >
                      <mat-checkbox
                        style="margin: 10px 0;"
                        [checked]="newTax"
                        (change)="newTaxes($event.checked)"
                        >الضرائب الجديدة
                      </mat-checkbox>
                    </div>
                    <div class="back-invoice" *ngFor="let tax of taxesArray">
                      <label>
                        {{ tax.type }}
                        <span
                          style="font-family: Roboto;  font-size: 15px; margin-right: 10px; font-weight: normal;     text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); "
                          >{{ tax.method == 'percent' ? '%' : ''
                          }}{{ tax.method == 'percent' ? tax.value : '' }}</span
                        >
                      </label>
                      <div class="label-sar">
                        <label><span>SAR</span></label>
                      </div>
                      <label
                        style="position: absolute; left: 7%;font-family: Roboto; font-size: 15px; color: #000; text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); "
                        >{{
                          tax.method == 'percent'
                            ? ((totalPrice - discount) * tax.value) / 100
                            : tax.value
                        }}</label
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
