.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.cell {
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  padding-bottom: 25px;
  border: 1px solid #ccc;
  padding: 15px;
  margin: 5px;
}

.form_field {
  img {
    padding: 0 !important;
    position: absolute;
    right: 80% !important;
    width: 30px;
    height: 30px;
    top: 3px;
  }
}

agm-map {
  #formPage .formContainer .page_block {
    background: none !important;
  }
}

.popupMap {
  width: 300px !important;
}

.adressTitle h5 {
  margin-bottom: -20px;
  margin-right: 15px;
}

#popupData img {
  float: right;
  left: 10;
  position: inherit;
  width: 15px;
  height: 15px;
  margin-left: 5px;
}

.selectOrderAdress {
  border: none;
  padding: 8px 15px;
  background: #606060;
  color: #ffff;
  font-size: 12px;
  border-radius: 2px;
}

#popupData ul li p,
#popupData ul li span {
  font-size: 11px;
  margin-right: 20px;
}

#popupData li {
  padding-bottom: 10px;
}

#popupData #checkSign {
  position: inherit;
  display: block;
  float: left;
  margin-left: 15px;
}

#popup #popupData {
  background: rgba(24, 28, 30, 0.95);
  background: none !important;

  h5 {
    font-family: 'Arabic gess light';
    font-size: 15px;
  }

  .popupMap {
    height: 150px !important;
    width: 150px !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  }

  .detailsCilentMap {
    margin-top: 30px;
    margin-bottom: 30px;

    .form_field {
      width: calc(50% - 15px);
      display: inline-block;
      position: relative;
      margin-right: 13px;

      .mat-form-field {
        width: 98%;
        text-align: right;
      }
    }
  }
}

#multiAdressPopup agm-map {
  height: calc(100vh - 600px) !important;
  display: block;
}

#multiLocationWarning {
  float: left;
  margin-top: 3px;
  color: #c70e00;
  left: 0;
  padding-right: 26px;
}

.closeMultiAddressPopupIcon {
  margin-top: -37px;
  margin-left: -15px;
  float: left;
  font-size: 20px;
  cursor: pointer;
  z-index: 9999;
}

.overlay {
  width: 100%;
  background: rgba(0, 0, 0, 0.63);
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 99999 !important;
  min-height: 100vh;
  left: 0 !important;
}

.multiAdressPopupContainer {
  justify-content: center;
  right: 50%;
}

#multiAdressPopupContainer {
  background: #ffff;
  position: absolute;
  z-index: 999999;
  padding: 50px 25px 25px 47px;
  border: 1px solid #000;
  box-shadow: 2px 1px 6px rgba(0, 0, 0, 0.19);
  top: 10px;
  margin-right: 5%;
  align-items: center;
  z-index: 999;
}

#popupData>div.popupMap>app-map>div>div>div>div>div {
  background: none;
}

agm-map {
  height: 250px !important;
}

.disabledofferInput input:disabled {
  background: #dddddd;
}

.time_data {
  position: relative;

  .time_list {
    background: #242a2d;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    position: absolute;
    top: 15px;
    left: 0;
    z-index: 999999;
    width: 500px;
    color: #242a2d;
    direction: ltr;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 6px;

    li {
      display: inline-block;
      background: #fff;
      border-radius: 4px;
      padding: 10px 0px;
      width: calc(20% - 10px);
      text-align: center;
      margin-bottom: 20px;
      margin-left: 10px;

      button {
        background: transparent;
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 14px;
        outline: none;

        span {
          display: inline-block;
          direction: ltr;
          margin: 0 3px;
        }
      }
    }

    &::before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -15px;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 15px solid #2f2f2f;
    }
  }
}

:host ::ng-deep .ck-editor__editable {
  min-height: 200px;

  ul {
    padding-right: 15px;

    li {
      list-style: circle;
    }
  }

  ol {
    padding-right: 15px;

    li {
      list-style-type: decimal;
    }
  }
}

#time_container {
  color: #575962;
  direction: ltr;
  width: 100%;
  display: table;
  padding-left: 0;
  padding-right: 0;
}

#time_container table {
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-collapse: collapse;
  border-spacing: 0;

  tr {
    border-bottom: 5px solid #ddd;
  }
}

#time_container table th {
  background: #393e46;
  color: #ffffff;
  padding: 10px 0;
  font-size: 15px;
  border: 1px solid #282b2f;
}

#time_container .table-radio {
  margin-left: 9px;
  position: relative;
  top: 4px;
}

#time_container .table-name {
  position: relative;
  top: 3px;
}

#time_container table td {
  padding: 0.75rem 2px;
  vertical-align: top;
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background-image: linear-gradient(#cccbcb 65%, rgba(255, 255, 255, 0) 0%);
    background-position: center;
    background-size: 1px 8px;
    background-repeat: repeat-y;
  }
}

#time_container table td:last-child {
  border-right: 0;
}

#time_container table td .table-minute {
  width: calc(100% / 60);
  height: 15px;
  display: inline-block;
}

#time_container .started {
  background: #0abde3;
}

#time_container .finished {
  background: #f6a811;
}

#time_container .admin_approved {
  background: #9dd037;
}

#time_container .technician_approved {
  background: #f9ca24;
}

#time_container .admin_pending {
  background: #eb4d4b;
}

#time_container .receipt_done {
  background: #1aaa55;
}

#time_container .waiting_admin {
  background: #be2edd;
}

.table-keys {
  margin: 30px 0;
  display: flex;
  justify-content: center;
  font-size: 12px;
}

#time_container table .times-bar {
  position: absolute;
  width: 100%;
  top: 55%;
  transform: translateY(-50%);
  z-index: 9;
}

#time_container table .hour-bar {
  position: relative;
}

.table-keys .span-bg {
  width: 15px;
  height: 15px;
  display: inline-block;
  margin-left: 5px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
}

.table-keys label {
  margin-right: 30px;
  margin-bottom: 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  float: left;
}

#timing {
  display: inline-block;
  width: 100%;
  padding-bottom: 21px;
  border-bottom: 1px solid #eee;
  margin-bottom: 10px;
}

.name-width {
  width: 20px;
  display: inline-block;
}

.name-Table-Radio {
  text-align: right;
  padding-right: 15px !important;
}

#timeTable {
  text-align: center;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
  border-radius: 6px;

  #tableHeader {
    display: flex;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

    div {
      width: calc(100% / 15);
      text-align: center;
      background: #242a2c;
      color: #fff;
      padding: 12px 0;
      border-right: 1px solid #151515;

      &:first-child {
        width: 22%;
        border-right: 0;
      }
    }
  }

  #tableBody {
    margin-top: 2px;

    .tableRow {
      display: flex;
      border-bottom: 1px dashed #ddd;

      .nameCell,
      .hourCell,
      .totelCell {
        padding: 15px 0;
        line-height: 1;
        box-sizing: border-box;
      }

      .nameCell {
        width: 12%;
        position: relative;
        text-align: right;
        padding-right: 20px;

        .techNameRadio {
          margin-left: 5px;
        }

        &::after {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 2px;
          height: 100%;
          background-image: linear-gradient(#cccbcb 65%,
              rgba(255, 255, 255, 0) 0%);
          background-position: center;
          background-size: 1px 8px;
          background-repeat: repeat-y;
        }
      }

      .loopCell {
        width: 88.4% !important;
        display: flex;
        position: relative;

        .order-bar {
          height: 20px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          z-index: 99;
          // animation: animateOrder 1s infinite ease-in-out;
          transition: .5s all ease-in-out;
        }

        .hourCell {
          text-align: center;
          width: calc(100% / 12);
          position: relative;

          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 2px;
            height: 100%;
            background-image: linear-gradient(#cccbcb 65%,
                rgba(255, 255, 255, 0) 0%);
            background-position: center;
            background-size: 1px 8px;
            background-repeat: repeat-y;
          }
        }
      }

      .totelCell {
        width: calc((100% / 19) * 2);
        text-align: center;
      }
    }
  }
}

.status-21 {
  background: #0abde3;
}

.status-22 {
  background: #f6a811;
}

.status-19 {
  background: #9dd037;
}

.status-20 {
  background: #f9ca24;
}

.status-41 {
  background: #0088f7;
}

.admin_pending {
  background: #eb4d4b;
}

.status-35 {
  background: #1aaa55;
}

.waiting_admin {
  background: #be2edd;
}

.timeTitleSpan {
  margin: 0 5px;
}

.popupOrder {
  bottom: 100%;
  background: #393e46;
  color: #fff;
  padding: 25px;
  line-height: 2;
  text-align: right;
  min-width: 250px;
  max-width: 400px;
  transform: translateX(50%);
  z-index: 999999;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

  &::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    bottom: -12px;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #393e46;
    right: 50%;
  }

  .popupOrderState {
    span {
      width: 20px;
      display: block;
      height: 20px;
      float: right;
      margin-left: 15px;
      position: relative;
      top: 4px;
    }
  }

  .popupList {
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    margin: 10px 0;
    padding: 10px 35px 10px 0;
    font-size: 14px;

    span {
      color: #ddd;
    }
  }
}

.progressState {
  color: #393d46;
  position: absolute;
  font-size: 14px;
  right: 60px;
  top: 0;

  i {
    animation: rotate 0.7s infinite linear;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#ordersMap {
  position: absolute;
  left: 0;
  bottom: -38px;
  background: #f6a810;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 4px 8px;
  border-radius: 3px;
  font-size: 12px;
}

app-map {
  width: 90%;
  z-index: 9;
}

@keyframes animateOrder {
  from {
    opacity: .1;
  }

  to {
    opacity: 1;
  }
}