.page_body_main_buttons {
  h4 {
    float: right;
    padding-top: 5px;
  }
}

.page_body_title {
  .update_Disabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    background: #9e9e9e;
    color: #fff;
    pointer-events: none;
  }
}
.fontS
{
  font-family: "GE SS Two";
  font-weight: 500;
  font-size: 15px;
  text-align: left;
  color: #000;

}
.fontSt
{
  font-family: 'Roboto';
font-weight: 300;
font-size: 15px;
text-align: left;
color: #000;
}
.page_body_main {
  .orderDetailsContainer {
    background: #fbfbff !important;
    padding-top: 0 !important;

    h3 {
      text-align: center;
      padding: 25px 0;
    }

    hr {
      background: #242a2d;
      height: 1px;
    }

    .clientDetails {
      ul {
        display: flex;
        flex-wrap: wrap;
        margin: 20px 0;

        li {
          width: 50%;
          margin: 15px 0;

          h4 {
            color: #242a2d;
          }

          h5 {
            margin-top: 15px;
            color: #565656;
            font-size: 14px;

            i {
              margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .orderDetails {
    h4 {
      color: #242a2d;
      margin-top: 35px;
    }

    h5 {
      margin-top: 15px;
      color: #565656;
      font-size: 14px;

      i {
        margin-left: 10px;
      }
    }

    .technicalReport {
      border: 1px solid;
      border-radius: 5px;
      padding: 20px 25px;
      text-align: justify;
      margin: 15px 22px;
    }
  }

  .orderStatusTable {
    .orderSatus {
      margin-top: 15px;

      .tableHeader {
        display: flex;
        background: #242a2d;
        border-radius: 6px;
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);

        .tableHeaderCell {
          color: #fff;
          padding: 15px 0;
          width: 25%;
          text-align: center;
        }
      }

      .tableBody {
        box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        margin-bottom: 10px;

        .tableRow {
          display: flex;
          border-bottom: 1px solid #ddd;

          &:last-child {
            border-bottom: 0;
          }

          .tableBodyCell {
            width: 25%;
            text-align: center;
            margin: 15px 0;

            &:first-child {
              text-align: right;

              span {
                display: inline-block;
                width: 20px;
                height: 20px;
                box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
                border-radius: 4px;
                position: relative;
                top: 4px;
                margin-left: 10px;
                margin-right: 65px;
              }
            }
          }
        }
      }
    }
  }

  .controlPanel {
    background: #fff;
    width: 100%;

    img {
      position: absolute;
    }

    h2 {
      margin-top: 4px;
      display: inline-block;

      i {
        margin-left: 11px;
      }
    }

    ul {
      display: flex;
      margin: 30px 0;

      li {
        text-align: center;
        margin-left: 40px;

        button {
          background: #f1f1f1;
          color: #fff;
          line-height: 1;
          margin: 0 auto;
          width: 70px;
          height: 70px;
          display: flex;
          font-size: 30px;
          margin-bottom: 15px;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          border: none;
          border: 1px solid #bcb4b4;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.16);
        }

        #cancelOrder {
          background: #ff00009c;

          img {
            width: 28px;
          }
        }

        #delayOrder {
          background: #ff00009c;
        }

        span {
          // width: 60px;
          display: block;
        }

        #editOrder {
          background: #ff00009c;
        }
      }
    }
  }
}

#locationLink {
  color: #7a00b4;
}

.orderDetails .profileDetails ul li {
  margin: 0 0;
}

// .orderDetails .profileDetails ul li h5 {
//   // border: 1px solid #ddd;
//   // font-size: 16px;
// }

.all_Block {
  display: flex;

  // height: 500px;

  .right_block {
    width: 61%;
  }

  .left_block {
    position: absolute;
    width: 32%;
    left: 50px;

    .mapDetails {
      .controlpanelTime {
        display: flex;

        img {
          position: relative;
        }

        .technicianOrder {
          width: 25%;
          text-align: center;
          padding-top: 15px;
          padding-bottom: 22px;

          img {
            width: 75px;
            margin-bottom: 10px;
          }
        }

        .timeOrder {
          width: 66%;
          margin-right: 10px;
          border-right: 1px solid #70707061;
          padding-right: 20px;
          padding-top: 13px;

          span {
            background: #e8e8e8;
            padding: 2px 18px;
            border: 1px solid #7070707a;
          }

          h5 {
            font-size: 13px;
            padding-bottom: 6px;
          }

          ul {
            margin: 23px 0;
          }
        }
      }

      .timeGO {
        float: left;
        margin-top: -16px;

        h5 {
          font-size: 13px;
        }

        .changeColorBlu {
          background: #6083c9;
          color: #fff;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: -1px;
        }

        .changeColorGreen {
          background: #15b196;
          color: #fff;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: -1px;
        }

        .changeColorYellow {
          background: #adc960;
          color: #fff;
          padding-left: 5px;
          padding-right: 5px;
          margin-top: -1px;
        }
      }
    }
  }
}

.detailsInvoice {
  display: flex;
  margin-bottom: 45px;

  .totalInvoice {
    margin-top: 42px;
    width: 48%;

    p {
      font-size: 13px;
      padding-right: 0;
      color: #888786;
    }

    h1 {
      font-family: Arabic Bold;
      margin-top: -9px;
      margin-bottom: -11px;

      span {
        font-family: 'Arabic Light', sans-serif;
        padding-right: 0;
      }

      li {
        margin-left: 8px;
        margin-right: 26px;
      }
    }

    h2 {
      margin-right: 0;
    }

    img {
      position: relative;
      padding-left: 3px;
    }

    span {
      font-weight: bold;
      font-size: 15px;
      padding-right: 6px;
      font-family: Arabic Bold;
    }
  }

  .printInvoice {
    button {
      background: #f1f1f1;
      width: 84px;
      height: 84px;
      display: inline-block;
      margin: 0;
      margin-right: 15px;
      position: relative;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
      top: 15px;
      border-radius: 6px;
      margin-top: 18px;
      border: 1px solid #bcb4b4bd;

      img {
        position: absolute;

        top: 43%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }

    h5 {
      margin-top: 17px;
      font-size: 15px;
      margin-right: 9px;
    }
  }
}

.page_block {
  // margin-bottom: 9px !important;
  padding: 15px 0px !important;
  padding-right: 17px !important;
}

.detailsOrder {
  margin-right: 16px;
  width: 50%;

  h2 {
    i {
      margin-left: 10px;
    }
  }

  h4 {
    font-size: 16px;
    margin-top: 6px;
    font-family: 'Arabic Light';

    img {
      padding-left: 5px;
    }
  }

  h5 {
    font-size: 14px;
    margin-right: 17px;
    margin-bottom: 3px;

    span {
      background: #242a2d;
      color: #fff;
      padding: 1px 7px;
      border-radius: 4px;
    }
  }

  .styleBorderBottom {
    border-bottom: 1px solid #70707061;
    width: 93%;
    padding-bottom: 3px;
  }
}

.controlPanelOrder {
  width: 87%;
}

.mapDetails {
  height: 380px;
}

.detailsAdminOrder {
  display: flex;

  .adminsOrder {
    width: 25%;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 22px;

    // background-color: #f6a811;
    h5 {
      font-size: 15px;
    }

    p {
      color: #565656;
    }
  }

  body>app-root>main>app-order-details>div>div>div.page_body>div>div>div.all_Block>div.left_block>div>div.ng-tns-c1-1>app-map>div {
    width: 97%;
  }

  .serviceOrder {
    width: 48%;
    border-right: 1px solid #70707061;
    margin-right: 15px;
    padding-top: 15px;

    .detailsOrder {
      h5 {
        font-size: 16px;
      }

      ul {
        width: 424px;

        li {
          margin-bottom: 11px;
          text-align: justify;
        }
      }
    }
  }

  // order map custom style

  agm-map {
    height: 230px !important;
    width: 100%;
    margin-top: 17px;
    display: block;
  }

  .offerOrder {
    width: 25%;
    text-align: center;
    padding-top: 15px;
    border-right: 1px solid #70707061;

    h5 {
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 50px;

      span {
        font-size: 16px;
        color: #ff0000;
        font-family: 'Arabic Light';
        margin-top: 25%;
      }
    }
  }
}

.detailsContainer {
  // margin-top: 249px;
}

@media (max-width: 1570px) and (min-width: 1198px) {
  .all_Block .right_block {
    width: 100%;
  }

  .all_Block {
    display: inline;
  }

  .all_Block .left_block {
    position: relative;
    width: 98%;
    left: 0;
  }

  .detailsContainer {
    margin-top: 26px;
  }
}

// ################################### 1 - Start (max-width: 1199px) & (min-width: 992px) ###################################
@media (max-width: 1199px) and (min-width: 992px) {
  .page_body_main[_ngcontent-c1] .orderStatusTable[_ngcontent-c1] .orderSatus[_ngcontent-c1] .tableBody[_ngcontent-c1] .tableRow[_ngcontent-c1] .tableBodyCell[_ngcontent-c1]:first-child span[_ngcontent-c1] {
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    display: block;
    margin-bottom: 5px;
  }
}

// // ################################### 1 - end (max-width: 1199px) & (min-width: 992px) ###################################
// @media (max-width: 400px) and (min-width: 300px) {
//   .page_body_main .controlPanel ul {
//     display: inline-block;
//     margin-right: 15%;
//   }
// }
// ################################### 2 - Start (max-width: 991px) and (min-width: 768px) ###################################
@media (max-width: 1120px) and (min-width: 768px) {
  .page_body_main[_ngcontent-c1] .orderStatusTable[_ngcontent-c1] .orderSatus[_ngcontent-c1] .tableBody[_ngcontent-c1] .tableRow[_ngcontent-c1] .tableBodyCell[_ngcontent-c1]:first-child span[_ngcontent-c1] {
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    display: block;
    margin-bottom: 5px;
  }

  .page_body_main[_ngcontent-c29] .controlPanel[_ngcontent-c29] ul[_ngcontent-c29] {
    flex-wrap: wrap;
  }

  span[_ngcontent-c1] {
    margin-right: 2px !important;
  }
}

// ################################### 2 - end (max-width: 991px) and (min-width: 768px) ###################################
// ################################### 3 - Start (max-width: 767px) ###################################
@media (max-width: 767px) {
  .page_body_main[_ngcontent-c1] .controlPanel[_ngcontent-c1] ul[_ngcontent-c1] {
    flex-wrap: wrap;
    position: relative;
    left: -10%;
  }

  .page_body_main[_ngcontent-c1] .controlPanel[_ngcontent-c1] ul[_ngcontent-c1] li[_ngcontent-c1] a[_ngcontent-c1] {
    width: 115px;
    height: 115px;
  }

  .page_body_main[_ngcontent-c1] .controlPanel[_ngcontent-c1] ul[_ngcontent-c1] li[_ngcontent-c1] span[_ngcontent-c1] {
    width: 125px;
    margin-bottom: 17px;
  }

  .page_body_main[_ngcontent-c1] .orderStatusTable[_ngcontent-c1] .orderSatus[_ngcontent-c1] .tableBody[_ngcontent-c1] .tableRow[_ngcontent-c1] .tableBodyCell[_ngcontent-c1]:first-child span[_ngcontent-c1] {
    margin-left: 5px;
    margin-right: 5px;
    flex-wrap: wrap;
    display: block;
    margin-bottom: 5px;
  }

  .page_body_main[_ngcontent-c29] .controlPanel[_ngcontent-c29] ul[_ngcontent-c29] {
    flex-wrap: wrap;
  }

  span[_ngcontent-c1] {
    margin-right: 2px !important;
  }
}

.red {
  color: #FF6363;
}

#popupData2 {
  background: #ffff;
}

// ################################### 3 - End (max-width: 767px) ###################################