<div class="main_page">
  <app-alerts></app-alerts>
  <!-- ######################### Start Side Menu ######################### -->
  <app-side-menu></app-side-menu>
  <!-- ######################### End Side Menu ######################### -->
  <!-- ################################### Start Middle Page ################################### -->
  <div class="page_main_blocks middle_page">
    <!-- ################################### Start Header ################################### -->
    <div class="page_header">
      <app-header></app-header>
    </div>
    <!-- ################################### End Header ################################### -->
    <div class="page_body_title">
      <h3><i class="fas fa-analytics"></i>بيانات الطلب</h3>

      <div class="page_body_main_buttons">
        <a routerLink="/orders/all-orders">
          كل الطلبات
          <i class="fas fa-th-list"></i>
        </a>
        <a routerLink="/orders/orders-map">
          خريطة الطلبات
          <i class="fas fa-th-list"></i>
        </a>
        <a routerLink="/orders/orders-table">
          جدول الطلبات <i class="fas fa-th-list"></i>
        </a>
        <a
          (click)="getInvoiceDetails()"
          id="editButton"
          [routerLink]="['/invoices/send-invoice/']"
          [queryParams]="{ incoiveID: orderDetails.receipt_id }"
          type="button"
          *ngIf="orderStatusId === 35"
        >
          بيانات الفاتورة
          <i class="fas fa-th-list"></i>
        </a>

        <!-- <a
          id="editButton"
          [routerLink]="['/orders/update-order']"
          [queryParams]="{
            updateMode: true,
            updatedOrderId: orderId
          }"
        >
          تعديل الطلب
          <i class="fas fa-th-list"></i>
        </a> -->
      </div>
    </div>
    <div class="page_body" [ngClass]="{ pageNotLoaded: !pageLoaded }">
      <div class="page_body_main">
        <!-- start details client -->

        <div class="orderNameCilent">
          <div class="profileDetails">
            <ul>
              <li>
                <h3>
                  <span>
                    {{ pageLoaded ? orderDetails["id"] : "" }}
                  </span>
                  {{ pageLoaded ? orderDetails["client"].user.name : "" }}
                </h3>
              </li>
              <li>
                <p>
                  <span
                    style="margin-left: 10px;"
                    class="{{
                      pageLoaded ? 'status_' + orderDetails['status'].id : ''
                    }}"
                  >
                    {{ pageLoaded ? orderDetails["status"].name : "" }}</span
                  >
                  <span
                    *ngIf="orderDetails['urgent']"
                    style="margin-left: 10px;
                    border-radius: 5px;
                    background: #434e4a;
                    border: 1px solid #707070;
                    "
                  >
                    طلب هام و عاجل</span
                  >
                  <span
                    *ngIf="orderDetails['order_related']"
                    style="margin-left: 10px;
                  border-radius: 5px;
                  background: #434e4a;
                  border: 1px solid #707070;
                  "
                  >
                    عودة للضمان</span
                  >
                </p>
              </li>
            </ul>
          </div>
          <!-- End details client -->
          <!-- ################################### Start Page Block ################################### -->
          <div class="all_Block">
            <div class="right_block">
              <div style="display: flex;">
                <!-- NOTE  -->

                <div
                  class="page_block controlPanel controlPanelOrder"
                  id="controlPanel"
                >
                  <ng-container
                    *ngIf="orderStatusId === 35"
                    style="margin-bottom: 20px;"
                  >
                    <h2>
                      لوحة التحكم في الطلب
                    </h2>
                    <div class="detailsInvoice">
                      <div class="totalInvoice">
                        <h2>اجمالى الفاتورة</h2>

                        <h1>
                          {{ pageLoaded ? orderDetails["receipt"].total : "" }}
                          <span>SAR</span>
                        </h1>
                        <p>
                          {{
                            pageLoaded
                              ? orderDetails["receipt"].receipt_number
                              : ""
                          }}
                        </p>
                        <h5 *ngFor="let element of taxDetails">
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          شامل قيمة {{ pageLoaded ? element.name : "" }}
                          <span
                            >{{ pageLoaded ? +element.value : "" }}
                            {{ element.method == "percent" ? "%" : "SAR" }}
                          </span>
                        </h5>
                      </div>
                      <div class="printInvoice">
                        <ul>
                          <li>
                            <a
                              target="_blank"
                              href="{{ baseAPI + invoiceDataPdfUrlCode }}"
                            >
                              <button
                                id="invicebutton"
                                class="basic_button"
                                type="button"
                              >
                                <img
                                  src="../../../../assets/img/icons/pdf-file-format-symbol.png"
                                  alt=""
                                />
                              </button>
                            </a>
                            <h5>طباعة الفاتورة</h5>
                          </li>
                          <li>
                            <button
                              (click)="getInvoiceDetails()"
                              id="invicebutton"
                              [routerLink]="['/invoices/details-invoice/']"
                              [queryParams]="{
                                incoiveID: invoideIdOrderDetails
                              }"
                              class="basic_button"
                              type="button"
                            >
                              <img
                                src="../../../../assets/img/icons/invoice (1).png"
                                alt=""
                              />
                            </button>
                            <h5>تفاصيل الفاتورة</h5>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </ng-container>
                  <ng-container
                    *ngIf="
                      orderStatusId !== 35 ||
                      order_update ||
                      user.privilege == 'super-admin'
                    "
                  >
                    <h2 *ngIf="order_update || user.privilege == 'super-admin'">
                      لوحة التحكم في الطلب
                    </h2>
                    <ul *ngIf="order_update || user.privilege == 'super-admin'">
                      <li *ngIf="active19">
                        <button
                          (click)="adminApproved()"
                          type="button"
                          [disabled]="!active19"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 19
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="far fa-check-circle"></i></button
                        ><span>موافقة المشرف</span>
                      </li>
                      <li *ngIf="active20">
                        <button
                          (click)="technicalApproved()"
                          type="button"
                          [disabled]="!active20"
                          style="border: 1px solid #FF6363;"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 20
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="fas fa-users-medical red"></i></button
                        ><span>تأكيد الفني</span>
                      </li>
                      <li *ngIf="active41">
                        <button
                          (click)="onGoing()"
                          type="button"
                          style="background: rgba(36,136,213,.72);"
                          [disabled]="!active41"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 41
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <div class="fas fa-running"></div></button
                        ><span>في الطريق</span>
                      </li>
                      <!-- Start Cancle button -->

                      <li *ngIf="active40 || !active29">
                        <button
                          id="editOrder"
                          [routerLink]="['/orders/update-order']"
                          [queryParams]="{
                            updateMode: true,
                            updatedOrderId: orderId
                          }"
                          type="button"
                          class="{{
                            pageLoaded
                              ? orderDetails.status.id === 40 ||
                                orderDetails.status.id === 29
                                ? 'status_' +
                                  orderDetails.status.id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="fas fa-comment-alt-edit"></i></button
                        ><span>تعديل الطلب</span>
                      </li>

                      <!-- End Cancel button -->
                      <li *ngIf="active29">
                        <button
                          id="delayOrder"
                          (click)="openPostponedPopup()"
                          type="button"
                          [disabled]="!active29"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 29
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="fas fa-stopwatch-20"></i></button
                        ><span>تأجيل الطلب</span>
                      </li>

                      <li *ngIf="active21">
                        <button
                          (click)="startOrder()"
                          type="button"
                          style="background: #5D8D1D;"
                          [disabled]="!active21"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 21
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="fas fa-play-circle"></i>
                        </button>
                        <span>بدء الطلب</span>
                      </li>
                      <li *ngIf="active22">
                        <button
                          (click)="finishOrder()"
                          type="button"
                          style="border: 1px solid #111178;"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 22
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i
                            class="fas fa-fist-raised"
                            style="color: #111178;"
                          ></i></button
                        ><span>إنهاء الطلب</span>
                      </li>
                      <li *ngIf="active65">
                        <button
                          style="background: #AB1A9D;"
                          type="button"
                          (click)="finishwithoutOrder()"
                        >
                          <i class="fas fa-ban"></i></button
                        ><span>انهاء الطلب بدون اصدار فاتورة</span>
                      </li>
                      <!-- Start Cancle button -->

                      <li *ngIf="active40">
                        <button
                          id="cancelOrder"
                          (click)="openCanceledPopup()"
                          type="button"
                          [disabled]="!active40"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 40
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i class="fas fa-times-circle"></i></button
                        ><span>إلغاء الطلب</span>
                      </li>

                      <!-- End Cancel button -->

                      <!-- Start suspend button -->

                      <li *ngIf="active42">
                        <button
                          (click)="openSuspendPopup()"
                          type="button"
                          style="border: 1px solid #7D620C;"
                          [disabled]="!active42"
                          class="{{
                            pageLoaded
                              ? orderDetails['status'].id === 42
                                ? 'status_' +
                                  orderDetails['status'].id +
                                  ' activeState'
                                : ''
                              : ''
                          }}"
                        >
                          <i
                            class="fas fa-pause-circle"
                            style="color:#7D620C"
                          ></i></button
                        ><span> إيقاف مؤقت</span>
                      </li>

                      <!-- End suspend button -->

                      <li *ngIf="active35">
                        <button
                          type="button"
                          id="cancelOrder"
                          [disabled]="!active35"
                          (click)="goToOrderInvoice()"
                        >
                          <i class="fas fa-receipt"></i></button
                        ><span>إصدار فاتورة</span>
                      </li>

                      <li
                        *ngIf="
                          orderDetails['status']?.id == 29 ||
                          orderDetails['status']?.id == 19 ||
                          orderDetails['status']?.id == 20 ||
                          orderDetails['status']?.id == 40
                        "
                      >
                        <button
                          style="border: 1px solid #FF7700;"
                          type="button"
                          (click)="openWaitPopup()"
                        >
                          <i
                            class="fas fa-random"
                            style="color: #FF7700;"
                          ></i></button
                        ><span>تحويل مبيعات</span>
                      </li>

                      <li
                        *ngIf="
                          orderDetails['status']?.id == 29 ||
                          orderDetails['status']?.id == 19 ||
                          orderDetails['status']?.id == 20 ||
                          orderDetails['status']?.id == 40
                        "
                      >
                        <button
                          style="border: 1px solid #F7FF00; background: #159778;"
                          type="button"
                          (click)="toWaitingList()"
                        >
                          <i
                            class="fas fa-random"
                            style="color: #F7FF00;"
                          ></i></button
                        ><span>قائمة انتظار</span>
                      </li>
                    </ul>
                  </ng-container>
                </div>
                <!-- NOTE  -->

                <div class="page_block  detailsOrder">
                  <h2>
                    <i class="fas fa-list"></i>
                    تفاصيل الطلب
                  </h2>
                  <div>
                    <ul>
                      <div class="styleBorderBottom">
                        <li>
                          <h4>
                            <img
                              src="../../../../assets/img/icons/Rectangle 904.svg"
                              alt=""
                            />
                            رقم الطلب :
                          </h4>
                          <h5>
                            <span>
                              {{ pageLoaded ? orderDetails["id"] : "" }}
                            </span>
                          </h5>
                        </li>
                      </div>
                      <div class="styleBorderBottom">
                        <li>
                          <h4>
                            <img
                              src="../../../../assets/img/icons/Rectangle 904.svg"
                              alt=""
                            />
                            إسم العميل:
                          </h4>
                          <h5>
                            {{
                              pageLoaded ? orderDetails["client"].user.name : ""
                            }}
                          </h5>
                        </li>
                      </div>
                      <div class="styleBorderBottom">
                        <li>
                          <h4>
                            <img
                              src="../../../../assets/img/icons/Rectangle 904.svg"
                              alt=""
                            />
                            رقم الموبايل :
                          </h4>
                          <h5>
                            {{
                              pageLoaded
                                ? orderDetails["client"].user.mobile
                                : ""
                            }}+
                          </h5>
                        </li>
                      </div>
                      <li>
                        <h4>
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          رقم الفاتورة :
                        </h4>
                        <h5>
                          <!-- {{ pageLoaded ? orderDetails.receipt ? receipt.receipt_number  : ' لم يتم اصدار فاتورة بعد' : ''}} -->

                          {{
                            pageLoaded
                              ? orderDetails["receipt"]
                                ? orderDetails["receipt"].receipt_number
                                : "لم يتم اصدار فاتورة بعد"
                              : " "
                          }}
                        </h5>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- ################################### End Page Block ################################### -->
              </div>

              <div class="page_block  detailsAdminOrder" style="height: 325px;">
                <div class="adminsOrder">
                  <!-- <img
                    src="{{pageLoaded ? orderDetails.creator.image : ''}}"
                    alt=""
                  /> -->

                  <i class="fas fa-users-cog" style="font-size: 80px;"></i>

                  <h3>تمت الأضافة بواسطة</h3>
                  <h5>{{ pageLoaded ? orderDetails["creator"].name : "" }}</h5>

                  <p>{{ pageLoaded ? spiltedCreatedDate[0] : "" }}</p>
                </div>
                <div class="serviceOrder">
                  <div class="detailsOrder">
                    <ul>
                      <li>
                        <h4>
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          اسم المصدر
                        </h4>
                        <h5>
                          {{ pageLoaded ? orderDetails["source"].name : "" }}
                        </h5>
                      </li>
                      <li>
                        <h4>
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          الخدمة
                        </h4>
                        <h5>
                          {{
                            pageLoaded
                              ? orderDetails["service"].parent_service.name
                              : ""
                          }}
                        </h5>
                      </li>

                      <li>
                        <h4>
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          المطلوب
                        </h4>
                        <h5>
                          {{ pageLoaded ? orderDetails["service"].name : "" }}
                        </h5>
                      </li>
                      <li>
                        <h4>
                          <img
                            src="../../../../assets/img/icons/Rectangle 904.svg"
                            alt=""
                          />
                          ملاحظات العميل
                        </h4>
                        <h5
                          style="word-break: break-all;"
                          [innerHTML]="
                            pageLoaded ? orderDetails['details'] : ''
                          "
                        ></h5>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="offerOrder">
                  <div>
                    <h5>
                      <span style="display: inline-block;">
                        <!-- [innerHTML]="pageLoaded ? orderDetails.offer.name : ' '" -->

                        {{
                          pageLoaded
                            ? orderDetails["offer"]
                              ? orderDetails["offer"].name
                              : "لا يوجد عرض مشترك فيه"
                            : " "
                        }}
                      </span>
                    </h5>
                  </div>
                </div>
              </div>
            </div>

            <div class="left_block">
              <div
                class="page_block controlPanel mapDetails"
                style="display: table ; margin-bottom: unset;"
              >
                <div class="controlpanelTime">
                  <div class="technicianOrder">
                    <img
                      src="{{
                        pageLoaded ? orderDetails['technician'].image : ''
                      }}"
                      alt=""
                    />

                    <h5>
                      {{ pageLoaded ? orderDetails["technician"].name : "" }}
                    </h5>

                    <p>
                      {{
                        pageLoaded && orderDetails["technician"].service
                          ? orderDetails["technician"].service.name
                          : ""
                      }}
                    </p>
                  </div>

                  <div class="timeOrder">
                    <h5>تاريخ بدء الطلب</h5>

                    <span>
                      {{ pageLoaded ? orderDetails["order_date"] : "" }}
                    </span>
                    <ul>
                      <li>
                        <h5>وقت بداية الطلب</h5>

                        <span>
                          {{ pageLoaded ? orderDetails["from_time"] : "" }}
                        </span>
                      </li>
                      <li>
                        <h5>وقت نهاية الطلب</h5>
                        <span>
                          {{ pageLoaded ? orderDetails["to_time"] : "" }}
                        </span>
                      </li>

                      <li>
                        <h5>اجمالى الوقت</h5>
                        <span>
                          {{ pageLoaded ? orderDetails["total_time"] : "" }}
                        </span>
                      </li>
                    </ul>
                  </div>
                </div>
                <!-- <div class="timeGO">
                  <ul>
                      <li>
                          <h5>   وقت الذهاب </h5>
                             <span class="changeColorBlu">
                      55
                            </span>
                      </li>
                      <li>
                          <h5>  اجمالى التنفيذ </h5>
                             <span class="changeColorGreen">
                      55
                            </span>
                      </li>
                    <li>
                        <h5>  اجمالى الوقت </h5>
                           <span class="changeColorYellow">
                    55
                          </span>
                    </li>
                  </ul>
                </div> -->
                <div style="clear: both; width: 96% ;     margin-bottom: 4%; ">
                  <app-map
                    [orderDetailsMode]="true"
                    [orderDetailsOrgins]="{
                      lng: orderDetails ? orderDetails['location'].long : '',
                      lat: orderDetails ? orderDetails['location'].lat : ''
                    }"
                  ></app-map>
                </div>

                <div class="locationDetails">
                  <div style="display: flex; margin-bottom: 2%;" >

                    <div style="width: 40%; margin-left: 1%;">
                      <i class="fas fa-map-marker-alt" style="margin-left: 5%; font-size: 17px; "></i>
                      <span class="fontS" style="margin-left: 2%;"> المدينة </span>
                      <span class="fontS" style="font-weight: 300;"> {{ locationCity }}</span>

                    </div>
                    <div style="width: 40%; margin-left: 1%;">
                      <i class="fas fa-thumbtack" style="margin-left: 5%; font-size: 17px;"></i>
                      <span class="fontS" style="margin-left: 2%;"> الحى </span>
                      <span class="fontSt"> {{ locationArea }}</span>
                    </div>
                   
                  </div>

                  <div class="address">
                    <i class="fas fa-location-arrow" style="margin-left: 1.5%; font-size: 17px;"></i>
                    <span class="fontS" style="margin-left: 1%;"> العنوان </span>
                      <span class="fontSt"> {{ locationAddress }}</span>
                  </div>
                </div>




              </div>
            </div>
          </div>
          <!-- ################################### End Page Block ################################### -->

          <!-- ################################### Start Page Block ################################### -->
          <div class="page_block detailsContainer">
            <!-- End Client Details -->
            <div
              class="orderStatusTable"
              *ngIf="orderDetailsHistory.length > 0"
              [@fade]
            >
              <h3>حالة الطلب</h3>

              <div class="orderSatus">
                <div class="tableHeader">
                  <div class="tableHeaderCell">حالة الطلب</div>
                  <div class="tableHeaderCell">التاريخ</div>
                  <div class="tableHeaderCell">رقم الموبايل</div>
                  <div class="tableHeaderCell">سبب التأجيل</div>

                  <div class="tableHeaderCell">إسم ( المشرف / الفني )</div>
                </div>
                <div
                  class="tableBody"
                  *ngFor="let orderStep of orderDetailsHistory"
                >
                  <div class="tableRow" [@fade]>
                    <div class="tableBodyCell">
                      <span class="status_{{ orderStep.status.id }}"></span
                      >{{ orderStep.status.name }}
                    </div>
                    <div class="tableBodyCell">
                      {{ orderStep.creation_datetime }}
                    </div>
                    <div class="tableBodyCell">{{ orderStep.user.mobile }}</div>
                    <div class="tableBodyCell">
                      {{ orderStep.postpone ? orderStep.postpone.reason : "" }}
                    </div>

                    <div class="tableBodyCell">{{ orderStep.user.name }}</div>
                  </div>
                </div>
              </div>
            </div>

            <br /><br />
          </div>

          <br /><br />
          <!-- ################################### End Page Block ################################### -->
        </div>
      </div>
    </div>

    <!-- ################################### End Middle Page ################################### -->
    <!-- ######################### Start Postponed Popup ######################### -->
    <div id="popup" *ngIf="showPostponedPopup" [@parentAnimation]>
      <div id="backDrop" (click)="closePopup()"></div>
      <div id="popupData" [@childAnimation]>
        <div class="headerPopup">
          <p>
            <img
              class="fas fa-times"
              (click)="closePopup()"
              src="../../../../assets/img/icons/x.png"
              alt=""
            />
            تأجيل الطلب
          </p>
        </div>
        <div class="detailsPopup">
          <p>
            انت تقوم الان بتأجيل الطلب رقم
            <span>
              &nbsp; {{ pageLoaded ? orderDetails["id"] : "" }} &nbsp;
            </span>
            اذا اردت الاستمرار يرجى ذكر سبب التأجيل <br />
          </p>
          <h5>الحقل أساسي يرجي كتابة سبب التأجيل <span>*</span></h5>
          <div class="postponedTextarea">
            <textarea
              (keyup)="postponedReasonFunction($event.target.value)"
            ></textarea>
          </div>
          <div id="confirmationButtons">
            <button type="button" (click)="postponed()">نعم موافق</button>
            <button type="button" (click)="closePopup()">غير موافق</button>
          </div>
        </div>
      </div>
    </div>
    <!-- ######################### End Postponed Popup ######################### -->

    <!-- ######################### Start canceled Popup ######################### -->
    <div id="popup" *ngIf="showCanceledPopup" [@parentAnimation]>
      <div id="backDrop" (click)="closeCanceledPopup()"></div>
      <div id="popupData" [@childAnimation]>
        <div class="headerPopup">
          <p>
            <img
              class="fas fa-times"
              (click)="closeCanceledPopup()"
              src="../../../../assets/img/icons/x.png"
              alt=""
            />
            الغاء الطلب
          </p>
        </div>
        <div class="detailsPopup">
          <p>
            انت تقوم الان بإلغاء الطلب رقم
            <span>
              &nbsp; {{ pageLoaded ? orderDetails["id"] : "" }} &nbsp;
            </span>
            اذا اردت الاستمرار يرجى ذكر سبب الالغاء <br />
          </p>
          <h5>الحقل أساسي يرجي كتابة سبب الالغاء <span>*</span></h5>

          <div class="postponedTextarea">
            <textarea
              (keyup)="canceledReasonFunction($event.target.value)"
            ></textarea>
          </div>
          <div id="confirmationButtons">
            <button type="button" (click)="canceled()">نعم موافق</button>
            <button type="button" (click)="closeCanceledPopup()">
              غير موافق
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ######################### End Postponed Popup ######################### -->

    <!-- ######################### Start Postponed Popup ######################### -->
    <div id="popup" *ngIf="showSuspendPopup" [@parentAnimation]>
      <div id="backDrop" (click)="closeSuspendPopup()"></div>
      <div id="popupData" [@childAnimation]>
        <div class="headerPopup">
          <p>
            <img
              class="fas fa-times"
              (click)="closeSuspendPopup()"
              src="../../../../assets/img/icons/x.png"
              alt=""
            />
            ايقاف الطلب
          </p>
        </div>
        <div class="detailsPopup">
          <p>
            انت تقوم الان بإيقاف الطلب رقم
            <span>
              &nbsp; {{ pageLoaded ? orderDetails["id"] : "" }} &nbsp;
            </span>
            اذا اردت الاستمرار يرجى ذكر سبب الايقاف <br />
          </p>
          <h5>الحقل أساسي يرجي كتابة سبب الايقاف <span>*</span></h5>

          <div class="postponedTextarea">
            <textarea
              (keyup)="suspendReasonFunction($event.target.value)"
            ></textarea>
          </div>
          <div id="confirmationButtons">
            <button type="button" (click)="suspend()">نعم موافق</button>
            <button type="button" (click)="closeSuspendPopup()">
              غير موافق
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- ######################### End Postponed Popup ######################### -->
  </div>

  <div id="popup" *ngIf="showWaitingPopup" [@parentAnimation]>
    <div id="backDrop" (click)="closeCanceledPopup()"></div>
    <div id="popupData" style="background: #fff;" [@childAnimation]>
      <div class="headerPopup" style="background: #fff;">
        <button
          (click)="showWaitingPopup = false"
          style="font-size: 36px;
        background: 0;
        border: 0;
        position: absolute;
        top: -11px;
        right: 0;"
        >
          <i class="fas fa-times-circle"></i>
        </button>
      </div>
      <div class="detailsPopup" style="text-align: center;">
        <p style="font-size: 24px;color: #333333;">
          طلب تحويل الطلب
          <span>
            &nbsp; {{ pageLoaded ? orderDetails["id"] : "" }} &nbsp;
          </span>
          الى المبيعات <br />
        </p>
        <div id="confirmationButtons2" style="margin-top: 20px;">
          <button
            type="button"
            (click)="toSalesWithTech()"
            style="padding: 20px 35px;
          font-size: 19px;
          background: #FF7700;
          color: #fff; margin-left: 5px;"
          >
            مع فنى
          </button>
          <button
            type="button"
            (click)="toSalesWithoutTech()"
            style="padding: 20px 35px;
          font-size: 19px;
          background: #757575;
          color: #fff; margin-right: 5px;"
          >
            بدون فنى
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
