<div class="main_page technicaldesignnew" id="listPage">
  <app-alerts></app-alerts>
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title">

      <h3><i class="fas fa-user-cog"></i>قائمة بيانات الفنيين </h3>
      <!-- <div class="page_body_main_buttons">
        <a
          routerLink="/technicians/add-technical"
          *ngIf="technician_add || user.privilege == 'super-admin'"
        >
          إضافة فني
          <i class="fas fa-user-cog"></i>
        </a>
      </div> -->
    </div>
    <div class="page_body" [ngClass]="{ pageNotLoaded: !pageLoaded }">
      <div class="button-add-taxs">
        <button   routerLink="/technicians/add-technical"
        *ngIf="technician_add || user.privilege == 'super-admin'">
        <i class="fal fa-user-plus"></i>
        إضافة فنى جديد

        </button>
      </div>
      <div class="page_body_main">
        <div class="page_block">
          <div class="main_block ">
            <h5> <i class="fas fa-search"></i> البحث  </h5>
            <form [formGroup]="filterForm" class="filter_form">
              <div class="form_input" id="NameFillterInputStyle">
                <label> اسم الفني او رقم الموبايل</label>
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    class="filterInput"
                    matInput
                    placeholder="إسم الفنى , رقم الهاتف "
                    autocomplete="off"
                    id="filterName"
                    formControlName="filterName"
                    style="    padding-top: 6px !important;"
               
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('filterName')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
              </div>
              <div class="form_input" id="NameFillterInputStyle">
                <label> حالة التفعيل</label>
                <mat-form-field  dir="rtl" appearance="outline">
                  <input
                    class="filterInput"
                    type="text"
                    placeholder="حالة التفعيل"
                    matInput
                    [matAutocomplete]="techniciansStatus"
                    formControlName="techniciansStatusObj"
                    style="    padding-top: 6px !important;"
               
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('techniciansStatusObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #techniciansStatus="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of statusFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>

              <div class="form_input" id="NameFillterInputStyle" >
                <label> الخدمة</label>
                <mat-form-field dir="rtl" appearance="outline" style="line-height: unset;">
        
                  <mat-select  class="filterInput" formControlName="service" multiple   placeholder="الخدمة">
                    <mat-option  *ngFor="let option of ServiceArray "
                      [value]="option.id"> {{ option.name  }} </mat-option>
                    <button style="float: left;
                    margin: 20px;
                    background: #f6a811;
                    color: black;
                    width: 60px;
                    height: 40px;" type="button" (click)= "filterTechniciansService(filterForm.controls.service.value)"> بحث </button>
                  </mat-select>

                </mat-form-field>
              </div>


              <div class="form_input" id="NameFillterInputStyle"  style="line-height: unset;">
                <label> المدينة</label>
                <mat-form-field  dir="rtl" appearance="outline" style="line-height: unset;">
                  <mat-select id="filterCityService" class="filterInput" formControlName="serviceCity" multiple   placeholder="مدن يخدمها الفنى">
                    <mat-option  *ngFor="let option of CityArray "
                    [value]="option.id"> {{ option.name  }} </mat-option>
                    <button style="float: left;
                    margin: 20px;
                    background: #f6a811;
                    color: black;
                    width: 60px;
                    height: 40px;" type="button" (click)= "filterTechniciansCity(filterForm.controls.serviceCity.value)"> بحث </button>
                  </mat-select>

                  <!-- <input
                    class="filterInput"
                    type="text"
                    placeholder="مدن يخدمها الفنى"
                    matInput
                    [matAutocomplete]="techniciansStatus"
                    formControlName="techniciansStatusObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('techniciansStatusObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button> -->

                </mat-form-field>
              </div>


              <div class="form_input" id="NameFillterInputStyle">
                <label> نوع التعاقد</label>
                <mat-form-field style="  width: 100% !important"  dir="rtl" appearance="outline">
                  <input
                    class="filterInput"
                    type="text"
                    placeholder=" الكل"
                    matInput
                    [matAutocomplete]="techniciansStatus"
                    formControlName="techniciansStatusObj"
                    style="padding-top: 6px !important;"
               
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('techniciansStatusObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #techniciansStatus="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of mainContractTpe "
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
              </div>





            </form>



          <div class="countPerPage" style="margin-left:-39px">
            <select
              name=""
              class="selectPerpage"
            >
              <option >
            10
              </option>
            </select>
          </div>
          </div>
          <h4 class="h-out-side"> اجمالى عدد الفنيين <span>25</span></h4>

           <!-- Start Table -->
          <table
            width="100%"
            dir="rtl"
            mat-table
            [dataSource]="dataSource"
            class="mat-elevation-z8"
            id="display_table"
          >
            <ng-container matColumnDef="ID">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element">{{ element.id }}</td>
            </ng-container>
            <ng-container matColumnDef="technical_name">
              <th mat-header-cell *matHeaderCellDef>إسم الفني</th>
              <td mat-cell *matCellDef="let element">{{ element.name }}</td>
            </ng-container>
            <ng-container matColumnDef="phone">
              <th mat-header-cell *matHeaderCellDef>رقم الموبايل</th>
              <td mat-cell *matCellDef="let element">{{ element.mobile }}+</td>
            </ng-container>
            <ng-container matColumnDef="main_service">
              <th mat-header-cell *matHeaderCellDef>الخدمات</th>
              <td mat-cell *matCellDef="let element" style="max-width: 100px;">
                <!-- {{ element.service ? element.service.name : 'لا يوجد'  }} -->
                <span *ngFor="let service of element.services ; let i=index"> <span *ngIf="i != 0 && i != element.services.length"> - </span> {{ service.name }}   </span> 
              </td>
            </ng-container>
            <ng-container matColumnDef="city_service">
              <th mat-header-cell *matHeaderCellDef>مدن الخدمة</th>
              <td mat-cell *matCellDef="let element" style="max-width: 100px;">
                <span *ngFor="let city of element.cities ; let i=index ">   <span *ngIf="i != 0 && i != element.cities.length"> - </span> {{ city.name }}  </span> 
                
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef> البريد الإلكتروني</th>
              <td mat-cell *matCellDef="let element">
                {{ element.email ? element.email : 'لا يوجد' }}
              </td>
            </ng-container>
            <ng-container matColumnDef="national">
              <th mat-header-cell *matHeaderCellDef>  الجنسية</th>
              <td mat-cell *matCellDef="let element">
                {{ element.country  ? element.country : 'لا يوجد'}}

              </td>
            </ng-container>

            <ng-container matColumnDef="status">
              <th mat-header-cell *matHeaderCellDef>الحالة</th>
              <td mat-cell *matCellDef="let element">
                <span
                  *ngIf="element.active === 1"
                  class="activeStatus status-{{ element.active }}"
                >
                <p style="    border-radius: 10px;
                background: #0a8452;
                font-weight: 300;
                font-size: 15px;
                text-align: center;
                color: #fff;
                width: 68px;
                padding: 4px;
                margin: auto;">

                نشط</p>
                </span>
                <span
                  *ngIf="element.active === 0"
                  class="activeStatus status-{{ element.active }}"
                >
                <p  style="    border-radius: 10px;
                background: #FF0000;
                font-weight: 300;
                font-size: 15px;
                text-align: center;
                color: #fff;
                width: 68px;
                padding: 4px;
                margin: auto;"
                >غير نشط</p>
                </span>
              </td>
            </ng-container>

            
            <!-- <ng-container matColumnDef="technicians_details">
              <th mat-header-cell *matHeaderCellDef>التفاصيل</th>
              <td mat-cell *matCellDef="let element">
                <button
                  [routerLink]="['/technicians/technicians_details']"
                  [queryParams]="{
                    tecniciansId: element.id
                  }"
                  class="basic_button"
                  type="button"
                >
                  <i class="fas fa-receipt"></i>
                </button>
              </td>


            </ng-container> -->
            <ng-container matColumnDef="technicians_details">
              <th mat-header-cell *matHeaderCellDef></th>
              <td
                mat-cell
                *matCellDef="let element"
                (mouseenter)="hideme[element.id] = !hideme[element.id]"
                (mouseleave)="hideme[element.id] = !hideme[element.id]"
              >
                <div
                  id="showOrdercontrols"
                  [ngClass]="{ showtestOrderControl: showOrdercontrolst }"
                  *ngIf="hideme[element.id]"
                  
                >
                <button
                class="basic_button"
                type="button"
                (click)="openDeletePopup(element.id, element.name)"
              >
                    <i class="fas fa-trash-alt" style="font-size: 30px; padding: 0;"></i>
                    <span class="tooltiptext">الغاء</span>
                    <!-- <p class="">الغاء</p> -->
                  </button>

                  <button
                  [routerLink]="['/technicians/update-technical']"
                  [queryParams]="{
                    updateMode: true,
                    updatedTechnicalId: element.id
                  }"
                  class="basic_button"
                  type="button"
                >
                    <i class="fas fa-user-edit" style="font-size: 30px; padding: 0;"></i>
                    <span class="tooltiptext">تعديل</span>

                    <!-- <p class="">تعديل</p> -->
                  </button>

                  <button
                  [routerLink]="['/technicians/technicians_details']"
                  [queryParams]="{
                    tecniciansId: element.id
                  }"
                  class="basic_button"
                  type="button"
                >
                    <!-- <a
                      target="blank"

                    > -->
                    <i class="fas fa-users-cog" style="font-size: 30px; padding: 0;"></i>
                    <span class="tooltiptext">تفاصيل</span>

                    <!-- </a> -->
                    <!-- <p class="">تفاصيل </p> -->
                  </button>
                </div>

                <div class="basic_button" type="button">
                  <i class="fal fa-bars"></i>
                </div>
              </td>
            </ng-container>

            <!-- <ng-container matColumnDef="edit_technical">
              <th mat-header-cell *matHeaderCellDef>تعديل البيانات</th>
              <td mat-cell *matCellDef="let element">
                <button
                  [routerLink]="['/technicians/update-technical']"
                  [queryParams]="{
                    updateMode: true,
                    updatedTechnicalId: element.id
                  }"
                  class="basic_button"
                  type="button"
                >
                  <i class="far fa-edit"></i>
                </button>
              </td>
            </ng-container>
            <ng-container matColumnDef="delete_technical">
              <th mat-header-cell *matHeaderCellDef>حذف الحساب</th>
              <td mat-cell *matCellDef="let element">
                <button
                  class="basic_button"
                  type="button"
                  (click)="openDeletePopup(element.id, element.name)"
                >
                  <i class="far fa-trash-alt"></i>
                </button>
              </td>
            </ng-container> -->

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>

          <!-- <div class="pagination">
            <ul>
              <li class="pagination_button ">
                <a (click)="goPage(1)">الصفحة الأولي</a>
              </li>
              <li class="previousPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId - 1)"
                  type="button"
                  [disabled]="firstPage"
                >
                  <i class="fas fa-angle-right"></i>
                </button>
              </li>
              <li *ngFor="let i of pagesNumbers" (click)="goPage(i)">
                <a [class]="pageId == i ? 'active' : ''">{{ i }}</a>
              </li>
              <li class="nextPagePagination moveOnePageButton">
                <button
                  (click)="goPage(pageId + 1)"
                  type="button"
                  [disabled]="lastPage"
                >
                  <i class="fas fa-angle-left"></i>
                </button>
              </li>
              <li class="pagination_button ">
                <a (click)="goPage(pagesNumbers.length)">الصفحة الأخيرة</a>
              </li>
            </ul>
          </div> -->

          <div class="pagination">
            <ul style="margin-right: auto; ">
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page == totalPage"
                  (click)="nextPage(current_page)"
                >
                  <i class="fas fa-caret-right"></i>
                </button>
              </li>
              <li style="margin: 10px; text-align: center; line-height: 31px;">
                <div class="numberPagination">
                  <!-- {{ current_page }} -->
                  <input
                    style="background: #fff;
                  border: 1px solid rgba(112, 112, 112, 0.38);
                  width: 42px;
                  height: 31px;
                  text-align: center;"
                    type="text"
                    type="number"
                    #pageNumber
                    [value]="current_page"
                    (keyup.enter)="changePagination(pageNumber)"
                  />
                </div>
              </li>
              <li>
                <button
                  class="arrow"
                  [disabled]="current_page <= 1"
                  (click)="prevPage(current_page)"
                >
                  <i class="fas fa-caret-left"></i>
                </button>
              </li>
              <li style="margin: 15px 10px; box-shadow: none;">
                <div class="pageNum">
                  من
                  <span>{{ totalPage }}</span>
                  صفحة
                </div>
              </li>
            </ul>
          </div>







        </div>
      </div>
    </div>
  </div>
  <div id="popup" *ngIf="showDeletePopup" [@parentAnimation]>
    <div id="backDrop"></div>
    <div id="popupData" [@childAnimation]>
      <i class="fas fa-times" (click)="closePopup()"></i>
      <h2>
        هل انت متأكد من حذف حساب الفني <br />
        {{ deletedTechnicalName }}
      </h2>
      <div id="confirmationButtons">
        <button type="button" (click)="deleteTechnical()">نعم متأكد</button>
        <button type="button" (click)="closePopup()">إلغاء الحذف</button>
      </div>
    </div>
  </div>
</div>
