#NameFillterInputStyle {
  width: calc(350px);
  margin-left: 10px;
}
#NameFillterInputStyle mat-form-field {
  width: calc(350px);
  .mat-form-field-wrapper {
    width: 100%;
  }
}
.main_page .page_body_title {
  padding: 31px 16px;
}
.main_page .page_body_main .page_block {
  border: 1px solid #70707091;
  margin-top: 54px;
  h5{
    font-family: 'Arabic gess light';
    font-weight: 300;
    font-size: 19px;
    text-align: right;
    color: #464646;
    margin-bottom: 10px;

    i{
      font-size: 22px;
      margin-left: 8px;
      color: #6b6b6b;
    }

  }

}
#showOrdercontrols {
  position: absolute;
  width: max-content;
  height: max-content;
  border: 1px solid #d8d8d8;
  background-color: #394247;
  -webkit-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  margin-top: -75px;
  margin-right: -35px;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;

  i {
    background: transparent;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // start toolTip in details menu controls

  p {
    font-size: 12px;
    color: #fff;
    border-left: none !important;
  }


  button {
    margin: 0 10px;
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    &:first-child {
      .tooltiptext {
        right: -15px;
      }
    }

    &:last-child {
      .tooltiptext {
        left: 40px;
      }
    }
  }

  // end toolTip in details menu controls
}

.page_block .h-out-side{
  font-family: 'Arabic gess light';
font-weight: 300;
font-size: 15px;
text-align: right;
color: #464646;
text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
position: absolute;

span{

font-size: 15px;
margin-right: 10px;
color: #000;

}

}
.main_page .page_body_title h3 {
  font-family: 'Arabic gess light';
  margin-right: 31px;

  font-size: 19px;
  color: #464646;

  i{
    font-size: 20px;
    color: #242a2d;
  }
}


.button-add-taxs{
  position: absolute;
  margin-top: -45px;
  left: 23px;
  button{
    padding-left: 19px;
    height: auto;
    background: #f6a811;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;

    font-size: 14px;
    margin-left: 28px;
i{

background: #242a2d;
color: #fff;
font-size: 25px;
padding: 10px;
padding-right: 15px;
padding-left: 15px;
margin-left: 14px;
margin-right: 3px;

font-family: "Font Awesome 5 Pro";
font-weight: 300;
font-size: 18px;
text-align: center;
color: #fff;
text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);



}
  }
}

@media (max-width: 1399px) and (min-width: 700px) {
  .filter_form {
    #NameFillterInputStyle {
      width: calc(95% / 2);
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}
.resetInput {
  color: #95989a;
  margin-top: 2px;
  background-color: white;
}
@media (max-width: 1399px) and (min-width: 992px) {
  #NameFillterInputStyle {
    width: 100%;
  }
  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }

  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    display: inline-flex;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }
  .mat-form-field-wrapper {
    width: 75%;
  }
  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    width: 428px !important;
  }
}
@media (max-width: 991px) and (min-width: 768px) {
  #NameFillterInputStyle {
    width: 100%;
  }

  mat-form-field-wrapper {
    width: 70%;
  }
  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    // display: inline-flex;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }
  .filter_form mat-form-field input {
    width: 75%;
  }
}
@media (max-width: 767px) {
  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }
  #NameFillterInputStyle {
    width: 100%;
  }
}
// ********************
