<div class="main_page">
  <!-- ######################### Start Side Menu ######################### -->
  <app-side-menu></app-side-menu>
  <!-- ######################### End Side Menu ######################### -->
  <!-- ################################### Start Middle Page ################################### -->
  <div class="page_main_blocks middle_page">
    <!-- ################################### Start Header ################################### -->
    <div class="page_header">
      <app-header></app-header>
    </div>
    <!-- ################################### End Header ################################### -->
    <div class="page_body_title">
      <h3><i class="fas fa-users-cog"></i>بيانات المصدر</h3>
      <div class="page_body_main_buttons">
        <a href="#">
          جميع المصادر
          <i class="fas fa-th-list"></i>
        </a>
      </div>
    </div>
    <div class="page_body">
      <div class="page_body_main">
        <!-- ################################### Start Page Block ################################### -->
        <div class="page_block detailsContainer">
          <h3>بيانات المصدر</h3>
          <hr />
          <!-- Start Client Details -->
          <div class="profileDetails">
            <ul>
              <li>
                <h4>إسم المصدر</h4>
                <h5><i class="fas fa-user-tie"></i>عمر حسن</h5>
              </li>
              <li>
                <h4>إسم المسؤول</h4>
                <h5><i class="fas fa-user-tie"></i>عمر حسن</h5>
              </li>
              <li>
                <h4>البريد الإلكتروني</h4>
                <h5><i class="fas fa-envelope"></i>+201203792239</h5>
              </li>
              <li>
                <h4>رقم الموبايل</h4>
                <h5><i class="fas fa-mobile"></i>مصر</h5>
              </li>
              <li>
                <h4>الوظيفه</h4>
                <h5><i class="fas fa-cog"></i>الدخيلة</h5>
              </li>
              <li>
                <h4>حالة التفعيل</h4>
                <h5><i class="fas fa-check"></i>مفعل</h5>
              </li>
            </ul>
          </div>
          <!-- End Client Details -->
        </div>
        <!-- ################################### End Page Block ################################### -->
      </div>
    </div>
  </div>
  <!-- ################################### End Middle Page ################################### -->
</div>
