#phoneKey {
  left: 22px;
  background: #eeeeee0d;
}

.main_page .page_body_title h3 {
  font-family: 'Arabic gess light';
  margin-right: 31px;

  font-size: 19px;
  color: #464646;

  i{
    font-size: 20px;
    color: #242a2d;
  }
}


.class-p-vaild{
p{

  position: absolute;
  left: 0;
  margin-top: 4px;
  font-weight: 300;
  font-size: 13px;
  color: #000;


}

}

#add_form form button i{
    font-size: 17px;
    color:  #000 !important;
}

#add_form form label i{
  font-size: 16px;
margin-left: 8px;
  color: #6b6b6b;

}
#add_form form  input {
  text-indent: 14px;
}

#uploadImageContainer .uploadImageInput {

  padding: 8px 0;
}

#uploadImageContainer {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px;
  border: 1px solid #bcbcbc;
}

#uploadImageContainer span {

  right: 45px;
}
.import-img-tech{
  position: absolute;
  margin-top: 22px;
}

.form_field.fullWidth.toggle {
  display: block !important;
  // margin-top: 165px !important;
  p{
font-size: 15px;
color: #000;
margin-bottom: 10px;
i{

font-size: 16px;
color: #6b6b6b;
margin-left: 5px;

}


  }
}


#formPage .formContainer .page_block .form_field.formButtons button {
  padding: 12px 72px;
}
