<div class="main_page technicaldesignnew" id="formPage">
  <app-alerts></app-alerts>
  <!-- ######################### Start Side Menu ######################### -->
  <app-side-menu></app-side-menu>
  <!-- ######################### End Side Menu ######################### -->
  <!-- ################################### Start Middle Page ################################### -->
  <div class="page_main_blocks middle_page">
    <!-- ################################### Start Header ################################### -->
    <div class="page_header">
      <app-header></app-header>
    </div>
    <!-- ################################### End Header ################################### -->
    <div class="page_body_title">
      <h3><i class="fas fa-users-cog"></i>{{ modeTitle }}</h3>
      <!-- <div
        class="page_body_main_buttons"
        *ngIf="technician_all || user.privilege == 'super-admin'"
      >
        <a routerLink="/technicians/all-technicians">
          كل الفنيين
          <i class="fas fa-th-list"></i>
        </a>
      </div> -->
    </div>
    <div
      class="page_body formContainer"
      [ngClass]="{ pageNotLoaded: !pageLoaded }"
    >
      <div class="page_body_main">
        <div class="page_block">
          <div id="add_form">
            <form (ngSubmit)="onSubmit()" [formGroup]="techniciansForm">
              <div class="form_field">
                <label>
                  <i class="fas fa-user"></i> إسم الفني <span>*</span></label
                >
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    formControlName="name"
                    matInput
                    placeholder="إسم الفني"
                    autocomplete="off"
                    id="name"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('name')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('name').status === 'INVALID' &&
                      techniciansForm.get('name').touched) ||
                    (submitted &&
                      techniciansForm.get('name').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال الإسم
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('name').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
              </div>

              <div class="form_field">
                <label>
                  <i class="fas fa-flag"></i> الجنسية <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="اخنر دولة الفنى"
                    aria-label="Number"
                    id="countriesObj"
                    matInput
                    formControlName="countriesObj"
                    [matAutocomplete]="countriesAutoComplete"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('countriesObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>

                  <mat-autocomplete
                    #countriesAutoComplete="matAutocomplete"
                    [displayWith]="displayCountries"
                  >
                    <mat-option
                      *ngFor="let option of countriesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('countriesObj').status === 'INVALID' &&
                      techniciansForm.get('countriesObj').touched) ||
                    (submitted &&
                      techniciansForm.get('countriesObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال الجنسية
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('countriesObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
              </div>

              <div class="form_field">
                <label>
                  <i class="fas fa-mobile"></i> رقم الموبايل
                  <span>*</span></label
                >
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    (keyup)="mobileChanged($event.target.value)"
                    (focusout)="checkReservation($event.target.value, 'mobile')"
                    (focusin)="mobileCheckLoaded = false"
                    formControlName="mobileKey"
                    id="mobileKey"
                    maxlength="9"
                    appOnlyNumbers="true"
                    matInput
                    placeholder="رقم الموبايل"
                    onfocus="this.removeAttribute('readonly');"
                    readonly
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('mobileKey')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>

                  <span id="phoneKey" *ngIf="showCountryPhoneKey" [@fade]
                    >+{{ countryPhoneKey }}</span
                  >
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('mobileKey').status === 'INVALID' &&
                      techniciansForm.get('mobileKey').touched) ||
                    (submitted &&
                      techniciansForm.get('mobileKey').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>خطأ في كتابة رقم الموبايل
                </div>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    techniciansForm.get('mobileKey').touched &&
                    techniciansForm.get('mobileKey').dirty &&
                    mobileReserved &&
                    mobileCheckLoaded &&
                    techniciansForm.get('mobileKey').status === 'VALID'
                  "
                >
                  <i class="fas fa-times"></i> هذا الرقم موجود بالفعل لفنى اخر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    techniciansForm.get('mobileKey').status === 'VALID' &&
                    !mobileReserved &&
                    mobileCheckLoaded
                  "
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
              </div>

              <div class="form_field">
                <label>
                  <i class="fas fa-envelope"></i> البريد الإلكتروني
                </label>
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    formControlName="email"
                    (focusout)="checkReservation($event.target.value, 'email')"
                    (focusin)="emailCheckLoaded = false"
                    matInput
                    placeholder="البريد الإلكترونى"
                    autocomplete="off"
                    id="email"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('email')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('email').touched &&
                      !techniciansForm.get('email').value) ||
                    techniciansForm.controls.email.errors?.email ||
                    techniciansForm.controls.email.errors?.pattern
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال البريد الإلكتروني
                  بشكل صحيح
                </div>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    techniciansForm.get('email').touched &&
                    emailReserved &&
                    emailCheckLoaded
                  "
                >
                  <i class="fas fa-times"></i> هذا البريد مستخدم من قبل - برجاء
                  ادخال البريد بشكل صحيح
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    techniciansForm.get('email').value &&
                    !techniciansForm.controls.email.errors?.email &&
                    !techniciansForm.controls.email.errors?.pattern
                  "
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
              </div>

              <div
                class="form_field"
                [ngClass]="{ inputWithToggle: updateMode }"
              >
                <label>
                  <i class="fas fa-unlock"></i>
                  {{ updateMode ? 'تعديل كلمة السر ' : 'كلمة السر  '
                  }}<span>*</span>
                </label>
                <div *ngIf="updateMode" class="toggleContainer">
                  <mat-slide-toggle
                    dir="rtl"
                    (change)="canUpdatePasswordToggle($event)"
                  >
                  </mat-slide-toggle>
                </div>
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    *ngIf="updateMode"
                    formControlName="password"
                    type="password"
                    matInput
                    placeholder="تعديل كلمة السر"
                    autocomplete="off"
                    id="password"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('password')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <input
                    *ngIf="!updateMode"
                    formControlName="password"
                    type="password"
                    matInput
                    placeholder="كلمة السر الخاصة بدخول الفني التطبيق"
                    autocomplete="off"
                    id="password"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('password')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('password').status === 'INVALID' &&
                      techniciansForm.get('password').touched) ||
                    (submitted &&
                      techniciansForm.get('password').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> خطا في ادخال كلمة السر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('password').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>

                <div class="class-p-vaild">
                  <p>أقل عدد أحرف او ارقام 8 فقط</p>
                </div>
              </div>

              <div
                class="form_field"
                [ngClass]="{ inputWithToggle: updateMode }"
              >
                <label>
                  <i class="fas fa-unlock"></i> كلمة السر مرة أخرى
                  <span *ngIf="!updateMode">*</span>
                </label>
                <!-- <div *ngIf="updateMode" class="toggleContainer">
                <mat-slide-toggle
                  dir="rtl"
                  (change)="canUpdatePasswordToggle($event)"
                >
                </mat-slide-toggle>
              </div> -->
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    *ngIf="updateMode"
                    formControlName="confirmPassword"
                    type="password"
                    matInput
                    placeholder="تعديل كلمة السر"
                    autocomplete="off"
                    id="confirmPassword"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('confirmPassword')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <input
                    *ngIf="!updateMode"
                    formControlName="confirmPassword"
                    type="password"
                    matInput
                    placeholder="إعادة كتابة كلمة السر مرة أخرى"
                    autocomplete="off"
                    id="confirmPassword"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('confirmPassword')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('confirmPassword').status ===
                      'INVALID' &&
                      techniciansForm.get('confirmPassword').touched) ||
                    ((submitted &&
                      techniciansForm.get('confirmPassword').status ===
                        'INVALID') ||
                      techniciansForm.get('confirmPassword').value !=
                        techniciansForm.get('password').value)
                  "
                >
                  <i class="fas fa-times"></i> كلمة السر غير متطابقة
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    techniciansForm.get('confirmPassword').status === 'VALID' &&
                    techniciansForm.get('confirmPassword').value ==
                      techniciansForm.get('password').value
                  "
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
              </div>

              <div class="form_field">
                <label>
                  <i class="fas fa-user-shield"></i> الخدمات التي يقدمها الفنى
                  <span>*</span></label
                >
                <div
                  *ngIf="techniciansForm.controls.service_tech.value"
                  class="class-p-vaild"
                >
                  <p style="    margin-top: -26px;     font-family: Roboto;">
                    {{ techniciansForm.controls.service_tech.value.length }}/5
                  </p>
                </div>
                <div
                  *ngIf="!techniciansForm.controls.service_tech.value"
                  class="class-p-vaild"
                >
                  <p style="    margin-top: -26px;     font-family: Roboto;">
                    0/5
                  </p>
                </div>

                <mat-form-field dir="rtl" appearance="outline">
                  <mat-select
                    (selectionChange)="fetchedService()"
                    class="filterInput"
                    formControlName="service_tech"
                    multiple
                    placeholder="اختر الخدمات"
                  >
                    <mat-option
                      *ngFor="let option of mainServiceArray"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-select>

                
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('service_tech').status === 'INVALID' &&
                      techniciansForm.get('service_tech').touched) ||
                    (submitted &&
                      techniciansForm.get('service_tech').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال الخدمة
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('service_tech').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
                <div class="class-p-vaild">
                  <p>يمكنك اختيار اكثر من خدمة</p>
                </div>
              </div>

              <div class="form_field">
                <label>
                  <i class="fas fa-city"></i> المدن التي يخدمها الفنى
                  <span>*</span></label
                >
                <div
                  *ngIf="techniciansForm.controls.city_tech.value"
                  class="class-p-vaild"
                >
                  <p style="    margin-top: -26px;     font-family: Roboto;">
                    {{ techniciansForm.controls.city_tech.value.length }}/4
                  </p>
                </div>
                <div
                  *ngIf="!techniciansForm.controls.city_tech.value"
                  class="class-p-vaild"
                >
                  <p style="    margin-top: -26px;     font-family: Roboto;">
                    0/4
                  </p>
                </div>

                <mat-form-field dir="rtl" appearance="outline">
                  <mat-select
                    (selectionChange)="fetchedCity()"
                    class="filterInput"
                    formControlName="city_tech"
                    multiple
                    placeholder="المدن"
                  >
                    <mat-option
                      *ngFor="let option of mainCityArray"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-select>
                  <!-- <input
                    type="text"
                    placeholder="المدن"
                    aria-label="Number"
                    matInput
                    formControlName="cityObj"
                    [matAutocomplete]="mainCitiesAutoComplete"
                    id="cityObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('cityObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #mainCitiesAutoComplete="matAutocomplete"
                    [displayWith]="displayMainCities"
                  >
                    <mat-option
                      *ngFor="let option of mainCityFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete> -->
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('city_tech').status === 'INVALID' &&
                      techniciansForm.get('city_tech').touched) ||
                    (submitted &&
                      techniciansForm.get('city_tech').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال المدينة
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('city_tech').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
                <div class="class-p-vaild">
                  <p>يمكنك اختيار اكثر من مدينة</p>
                </div>
              </div>

              <!-- <div class="form_field">
                <label> <i class="far fa-image"></i> صورة الفنى </label>
                <div id="uploadImageContainer">
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImage($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObj"
                    formControlName="imageInputObj"
                  />
                  <span>{{ imagePlaceHolder }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
                <div style="    width: 138px;" class="import-img-tech">
                  <img src="../../../../assets/img/img-tech.png">
                  <button
                  style="left: -15px;
                  top: 6%; z-index: 99;"
                  type="button"
                  class="resetInput"
                  (click)="xResetInputs('imageInputObj')"
                >
                  <i class="fas fa-times-circle"></i>
                </button>
                </div>
              </div>
              <div class="form_field">
                <label> <i class="far fa-image"></i> صورة الفني على الخريطة </label>
                <div id="uploadImageContainer">
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImage($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObj"
                    formControlName="imageInputObj"
                  />
                  <span>{{ imagePlaceHolder }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
                <div class="import-img-tech">
                  <img src="../../../../assets/img/map-marker.png">
                  <button
                  style="    right: 42px !important;
                  top: 9px; z-index: 99;"
                  type="button"
                  class="resetInput"
                  (click)="xResetInputs('imageInputObj')"
                >
                  <i class="fas fa-times-circle"></i>
                </button>
                </div>
              </div> -->

              <div class="form_field">
                <label> صورة الفنى </label>
                <div
                  id="uploadImageContainer"
                  Style="opacity:0.5"
                  *ngIf="!imageUpdated2 && updateMode"
                >
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImage($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObj"
                    formControlName="imageInputObj"
                    disabled="true"
                  />
                  <i class="fas fa-image"></i>
                  <span style="    width: 112px;">{{ imagePlaceHolder }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObj')"
                    (click)="deleteIMG()"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
                <div
                  id="uploadImageContainer"
                  Style="opacity:1"
                  *ngIf="imageUpdated2 || !updateMode"
                >
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImage($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObj"
                    formControlName="imageInputObj"
                  />
                  <i class="fas fa-image"></i>
                  <span>{{ imagePlaceHolder }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObj')"
                    (click)="deleteIMG()"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
              </div>

              <div class="form_field">
                <label> صورة الفني على الخريطة </label>
                <div
                  id="uploadImageContainer"
                  Style="opacity:0.5"
                  *ngIf="!imageUpdated && updateMode"
                >
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImagePin($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObjPin"
                    formControlName="imageInputObjPin"
                    disabled="true"
                  />
                  <i class="fas fa-image"></i>
                  <span>{{ imagePlaceHolderPin }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObjPin')"
                    (click)="deleteIMGPin()"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
                <div
                  id="uploadImageContainer"
                  Style="opacity:1"
                  *ngIf="imageUpdated || !updateMode"
                >
                  <input
                    type="file"
                    alife-file-to-base64
                    (onFileChanged)="onUploadImagePin($event)"
                    accept="image/x-png,image/jpeg,image/jpg"
                    class="uploadImageInput"
                    id="imageInputObjPin"
                    formControlName="imageInputObjPin"
                  />
                  <i class="fas fa-image"></i>
                  <span>{{ imagePlaceHolderPin }}</span>
                  <button
                    style="left: 15px; top: 72%; z-index: 99;"
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('imageInputObjPin')"
                    (click)="deleteIMGPin()"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                </div>
              </div>

              <div class="form_field">
                <img
                  *ngIf="techniciansForm.controls.image.value"
                  src="{{ techniciansForm.controls.image.value }}"
                  width="124px"
                  height="162px"
                  alt="user-image"
                />
                <img
                  *ngIf="updatedTechnicalData['image'] && updateMode"
                  src="{{ updatedTechnicalData['image'] }}"
                  width="124px"
                  height="162px"
                  alt="user-image"
                />
                <button
                  type="button"
                  class="resetInput"
                  *ngIf="techniciansForm.controls.image.value"
                  (click)="xResetInputs('imageInputObj')"
                  (click)="deleteIMG()"
                  style="position: relative;
                  left: -30px;
                  top: -80px;"
                >
                  <img src="../../../../assets/img/close.svg" />
                </button>
              </div>

              <div class="form_field">
                <img
                  *ngIf="techniciansForm.controls.imagePin.value"
                  src="{{ techniciansForm.controls.imagePin.value }}"
                  width="124px"
                  height="162px"
                  alt="user-image"
                />
                <img
                  *ngIf="updatedTechnicalData['imagePin'] && updateMode"
                  src="{{ updatedTechnicalData['imagePin'] }}"
                  width="124px"
                  height="162px"
                  alt="user-image"
                />
                <button
                  type="button"
                  class="resetInput"
                  *ngIf="techniciansForm.controls.imagePin.value"
                  (click)="xResetInputs('imageInputObjPin')"
                  (click)="deleteIMGPin()"
                  style="position: relative;
                  left: -30px;
                  top: -80px;"
                >
                  <img src="../../../../assets/img/close.svg" />
                </button>
              </div>

              <div class="form_field"></div>

              <div class="form_field">
                <label>
                  <i class="fas fa-people-arrows"></i> نوع التعاقد
                  <span>*</span></label
                >
              
               

                <mat-form-field dir="rtl" appearance="outline">
                  <mat-select
                    class="filterInput"
                    formControlName="contract_type"
                    placeholder="اختر نوع التعاقد"
                  >
                    <mat-option
                      *ngFor="let option of mainContractTpe"
                      [value]="option.id"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-select>

                
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (techniciansForm.get('contract_type').status === 'INVALID' &&
                      techniciansForm.get('contract_type').touched) ||
                    (submitted &&
                      techniciansForm.get('contract_type').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i> برجاء إدخال نوع التعاقد
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="techniciansForm.get('contract_type').status === 'VALID'"
                >
                  <i class="fas fa-check"></i> إدخال صحيح
                </div>
                
              </div>


              <div class="form_field fullWidth toggle">
                <p>
                  <i class="fas fa-shield-check"></i> حالة تفعيل حساب الفني على
                  النظام
                </p>
                <mat-slide-toggle
                  [checked]="techniciansForm.value.active"
                  dir="rtl"
                  (change)="changeActive($event)"
                ></mat-slide-toggle>
              </div>
              <!-- [disabled]="techniciansForm.invalid " -->

              <div class="form_field fullWidth formButtons">
                <button
                  *ngIf="!updateMode"
                  type="submit"
                  class="formSubmit formButton"
                  [disabled]="techniciansForm.invalid"
                >
                  إضافة فنى جديد
                </button>
                <button
                  *ngIf="updateMode"
                  type="button"
                  (click)="onUpdate()"
                  class="formSubmit formButton"
                  [disabled]="techniciansForm.invalid"
                >
                  تعديل بيانات فنى
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
