<div>
  <app-alerts></app-alerts>

</div><div class="main_page">
  <app-side-menu-owner></app-side-menu-owner>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <div class="header">
        <div class="borderheader">
          <div class="header-side"></div>
        </div>
        <div class="header-title">
          <p style="color: #F6A811;">
            مرحبا بك &nbsp; &nbsp; &nbsp;<span style="color: #fff;">{{
              user.name
            }}</span>
          </p>
          <span><p>الصفحة الرئيسية &nbsp; | &nbsp; إدارة النظام</p></span>
        </div>
      </div>
    </div>
    <div class="page_body">
      <div class="page_body_main">
        <div class="block">
          <!-- <div class="number-company">
            <div class="back-color">
              <i class="fal fa-building"></i>
              <h4>الشركات المسجلة</h4>
            </div>
            <div class="count-nm">
              <p>1</p>
            </div>
          </div> -->
          <div class="page_block">
            <h2>
              <i class="fal fa-plug" style="margin-left: 10px; font-size: 32px;"></i> إدارة النظام
            </h2>
            <div class="controlers">
              <div class="controller" >
                <a  (click)="systemOFF()"  style="background: #E63030;"> <i class="fas fa-power-off"></i></a>
                <p> إيقاف النظام</p>
              </div>
              <div class="controller"  style="margin-right: 30px;">
                <a  (click)="systemON()" style="background: #5CA40A;" > <i class="far fa-check-circle"></i></a>
                <p> تشغيل النظام</p>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
