$main_color: #f6a811;
$main_dark: #242a2d;
$active_dark: #15191c;

.logo {
  width: 50%;
  position: relative;
  right: 50%;
  transform: translateX(+50%);
  margin-top: 25px;
  margin-bottom: 25px;
}

ul {
  border-top: 2px solid #393e46;

  li {
    display: block;
    cursor: pointer;
    outline: 0;

    &.drop_list.active {
      >a {
        color: $main_color;
        background: $active_dark;
      }
    }

    a {
      color: #fff;
      display: block;
      margin: 0;
      padding: 15px 25px;
      transition: all 300ms;

      i {
        margin-left: 5px;
      }

      &.active,
      &:hover {
        color: $main_color;
        background: $active_dark;
      }
    }

    &:first-child {
      a {
        margin-top: 0;
      }
    }

    &.drop_list {
      ul {
        transition: all 300ms;
        border-bottom: 2px solid #393e46;
        overflow: hidden;
        max-height: 0;
        opacity: 0;

        &.active_list {
          max-height: 200px;
          opacity: 1;
        }

        li {
          font-size: 12px;

          a {
            padding-right: 45px;
          }
        }
      }
    }
  }
}

.logo {
  width: 75% !important;
  right: 42%;
  margin-top: 20px;
  margin-bottom: 18px;
}

.logo {
  width: 66% !important;
  right: 50%;
  margin-top: 64px;
  margin-bottom: 33px;
}