#NameFillterInputStyle {
  width: calc(350px);
  margin-left: 10px;
}

#NameFillterInputStyle mat-form-field {
  width: calc(350px);

  .mat-form-field-wrapper {
    width: 100%;
  }
}

.fontTDTable {
  font-family: "GE SS Two";
  font-weight: 300;
  font-size: 16px;
  text-align: center;
  color: #343434;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}


.main_block {

  padding-top: 4px;
}

.main_page .page_body_title h3 {
  color: #2a314e;
  font-family: 'Arabic gess Light';
  font-size: 20px;
  /* margin-right: 31px; */
  /* font-family: "GE SS Two"; */
  /* font-weight: 300; */
  font-size: 19px;
  /* text-align: right; */
  color: #464646;
  /* text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16); */
  font-weight: 100 !important;
  margin-right: 11px;
  text-shadow: none;
}
.main_page .page_body_title {
  padding: 30px 30px;
  display: flex;
  justify-content: flex-start;
}

@media (max-width: 1399px) and (min-width: 700px) {
  .filter_form {
    #NameFillterInputStyle {
      width: calc(95% / 2);
      margin-right: 5px;
      margin-left: 5px;
    }
  }
}

.resetInput {
  color: #95989a;
  margin-top: 2px;
  background-color: white;
}

@media (max-width: 1399px) and (min-width: 992px) {
  #NameFillterInputStyle {
    width: 100%;
  }

  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }

  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    display: inline-flex;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }

  .mat-form-field-wrapper {
    width: 75%;
  }

  .mat-form-field-appearance-outline .mat-form-field-wrapper {
    width: 428px !important;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  #NameFillterInputStyle {
    width: 100%;
  }

  mat-form-field-wrapper {
    width: 70%;
  }

  .filter_form mat-form-field {
    margin-right: 0;
    width: 100%;
    margin-left: 10%;
  }

  .filter_form {
    display: flex !important;
  }

  .filter_form mat-form-field input {
    width: 75%;
  }
}

@media (max-width: 767px) {
  #NameFillterInputStyle mat-form-field {
    width: 100%;
  }

  #NameFillterInputStyle {
    width: 100%;
  }
}

.save {
  margin: 0;
  background: #f6a811;
  color: #242a2d;
  padding: 5px 15px;
  border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
  margin-left: 10px;
}

.show {
  margin: 0;
  background: #f6a811;
  color: #242a2d;
  padding: 10px;
  // border-radius: 6px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, .16);
  margin-left: 10px;
  margin-bottom: 20px;


  &:disabled {
    background: #DDD !important;
  }
}

.pointer {
  cursor: pointer;
}

.saveSection {
  text-align: center;
  margin: 20px 0;
}

.clientDetails-name {
  padding: 0px 50px;
  position: absolute;
  padding-left: 35px;
  left: 0;

  h3 {
    font-family: 'Arabic gess light';

  }

  ul {
    display: flex;

    li {
      margin-bottom: 1px;
      margin-left: 15px;
      font-family: 'Arabic gess light';

    }

    .clientDetails-id {
      background: #27282a;
      color: #fff;
      padding: 0px 10px 0px 5px;
      border-radius: 4px;
      margin-left: 10px;
    }

    .cilentAccount-type {
      font-family: 'Roboto';
      font-weight: bold;
      font-size: 16px;
      text-align: center;
      color: #Fff;
      padding: 3px 18px;
      width: 105px;
      height: 30px;
      background: #000000;
      border: 2px solid rgba(112, 112, 112, 0.34);
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      padding-bottom: 5px;

    }

    .cilentAccount-type-0 {

      background: #1e9a19;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: 'Arabic gess light';
      font-size: 15px;
      text-align: center;
      color: #fff;
      padding: 7px 29px;
      padding-bottom: 7px;


    }

    .cilentAccount-type-10 {

      background: red;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: 'Arabic gess light';
      font-size: 15px;
      text-align: center;
      color: #fff;
      padding: 7px 29px;
      padding-bottom: 7px;


    }

    .cilentAccount-type-1 {
      width: 125px;
      height: 30px;
      background: #444;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.16);
      font-family: "GE SS Two";
      font-weight: 300;
      font-size: 15px;
      text-align: right;
      color: #fff;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
      padding: 7px 29px;

    }
  }
}

.button-add-taxs {
  float: left;
  margin-bottom: 30px;

  button {
    padding-left: 19px;
    height: auto;
    background: #f6a811;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    // padding: 0 3px 3px 17px !important;
    font-size: 14px;
    margin-left: 9px;



    i {

      background: #242a2d;
      color: #fff;
      font-size: 25px;
      padding: 10px;
      padding-right: 15px;
      padding-left: 15px;
      margin-left: 14px;
      font-family: "Font Awesome 5 Pro";
      font-size: 18px;
      text-align: center;
      color: #fff;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

    }
  }
}

.numberPagination {
  background: #fff;
  // padding: 7px 17px;
  border: 1px solid rgba(112, 112, 112, 0.38);
  width: 42px;
  height: 31px
}

.arrow {
  background: #f5f5f5;
  // padding: 7px 17px;
  border: 1px solid rgba(112, 112, 112, 0.38);
  width: 31px;
  height: 31px;

  i {
    font-size: 21px;
    color: gray;
    vertical-align: middle;
  }
}

#display_table td.mat-cell {
  padding: 0 5px;
  border-width: 1px !important;

}


#display_table tr {
  height: 46px;
}

#showOrdercontrols {
  position: absolute;
  width: max-content;
  height: max-content;
  background-color: #E9E9E9;
  -webkit-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  margin-top: -9px;
  margin-right: -40px !important;
  border-radius: 9px;
  padding-left: 30px !important;
  padding-right: 30px !important;
  border: 1px solid #B7B7B7 !important;

  img {
    background: transparent;
    border: none;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // start toolTip in details menu controls
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  button {
    text-align: center;

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    &:first-child {
      .tooltiptext {
        right: -15px;
      }
    }

    &:last-child {
      .tooltiptext {
        left: 40px;
      }
    }
  }

  // end toolTip in details menu controls
}



.fontRole {
  font-family: "GE SS Two" !important;
  font-weight: 300;
  font-size: 19px;
  text-align: right;
  // color: #464646;
  text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

}

#showOrdercontrols {
  position: absolute;
  width: max-content;
  height: max-content;
  border: 1px;
  background-color: #f9f9f9;
  -webkit-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  margin-top: -9px;
  margin-right: -15px;
  border-radius: 5px;
  padding-left: 20px;
  padding-right: 20px;

  img {
    background: transparent;
    border: none;
    font-size: 25px;
    color: #000;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // start toolTip in details menu controls
  .tooltiptext {
    visibility: hidden;
    width: 120px;
    font-size: 15px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 120%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltiptext::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }

  button {
    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    &:first-child {
      .tooltiptext {
        right: -15px;
      }
    }

    &:last-child {
      .tooltiptext {
        left: 40px;
      }
    }
  }

  // end toolTip in details menu controls
}


.button-add-taxs {
  position: absolute;
  margin-top: -50px;
  left: 87px;

  button {
    padding-left: 30px;
    height: auto;
    background: #f6a811;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    border: none;
    font-family: 'Arabic gess light';
    font-size: 14px;
    margin-left: 5px;

    i {

      background: #242a2d;
      color: #fff;
      font-size: 25px;
      padding: 2px;
      padding-right: 8px;
      padding-left: 13px;
      margin-left: 20px;
      margin-right: 3px;
      font-weight: 300;
      font-size: 18px;
      text-align: center;
      color: #fff;
      padding-bottom: 11px;
      padding-top: 10px;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);



    }
  }
}





