<div class="main_page add-sale" id="formPage">
  <app-alerts> </app-alerts>
  <app-side-menu></app-side-menu>
  <div class="page_main_blocks middle_page">
    <div class="page_header">
      <app-header></app-header>
    </div>
    <div class="page_body_title">
      <h3>
        <i class="fas fa-sort-shapes-down-alt"></i
        >{{ this.updateMode ? 'تعديل طلب مبيعات ' : 'إضافة طلب مبيعات جديد' }}
      </h3>
      <div
        class="page_body_main_buttons"
        *ngIf="order_all || user.privilege == 'super-admin'"
      >
        <a routerLink="/orders/all-orders">
          كل طلبات المبيعات
          <i class="fas fa-th-list"></i>
        </a>
      </div>
    </div>
    <div
      class="page_body formContainer"
      [ngClass]="{ pageNotLoaded: !pageLoaded }"
    >
      <div class="page_body_main" style="display:flex">
        <div class="page_block" style="width: 75%;">
          <div id="add_form">
            <form (ngSubmit)="onSubmit()" [formGroup]="salesForm">
              <div class="twoButtons" style="width: 49%">
                <button
                  type="button"
                  [routerLink]="['/clients/add-client']"
                  id="button"
                  class="clientBtn"
                  [disabled]="salesForm['controls'].client_id.value"
                >
                  <i class="fas fa-user-plus"></i>
                </button>

                <button
                  type="button"
                  (click)="viewClientDetailsFunction()"
                  [disabled]="selectedClientLocationsArray.length == 0"
                  id="button"
                  class="clientBtn"
                >
                  <i class="fas fa-map-marker-alt"></i>
                  <div
                    class="clientLocations"
                    *ngIf="selectedClientLocationsArray.length > 1"
                  >
                    {{ selectedClientLocationsArray.length }}
                  </div>
                </button>
                <button
                  type="button"
                  (click)="viewClientDetailsFunction()"
                  id="button"
                  class="clientBtn"
                  [disabled]="selectedClientLocationsArray.length == 0"
                >
                  <i class="fas fa-mobile"></i>
                  <div
                    class="clientLocations"
                    *ngIf="selectedClientLocationsArray.length > 1"
                  >
                    {{ selectedClientLocationsArray.length }}
                  </div>
                </button>
                <button
                  type="button"
                  [disabled]="!salesForm['controls'].client_id.value"
                  id="button"
                  class="clientBtn"
                  [routerLink]="['/clients/client-details']"
                  [queryParams]="{
                    clientId: salesForm['controls'].client_id.value
                  }"
                >
                  <i class="fas fa-user"></i>
                </button>
              </div>
              <div class="form_field">
                <label
                  ><i class="fas fa-user" style="margin: 0 10px;"></i> اسم
                  العميل <span>*</span>
                  <div
                    [@fade]
                    class="progressState"
                    *ngIf="searchClientStarted"
                  >
                    <i class="fas fa-cog"></i>
                    جاري البحث
                  </div>
                </label>
                <mat-form-field
                  id=""
                  dir="rtl"
                  appearance="outline"
                  style="width: 100% !important"
                >
                  <input
                    type="text"
                    placeholder="البحث بالاسم او رقم الموبايل"
                    aria-label="Number"
                    matInput
                    formControlName="clientIdObj"
                    [matAutocomplete]="clientAutoComplete"
                    id="clientIdObj"
                    (keyup.enter)="getClientlocationsArray($event)"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('clientIdObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #clientAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <ng-container *ngIf="clientsArray.length !== 0">
                      <mat-option
                        *ngFor="let option of clientsFilteredOptions | async"
                        [value]="option"
                      >
                        <div
                          style="display: flex; justify-content: space-between;"
                        >
                          <span>{{ option.user.name }}</span>
                          <span>{{ option.user.mobile }}</span>
                        </div>
                      </mat-option>
                    </ng-container>
                  </mat-autocomplete>
                </mat-form-field>

                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('clientIdObj').status === 'INVALID' &&
                      salesForm.get('clientIdObj').touched) ||
                    (submitted &&
                      salesForm.get('clientIdObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال العميل
                </div>
                <div
                  [@fade]
                  class="validationState errorState"
                  *ngIf="salesForm.hasError('noAddress')"
                >
                  <i class="fas fa-check"></i>
                  هذا العميل ليس له عنوان -
                  <span
                    style="cursor: pointer; text-decoration: underline;"
                    [routerLink]="['/clients/add-new-map']"
                    [queryParams]="{
                      clientId: salesForm.controls.client_id.value
                    }"
                    >قم بتعديل البيانات واضافة عنوان</span
                  >
                </div>
                <div
                  *ngIf="showMapPopup"
                  id="multiAdressPopupContainer"
                  [ngClass]="{
                    multiAdressPopupContainer:
                      selectedClientLocationsArray.length <= 3
                  }"
                  [ngStyle]="{
                    'margin-right':
                      selectedClientLocationsArray.length <= 3 ? '5%' : '43%'
                  }"
                >
                  <span
                    class="closeMultiAddressPopupIcon"
                    (click)="showMapPopup = false"
                  >
                    <i class="fas fa-times-circle"></i>
                  </span>

                  <span>
                    <div id="multiAdressPopup" [@fade]>
                      <ul class="multiMapAdressAddOrder container">
                        <li
                          *ngFor="
                            let locations of selectedClientLocationsArray;
                            let i = index
                          "
                          class="cell"
                        >
                          <div id="popupData">
                            <span class="adressTitle">
                              <h5>
                                <img
                                  src="../../../../assets/img/icons/client-icons/placeholder.png"
                                  alt=""
                                />
                                {{ locations.name }}
                              </h5>
                              <span
                                id="checkSign"
                                *ngIf="locations.default == 1"
                              >
                                <img
                                  src="../../../../assets/img/icons/client-icons/check-mark.png"
                              /></span>
                            </span>
                            <div class="popupMap">
                              <app-map
                                [multiAddressMapPopupSelections]="true"
                                [addOrderMapMode]="true"
                                [clientDetailsOrgins]="{
                                  lng: locations.long,
                                  lat: locations.lat
                                }"
                              ></app-map>
                            </div>
                            <ul>
                              <li>
                                <p>المنطقة</p>
                                <span>{{
                                  locations.area
                                    ? locations.area
                                    : 'لم يتم ادخال المنطقة'
                                }}</span>
                              </li>
                            </ul>
                          </div>
                          <button
                            type="button"
                            (click)="
                              onSelectAddress(locations.id, i, locations)
                            "
                            class="selectOrderAdress"
                            *ngIf="locations.default !== 1"
                          >
                            اختار هذا العنوان للطلب
                          </button>
                        </li>
                      </ul>
                    </div>
                  </span>
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    salesForm.get('clientIdObj').status === 'VALID' &&
                    !salesForm.hasError('noAddress')
                  "
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                  <h5
                    id="multiLocationWarning"
                    *ngIf="
                      selectedClientLocationsArray.length == 0 &&
                      selectSubLocations
                    "
                  >
                    {{
                      selectedClientLocationsArray.length > 1 &&
                      !selectSubLocations
                        ? 'هذا العميل موجود و لديه أكثر من عنوان و اكثر من هاتف'
                        : ''
                    }}
                  </h5>
                  <h5
                    id="multiLocationWarning"
                    *ngIf="
                      selectedClientLocationsArray.length > 1 &&
                      !selectSubLocations
                    "
                  >
                    {{
                      selectedClientLocationsArray.length > 1 &&
                      !selectSubLocations
                        ? 'هذا العميل موجود و لديه أكثر من عنوان و اكثر من هاتف'
                        : ''
                    }}
                  </h5>
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-user-secret" style="margin: 0 10px;"></i> إسم
                  المصدر <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="إسم المصدر"
                    aria-label="Number"
                    matInput
                    formControlName="sourceObj"
                    [matAutocomplete]="sourceAutoComplete"
                    id="sourceObj"
                  />
                  <img
                    src="{{ selectedResourceLogo }}"
                    *ngIf="selectedResourceLogoShow"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('sourceObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #sourceAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of sourcesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('sourceObj').status === 'INVALID' &&
                      salesForm.get('sourceObj').touched) ||
                    (submitted &&
                      salesForm.get('sourceObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال المصدر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('sourceObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-cog" style="margin: 0 10px;"></i> الخدمة
                  الرئيسية <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="إختر الخدمة الرئيسية"
                    aria-label="Number"
                    matInput
                    formControlName="servicesObj"
                    [matAutocomplete]="servicesAutoComplete"
                    id="servicesObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('servicesObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #servicesAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of servicesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('servicesObj').status === 'INVALID' &&
                      salesForm.get('servicesObj').touched) ||
                    (submitted &&
                      salesForm.get('servicesObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال الخدمة الرئيسية
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('servicesObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-cogs" style="margin: 0 10px;"></i> الخدمة
                  الفرعية <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="إختر الخدمة الفرعية"
                    aria-label="Number"
                    matInput
                    formControlName="subServicesObj"
                    [matAutocomplete]="subServicesAutoComplete"
                    id="subServicesObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('subServicesObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <i class="fas fa-cogs"></i>
                  <mat-autocomplete
                    #subServicesAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of subServicesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('subServicesObj').status === 'INVALID' &&
                      salesForm.get('subServicesObj').touched) ||
                    (submitted &&
                      salesForm.get('subServicesObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال الخدمة الفرعية
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('subServicesObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-calendar-week" style="margin: 0 10px;"></i>
                  تاريخ الطلب <span>*</span></label
                >
                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    formControlName="orderDateObj"
                    [min]="todayDate"
                    (dateInput)="orderDateChanged($event)"
                    matInput
                    [matDatepicker]="startDate"
                    placeholder="تاريخ الطلب"
                    autocomplete="off"
                    id="orderDateObj"
                  />
                  <mat-datepicker-toggle class="dateButton" [for]="startDate">
                  </mat-datepicker-toggle>
                  <mat-datepicker touchUi #startDate> </mat-datepicker>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('orderDateObj').status === 'INVALID' &&
                      salesForm.get('orderDateObj').touched) ||
                    (submitted &&
                      salesForm.get('orderDateObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال التاريخ
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('orderDateObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field inputWithButton">
                <label>
                  <i class="fas fa-percent" style="margin: 0 10px;"></i> العروض
                </label>
                <div
                  [@fade]
                  class="progressState"
                  *ngIf="offersArray.length > 0"
                >
                  يوجد عدد : {{ offersArray.length }} عروض
                </div>
                <span class="validationState  errorState ">{{ noOffers }}</span>
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="العروض"
                    aria-label="Number"
                    matInput
                    formControlName="offersObj"
                    [matAutocomplete]="offersAutoComplete"
                    id="offersObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('offersObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #offersAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of offersFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button
                  type="button"
                  (click)="openOfferDetailsPopup()"
                  [disabled]="!viewOfferDetailsPopupButton"
                  id="button"
                >
                  <i class="fas fa-tags"></i>
                </button>
              </div>

              <div class="form_field" id="timePicker">
                <label>
                  <i class="fas fa-clock" style="margin: 0 10px;"></i> توقيت
                  بداية الطلب <span>*</span></label
                >
                <div class="timePickerContainer">
                  <input
                    formControlName="startObj"
                    placeholder="توقيت بداية الطلب"
                    [ngxTimepicker]="startTime"
                    readonly
                  />
                  <ngx-material-timepicker
                    (timeSet)="timeChanged($event, 'start')"
                    #startTime
                    enableKeyboardInput="true"
                    [ngxMaterialTimepickerTheme]="darkTheme"
                  ></ngx-material-timepicker>
                </div>
                <div
                  [@fade]
                  class="validationState errorState"
                  *ngIf="
                    (salesForm.get('startObj').status === 'INVALID' &&
                      salesForm.get('startObj').touched &&
                      salesForm.get('startObj').dirty) ||
                    (submitted &&
                      salesForm.get('startObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال التوقيت
                </div>
                <div
                  [@fade]
                  class="validationState errorState"
                  *ngIf="salesForm.hasError('endAfterStart')"
                >
                  <i class="fas fa-times"></i>
                  لايمكن أن يكون وقت إنتهاء الطلب قبل وقت بدء الطلب
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    salesForm.get('startObj').status === 'VALID' &&
                    !salesForm.hasError('endAfterStart')
                  "
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field" id="timePicker2">
                <label>
                  <i class="fas fa-clock" style="margin: 0 10px;"></i>
                  توقيت إنتهاء الطلب <span>*</span></label
                >
                <div class="timePickerContainer">
                  <input
                    formControlName="endObj"
                    placeholder="توقيت إنتهاء الطلب"
                    [ngxTimepicker]="endTime"
                    readonly
                  />
                  <ngx-material-timepicker
                    (timeSet)="timeChanged($event, 'end')"
                    #endTime
                    enableKeyboardInput="true"
                    [ngxMaterialTimepickerTheme]="darkTheme"
                  ></ngx-material-timepicker>
                </div>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('endObj').status === 'INVALID' &&
                      salesForm.get('endObj').touched &&
                      salesForm.get('endObj').dirty) ||
                    (submitted && salesForm.get('endObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال التوقيت
                </div>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="salesForm.hasError('endAfterStart')"
                >
                  <i class="fas fa-times"></i>
                  لايمكن أن يكون وقت إنتهاء الطلب قبل وقت بدء الطلب
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="
                    salesForm.get('endObj').status === 'VALID' &&
                    !salesForm.hasError('endAfterStart')
                  "
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-watch" style="margin: 0 10px;"></i> الخدمة
                  الرئيسية <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="إختر الخدمة الرئيسية"
                    aria-label="Number"
                    matInput
                    formControlName="servicesObj"
                    [matAutocomplete]="servicesAutoComplete"
                    id="servicesObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('servicesObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #servicesAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of servicesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('servicesObj').status === 'INVALID' &&
                      salesForm.get('servicesObj').touched) ||
                    (submitted &&
                      salesForm.get('servicesObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال الخدمة الرئيسية
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('servicesObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field">
                <label>
                  <i class="fas fa-signal-alt-3" style="margin: 0 10px;"></i>
                  الخدمة الفرعية <span>*</span></label
                >
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="إختر الخدمة الفرعية"
                    aria-label="Number"
                    matInput
                    formControlName="subServicesObj"
                    [matAutocomplete]="subServicesAutoComplete"
                    id="subServicesObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('subServicesObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <i class="fas fa-cogs"></i>
                  <mat-autocomplete
                    #subServicesAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of subServicesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('subServicesObj').status === 'INVALID' &&
                      salesForm.get('subServicesObj').touched) ||
                    (submitted &&
                      salesForm.get('subServicesObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال الخدمة الفرعية
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('subServicesObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field full_width">
                <label>
                  <i class="fas fa-info-square" style="margin: 0 10px;"></i>
                  ملاحظات طلب العميل <span>*</span></label
                >
                <ckeditor
                  formControlName="details"
                  [config]="config"
                  [editor]="Editor"
                  data="<p>تجربة نص</p>"
                ></ckeditor>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('details').status === 'INVALID' &&
                      salesForm.get('details').touched) ||
                    (submitted && salesForm.get('details').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال تفاصيل الطلب
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('details').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field full_width" style="margin-bottom: 0;">
                <mat-checkbox
                  [checked]="safetyOrder"
                  (change)="changeSafetyOrder($event.checked)"
                  >الطلب عودة للضمان
                </mat-checkbox>
              </div>
              <div class="form_field" *ngIf="safetyOrder">
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="رقم الطلب"
                    aria-label="Number"
                    matInput
                    formControlName="sourceObj"
                    [matAutocomplete]="sourceAutoComplete"
                    id="sourceObj"
                  />
                  <img
                    src="{{ selectedResourceLogo }}"
                    *ngIf="selectedResourceLogoShow"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('sourceObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #sourceAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of sourcesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('sourceObj').status === 'INVALID' &&
                      salesForm.get('sourceObj').touched) ||
                    (submitted &&
                      salesForm.get('sourceObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال المصدر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('sourceObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field full_width" style="margin-bottom: 0;">
                <mat-checkbox
                  formControlName="clientContact"
                  (change)="
                    salesForm['controls'].clientContact.setValue($event.checked)
                  "
                >
                  تم الاتصال بالعميل
                </mat-checkbox>
              </div>
              <div class="form_field full_width" style="margin-bottom: 0;">
                <mat-checkbox
                  [checked]="addNumber"
                  (change)="changePhone($event.checked)"
                >
                  رقم اضافى للعميل فى حالة عدم الرد
                </mat-checkbox>
              </div>
              <div class="form_field inputWithButton" *ngIf="addNumber">
                <div
                  [@fade]
                  class="progressState"
                  *ngIf="offersArray.length > 0"
                >
                  يوجد عدد : {{ offersArray.length }} عروض
                </div>
                <span class="validationState  errorState ">{{ noOffers }}</span>
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="العروض"
                    aria-label="Number"
                    matInput
                    formControlName="offersObj"
                    [matAutocomplete]="offersAutoComplete"
                    id="offersObj"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('offersObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #offersAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of offersFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <button
                  type="button"
                  (click)="openOfferDetailsPopup()"
                  id="button"
                  class="clientBtn"
                >
                  <i class="fas fa-mobile"></i>
                </button>
              </div>
              <div class="form_field full_width" style="margin-bottom: 0;">
                <mat-checkbox
                  [checked]="addColor"
                  (change)="changeColorStatus($event.checked)"
                >
                  تحديد لون
                </mat-checkbox>
              </div>
              <div class="form_field" *ngIf="addColor">
                <mat-form-field
                  style="width: 58%;"
                  appearance="outline"
                  dir="rtl"
                >
                  <input
                    matInput
                    placeholder=""
                    [value]="color"
                    autocomplete="off"
                    id="name"
                    (keyup)="changeColor($event.target.value)"
                  />
                </mat-form-field>
                <p-colorPicker
                  class="color-system"
                  [(ngModel)]="color"
                  formControlName="color"
                ></p-colorPicker>
              </div>
              <div class="form_field full_width" style="margin-bottom: 0;">
                <mat-checkbox
                  [checked]="techFlage"
                  (change)="chooseTechnical($event.checked)"
                  >تحويل الطلب الى التنفيذ
                </mat-checkbox>
              </div>
              <div class="form_field" *ngIf="techFlage">
                <mat-form-field dir="rtl" appearance="outline">
                  <input
                    type="text"
                    placeholder="رقم الطلب"
                    aria-label="Number"
                    matInput
                    formControlName="sourceObj"
                    [matAutocomplete]="sourceAutoComplete"
                    id="sourceObj"
                  />
                  <img
                    src="{{ selectedResourceLogo }}"
                    *ngIf="selectedResourceLogoShow"
                  />
                  <button
                    type="button"
                    class="resetInput"
                    (click)="xResetInputs('sourceObj')"
                  >
                    <i class="fas fa-times-circle"></i>
                  </button>
                  <mat-autocomplete
                    #sourceAutoComplete="matAutocomplete"
                    [displayWith]="displayOptionsFunction"
                  >
                    <mat-option
                      *ngFor="let option of sourcesFilteredOptions | async"
                      [value]="option"
                    >
                      {{ option.name }}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
                <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                    (salesForm.get('sourceObj').status === 'INVALID' &&
                      salesForm.get('sourceObj').touched) ||
                    (submitted &&
                      salesForm.get('sourceObj').status === 'INVALID')
                  "
                >
                  <i class="fas fa-times"></i>
                  برجاء إدخال المصدر
                </div>
                <div
                  [@fade]
                  class="validationState successState"
                  *ngIf="salesForm.get('sourceObj').status === 'VALID'"
                >
                  <i class="fas fa-check"></i>
                  إدخال صحيح
                </div>
              </div>
              <div class="form_field fullWidth formButtons">
                <button
                  [disabled]="salesForm.invalid"
                  type="submit"
                  class="formSubmit formButton"
                  *ngIf="!updateButton"
                >
                  حفط
                </button>
                <button
                  [disabled]="salesForm.invalid"
                  type="button"
                  class="formSubmit formButton"
                  *ngIf="updateButton"
                  (click)="onUpdate()"
                >
                  تعديل
                </button>
              </div>
            </form>
          </div>
        </div>
        <div class="page_block" style="width: 25%; box-shadow: none;">
          <div class="additionClientDetails">
            <header *ngIf="!showNote" (click)="showNote = true">
              <div style="display: flex; justify-content: space-between;">
                <h4>
                  <i class="fas fa-info-circle" style="margin-left: 10px;"></i>
                  <span>بيانات إضافية عن العميل</span>
                </h4>
                <h4>
                  <span style="font-weight: 900;">2541</span>
                  <i class="fas fa-smile" style="margin-right: 10px;"></i>
                </h4>
              </div>
            </header>
            <header *ngIf="showNote" (click)="showNote = false">
              <div style="display: flex; justify-content: space-between;">
                <h4>
                  <i class="fas fa-info-circle" style="margin-left: 10px;"></i>
                  <span>بيانات إضافية عن العميل</span>
                </h4>
                <h4>
                  <span style="font-weight: 900;">2541</span>
                  <i class="fas fa-smile" style="margin-right: 10px;"></i>
                </h4>
              </div>
            </header>
            <div *ngIf="showNote">
              <section
                class="prevoiusOrdersNumber"
                style="display:flex; justify-content: space-between;"
              >
                <h4>
                  <span>عدد الطلبات السابقة لهذا العميل</span>
                </h4>
                <span>1</span>
              </section>
              <section class="clientDetailsSection">
                <ul>
                  <li>
                    <i class="fas fa-calendar-week"></i>
                    <span style="margin-right: 10px;">تاريخ اخر طلب </span>
                    <p style="margin-right: 22px;">25/5/2020</p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-cog"></i>
                    <span style="margin-right: 10px;"
                      >الخدمة الرئيسية لأخر طلب
                    </span>
                    <p style="margin-right: 22px;">تكييفات</p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-cogs"></i>
                    <span style="margin-right: 10px;"
                      >الخدمة الفرعية لأخر طلب
                    </span>
                    <p style="margin-right: 22px;">سبليت تركيب و شحن فريون</p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-user-cog"></i>
                    <span style="margin-right: 10px;"
                      >اسم الفني لاخر الطلب
                    </span>
                    <p style="margin-right: 22px;">محمد جابر</p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-ellipsis-v"></i>
                    <span style="margin-right: 10px;">رقم الطلب </span>
                    <p style="margin-right: 22px; text-decoration: underline;">
                      2050
                    </p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-receipt"></i>
                    <span style="margin-right: 10px;">حالة الطلب </span>
                    <p style="margin-right: 22px; text-decoration: underline;">
                      <span>تم اصدار فاتورة</span>
                      <span style="margin-right: 20px;">201145</span>
                    </p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                  <li>
                    <i class="fas fa-info"></i>
                    <span style="margin-right: 10px;">ملاحظات عن العميل </span>
                    <p style="margin-right: 22px;">
                      العميل لا يرغب في اى جنسية أجنبية و يفضل فقط الجنسية
                      السعودية
                    </p>
                  </li>
                  <hr style="width:399px; opacity: .29; margin-top: 10px;" />
                </ul>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="popup" *ngIf="viewOfferDetailsPopup" [@parentAnimation]>
    <div id="backDrop" (click)="closePopup()"></div>
    <div id="popupData" [@childAnimation]>
      <i class="fas fa-times" (click)="closePopup()"></i>
      <h2>تفاصيل العرض <br /></h2>
      <ul>
        <li>إسم العرض : {{ currentOffer.name }}</li>
        <li>وقت بدء العرض : {{ currentOffer.start_date }}</li>
        <li>وقت إنتهاء العرض : {{ currentOffer.end_date }}</li>
        <li>
          تفاصيل العرض : <span [innerHTML]="currentOffer.description"></span>
        </li>
      </ul>
      <div id="confirmationButtons">
        <button type="button" (click)="closePopup()">إغلاق</button>
      </div>
    </div>
  </div>
  <div id="popup" *ngIf="viewMapsPopup" [@parentAnimation]>
    <div id="backDrop" (click)="!(viewMapsPopup = false)"></div>
    <app-map
      [orderDate]="orderDate"
      [addOrderMode]="true"
      [orderClient]="orderClient"
      [orderServiceId]="orderServiceId"
      [@childAnimation]
      (bestTechnicalSelected)="selectBestTechnical($event)"
    ></app-map>
  </div>
</div>
