<div class="main_page">
  <app-alerts> </app-alerts>

  <!-- ######################### Start Side Menu ######################### -->
  <app-side-menu></app-side-menu>
  <!-- ######################### End Side Menu ######################### -->
  <!-- ################################### Start Middle Page ################################### -->
  <div class="page_main_blocks middle_page">
    <!-- ################################### Start Header ################################### -->
    <div class="page_header">
      <app-header></app-header>
    </div>
    <!-- ################################### End Header ################################### -->
    <!-- ################################ start header client icons ############################ -->
    <div class="page_body_title">
      <h4> <i style="margin-left: 8px;" class="fas fa-user"></i>إدارة العملاء</h4>
      <!-- <div class="page_body_main_buttons">
        <a
          [routerLink]="['/clients/update-client']"
          [queryParams]="{
            updateMode: true,
            updatedClientId: clientId
          }"
        >
          تعديل البيانات
          <i class="fas fa-user-edit"></i>
        </a>
      </div> -->
    </div>
    <!-- ################################ end header client icons
      ############################ -->
    <!-- START CLIENT NAME -->


    <div class="clientDetails-name">

    <div class="button-add-taxs">
      <button
      [routerLink]="['/clients/update-client']"
      [queryParams]="{
      updateMode: true,
      updatedClientId: clientId
      }">
      <i class="fal fa-user-edit"></i>  تعديل بيانات العميل </button>
    </div>
    <h4 style="    margin-bottom: 9px; font-size: 14px; color: #464646;"> <a style="color: #464646;" matBadgePosition="after" routerLink="/home">الصفحة الرئيسية </a> <   <a style="color: #464646;" matBadgePosition="after" routerLink="/clients/all-clients"> العملاء </a>  <  تفاصيل العميل   </h4>

      <ul>
        <!-- <li>
          <h3>
            <span class="clientDetails-id">
              {{ clientDetails?.id }}
            </span>
            {{ clientDetails?.name }}
          </h3>
        </li> -->
        <li>
          <span class="cilentAccount-type ">
            {{ clientId }}
          </span>
        </li>
        <li>
          <span class="cilentAccount-type-0 " *ngIf="status == 'vib'">
            {{ status }} <i class="fas fa-crown"></i>
          </span>
          <span  *ngIf="status == 'مميز'" class="cilentAccount-type-0 " style="background:#fff ; color: black ; " >
            {{ status }} <i class="fal fa-smile"></i>
          </span>
        </li>

        <li>
          <span class="cilentAccount-type-1 ">
            {{ clientType }}
          </span>
        </li>
      </ul>
    </div>

    <div class="page_body_main">
      <!-- ################################### Start Page Block ################################### -->
      <div class="page_block">
        <!-- Start filters -->

        <div class="block_client_header">

          <h3><i class="fas fa-user"></i> {{ clientName }}</h3>


        </div>

        <div class="details-client-new">

          <div class="account-client">

            <span class="span-active" *ngIf="active">حساب نشط</span>
            <span class="span-iNactive" *ngIf="!active">حساب  غير نشط</span>



            <div class="controlAllOrder">
              <ul>
                <li >
                  <button (click)="openStopPopup()" type="button">
                    <i class="far fa-pause-circle"></i>
                  </button>
                  <p *ngIf="active"> إيقاف عميل </p>
                  <p *ngIf="!active"> تفعيل عميل </p>


                </li>
                <li (click)="openDeletePopup()">
                  <button type="button">
                    <i class="far fa-times-circle"></i>
                  </button>
                  <p>إلغاء العميل </p>

                </li>

                <span style="  width: 25px;
                height: 26px;
                border-radius: 50%;
                background: black;
                color: white;
                text-align: center;
                position: absolute;
                right: 567px;
                /* margin-bottom: -7px; */
                margin-top: -8px;
                top: auto;">
                  {{ phoneNumbers.length }}
                </span>
                <li>
                 
                  <button type="button" (click)="showAddNumberPopup = true">
                   
                    <i class="far fa-mobile-android-alt"></i>
                  </button>
                  <p>ارقام اضافية</p>
                 

                </li>

              </ul>
            </div>


            <div class="rate-client">
            <p> تقييم العميل</p>
            <h5>2/10</h5>

            <div class="rate-star">
              <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star not-checked"></span>
                <span class="fa fa-star not-checked"></span>




            </div>

            </div>

          </div>

          <div class="details-client-block">
            <div class="ul-clientData">
              <h2> <i class="fas fa-info-circle"></i> بيانات العميل</h2>
              <!-- <li>
                <h4>
                  <img
                    src="../../../../assets/img/icons/client-icons/user (2).png"
                    alt=""
                  />
                  اسم العميل
                </h4>
                <h5>{{ clientDetails?.name }}</h5>
              </li> -->
              <li>
                <h4>
                  <i class="fas fa-phone-alt"></i>
                  رقم الاتصال بالعميل

                </h4>
                <span>{{ '966' +  clientDetails?.mobile  }}</span>
              </li>

              <li>
                <h4>
                  <i class="fas fa-calendar-day"></i>
                  تاريخ تسجيل العميل
                </h4>
                <span>{{ created_at ? created_at : 'لا يوجد ' }}</span>

              </li>

              <li>
                <h4>
                  <i class="fas fa-user-ninja"></i>
                  إضافة بواسطة
                </h4>
                <span>{{ created_by ? created_by : 'لا يوجد '}}</span>

              </li>

              <li>
                <h4>
                  <i class="fas fa-envelope"></i>
                  البريد الالكترونى

                </h4>
                <span>{{
                  clientDetails
                    ? clientDetails.email === null
                      ? 'لا يوجد بريد إلكترونى'
                      : clientDetails.email
                    : ''
                }}</span>

              </li>

              <li style="background: #87DDEB;">
                <h4>
                  <i class="fas fa-map-marker-alt"></i>
                  المدينة
                </h4>
                <span>{{ cityName }}</span>

              </li>

              <li>
                <h4>
                  <i class="far fa-venus-mars"></i>
                   النوع
                  </h4>
                    <span>{{
                      clientDetails
                        ? clientDetails.gender === null
                          ? 'لم يتم تحديد النوع'
                          : clientDetails.gender_object.name
                        : ''
                    }}</span>

              </li>

              <li>
                <h4>
                  <i class="fas fa-map-marked-alt"></i>
                  العنوان بالتفصيل
                </h4>
                <span > {{ clientAddress ? clientAddress : 'لايوجد عنوان' }} </span>

              </li>
            </div>
          </div>

          <div class="notes-client">
            <span class="span-count" *ngIf="clientNotes"> 1 </span>
            <h2> <i class="fas fa-info-circle"></i> ملاحظات عن العميل </h2>

            <div class="back-notes">
              <h4> <i class="fal fa-angle-left"></i> {{ clientNotes ? clientNotes : 'لا يوجد ملاحظات '}}</h4>

                <p *ngIf="clientNotes">بواسطة </p>
                <p> <span > {{ clientNotes ? created_at : ' '  }} </span>  <span style="padding-left: 2%;">   </span>  <span >{{ created_by ? created_by : ' '}}  </span> </p>

                <button  *ngIf="clientNotes"><i class="fal fa-trash-alt"></i></button>

            </div>



          </div>

          <div class="maps-client-details">
            <div class="last-updata">
              <p>اخر تحديث</p>
              <h5>  {{ updated_at ? updated_at : '' }} </h5>
            </div>

            <h2> <i class="fas fa-map-marked-alt"></i> موقع العميل </h2>

            <!-- <div>
              <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d475322.6559150807!2d39.491334617198696!3d21.45052893666832!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x15c3d01fb1137e59%3A0xe059579737b118db!2z2KzYr9ipINin2YTYs9i52YjYr9mK2Kk!5e0!3m2!1sar!2seg!4v1592824144662!5m2!1sar!2seg"
              width= "100%"
              height= "199px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div> -->


            <div
            style="
              width: 100%;
              margin-top: 10px;
              z-index: 9; margin-bottom: 2%;
              " 
            class="map clientMapInner"
          >
            <app-map
            style="height: 200px;"
              [clientDetailsPageMode]="true"
              [clientDetailsPageModeDtailsMap]="true"
              [clientDetailsOrgins]="{
                lng: long,
                lat: lat
              }"
              
            ></app-map>
  
            </div>




            <h4 *ngIf="above_url != null"><i class="far fa-globe-americas"></i> <a [href]="above_url" target="_blank">المشاهدة من خلال المتصفح</a> </h4>
            <h4 *ngIf="above_url == null" style="opacity: 0.5;"><i class="far fa-globe-americas"></i> <a  target="_blank">لا يمكن المشاهدة من خلال المتصفح</a> </h4>


            <div class="number-address">
              <p>عدد العناوين <span>{{ locations_count }}</span></p>
              <!-- <button><i class="fas fa-map-marker-check"></i> ادارة العناوين </button> -->
              <button
                    class="basic_button"
                    type="button"
                    style="margin-top: 8px !important;"
                    [routerLink]="['/clients/add-new-map']"
                    [queryParams]="{
                      clientId: clientId
                    }"
                  >
                  <i class="fas fa-map-marker-check"></i> ادارة العناوين </button>
            </div>




          </div>


        </div>




      </div>
    </div>

    <div style="margin-top: 70px;" class="page_body_main">
      <!-- ################################### Start Page Block ################################### -->
      <div class="page_block">
        <div class="nback-black"></div>
      <div class="tabs">

        <input class="tabs__item-input" type="radio" name="tabs" id="tabone" checked="checked">
        <label class="tabs__item-label" for="tabone">احصائيات </label>
        <div class="tabs__item-content">


          <div class="controlers">
            <div class="controller">
              <a >
                <i class="fas fa-hammer"></i>
                  <p>  عدد الطلبات المنتهية</p>
                  <h5>{{orders_count}}</h5>
            </a>



            </div>
            <div class="controller">
              <a>
                <i class="fas fa-sack"></i>
                <p style="text-align: center;"> اجمالى المبلغ المحقق</p>
                <h5> <span>SAR</span> {{total_payments}}</h5>
            </a>

            </div>


            <div class="controller">
              <a matBadgePosition="after" >
                <i class="far fa-hand-holding-usd"></i>
                <p style="text-align: center;"> اجمالى الخدمات</p>
                <h5> <span>SAR</span> {{total_services}}</h5>
            </a>

            </div>


            <div class="controller">
              <a matBadgePosition="after" >
                <i class="fal fa-box-usd"></i>
                <p style="text-align: center;">اجمالى قطع الغيار</p>
                <h5> <span>SAR</span> {{total_spare}}</h5>
            </a>

            </div>


            <div class="controller">
              <a matBadgePosition="after" >
                <i class="far fa-hand-holding-usd"></i>
                <p style="text-align: center;">تاريخ اخر طلب</p>
                <h5>{{ order_date ? order_date : 'لا يوجد '}}</h5>
            </a>

            </div>


            <div class="controller">
              <a matBadgePosition="after" >
                <i class="far fa-hand-holding-usd"></i>
                <p style="text-align: center;"> عدم اكتمال الطلبات</p>
                <h5>{{ not_completed}} </h5>
            </a>

            </div>



            </div>


        </div>

        <input class="tabs__item-input" type="radio" name="tabs" id="tabtwo">
        <label class="tabs__item-label" for="tabtwo"><i class="fal fa-file"></i> الطلبات التي تم تنفيذها </label>
        <div class="tabs__item-content">

        </div>

        <input class="tabs__item-input" type="radio" name="tabs" id="tabthree">
        <label class="tabs__item-label" for="tabthree"><i class="fal fa-info"></i> معلومات أخرى </label>
        <div class="tabs__item-content">

        </div>
      </div>
    </div>
    </div>

    <!-- <div class="clientDetails-data-block ">
      <div class="divRight">
        <div class="ul-clientData">
          <h2>معلومات العميل</h2>
          <li>
            <h4>
              <img
                src="../../../../assets/img/icons/client-icons/user (2).png"
                alt=""
              />
              اسم العميل
            </h4>
            <h5>{{ clientDetails?.name }}</h5>
          </li>
          <li>
            <h4>
              <img src="../../../../assets/img/icons/telephone.png" />رقم هاتف
              العميل
            </h4>
            <h5>{{ clientDetails?.mobile + '+' }}</h5>
          </li>

          <li>
            <h4>
              <img
                src="../../../../assets/img/icons/client-icons/icon_inbox.svg"
                alt=""
              />

              البريد الالكترونى
            </h4>
            <h5>
              {{
                clientDetails
                  ? clientDetails.email === null
                    ? 'لا يوجد بريد إلكترونى'
                    : clientDetails.email
                  : ''
              }}
            </h5>
          </li>
          <li>
            <h4>
              <img
                src="../../../../assets/img/icons/client-icons/male.png"
                alt=""
              />
              النوع
            </h4>
            <h5>
              {{
                clientDetails
                  ? clientDetails.gender === null
                    ? 'لم يتم تحديد النوع'
                    : clientDetails.gender_object.name
                  : ''
              }}
            </h5>
          </li>

          <div class="clientDetails-Image">
            <img
              src="../../../../assets/img/icons/600_97d118b7a6f8f87d18f7b1385ea7665e.png"
            />
          </div>
        </div>
      </div>
      <div class="divleft">
        <h3>تقارير</h3>

        <div class="controlAllOrder">
          <ul>
            <li>
              <button type="button">
                <img
                  src="../../../../assets/img/icons/client-icons/file (1).png"
                  alt=""
                />
              </button>
              <p>عدد الطلبات</p>
              <span>{{ clientDetails?.reports.orders_count }}</span>
            </li>
            <li>
              <button type="button">
                <img
                  src="../../../../assets/img/icons/client-icons/money-bag.png"
                  alt=""
                />
              </button>
              <p>الاجمالى</p>
              <span>{{ clientDetails?.reports.total_payments }}</span>
            </li>
            <li>
              <button type="button">
                <img
                  src="../../../../assets/img/icons/client-icons/placeholder.png"
                  alt=""
                />
              </button>
              <p>العناوين</p>
              <span>{{ clientDetails?.reports.locations_count }}</span>
            </li>
            <li>
              <button type="button">
                <img
                  src="../../../../assets/img/icons/client-icons/smartphone-call.png"
                  alt=""
                />
              </button>
              <p>أرقام اتصال</p>
              <span>{{ clientDetails?.reports.phones_count }}</span>
            </li>
          </ul>
        </div>
      </div>
    </div> -->


    <!-- <div class="page_body">
      <div class="page_body_main">
        <div class="clientMap">
          <div class="buttonAddLocation">
            <h3>العناوين</h3>

            <button class="addAdress" (click)="addAdress()">
              <a>
                إضافة عنوان
              </a>
            </button>
          </div>
          <ul class="container">
            <ng-container
              *ngFor="let location of locations; let i = index"
              class=""
            >
              <li class="cell">
                <h5>
                  <img
                    src="../../../../assets/img/icons/client-icons/p.png"
                    alt=""
                  />
                  {{ location.default == 1 ? ' عنوان رئيسى' : ' عنوان فرعى ' }}
                  <span id="checkSign" *ngIf="location.default == 1">
                    <img
                      src="../../../../assets/img/icons/client-icons/check-mark.png"
                  /></span>
                </h5>

                <div class="map clientMapInner">
                  <app-map
                    [clientDetailsPageMode]="true"
                    [clientDetailsPageModeDtailsMap]="true"
                    [clientDetailsOrgins]="{
                      lng: location.long,
                      lat: location.lat
                    }"
                  ></app-map>
                </div>
                <div class="editMap">
                  <div class="location">
                    <p>اسم العنوان</p>
                    <span>{{
                      location.address !== null
                        ? location.address
                        : 'لم يتم تحديد اسم العنوان'
                    }}</span>
                  </div>
                  <div class="editIcon">
                    <ul>
                      <li
                        *ngIf="location.default !== 1 && locations.length > 1"
                      >
                        <button (click)="updateLocation(location, i)">
                          <img
                            src="../../../../assets/img/icons/client-icons/edit (2).png"
                            alt=""
                          />
                        </button>
                      </li>

                      <li
                        *ngIf="location.default !== 1 && locations.length > 1"
                      >
                        <button (click)="onDelete(i)">
                          <img
                            src="../../../../assets/img/icons/client-icons/delete (1).png"
                            alt=""
                          />
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <p>المنطقة</p>
                <span>{{
                  location.area !== null ? location.area : 'لم يتم تحديد منطقة'
                }}</span>
                <p>وصف العنوان</p>
                <span>{{
                  location.special_sign !== null
                    ? location.special_sign
                    : 'لم يتم وضع وصف'
                }}</span>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div> -->

    <!-- start Map Client-->

    <!-- End Map Cilent-->

    <!-- <li *ngIf="clientDetails?.air_conditioner.length > 0">
                <h4>المكيفات</h4>

                <span
                  class="airConditionerDetails"
                  *ngFor="let item of clientDetails.air_conditioner"
                >
                  <span>
                    {{ pageLoaded ? ' النوع ' + ' : ' + item.name : '' }}
                  </span>
                  <span>
                    {{ pageLoaded ? 'عدد' + ' : ' + item.count : ' ' }}
                  </span>
                </span>
              </li> -->

    <!-- ################################### End Middle Page ################################### -->


  <!-- ######################### Start add number phone Popup ######################### -->
  <div class="popup_form_client " id="popup" *ngIf="showAddNumberPopup" >
    <div id="backDrop"></div>
    <div id="popupData" >
     <a (click)="showAddNumberPopup = false"><i class="fas fa-times-circle"></i> </a>
     <div class="border-popup">
      <h4><i class="far fa-mobile-android-alt"></i> ارقام اضافية</h4>
      <h5>حد أقصى     <span>5</span>   أرقام</h5> 
      <div id="add_form">
      <form #form="ngForm" [formGroup]="phonesForm">

        <div class="page_block registerForm">
            <!-- Start Form field -->
            <div class="form_field">
              <label>   <i class="fas fa-phone-alt"></i> الرقم </label>
              <mat-form-field appearance="outline" dir="rtl">
                <input
                  appOnlyNumbers="true"
                  maxlength="9"
                  matInput
                  formControlName="mobile"
                  autocomplete="off"
                  id="mobileKey"
                />
                <span id="phoneKey" [@fade]>966+</span>
              </mat-form-field>
              <div
                  [@fade]
                  class="validationState  errorState"
                  *ngIf="
                   
                    setError
                  "
                >
                  <i class="fas fa-times"></i> {{errorMessage}}
                </div>

            
            </div>
            <!-- end Form field -->

              <!-- Start Form field -->
              <div class="form_field">
                <label> <i class="fas fa-user"></i>  الاسم الخاص بالرقم </label>
                <mat-form-field style="width: 64%;" appearance="outline" dir="rtl">
                  <input  matInput autocomplete="off" id="name" formControlName="name" />
                </mat-form-field>
                <button *ngIf="!updatePhone" class="add-button-number" (click)="addPhoneNumber()" [disabled]="phoneNumbers.length ==  5">اضافة</button>
                <button *ngIf="updatePhone" class="add-button-number" (click)="addPhoneNumber()" [disabled]="phoneNumbers.length ==  5">تعديل </button>


              </div>
               <!-- End Form field -->
          </div>
            </form>
            </div>
            <hr>
          <div class="form-taxs-mng cliend-edit-neww">
            <table mat-table
            [dataSource]="phoneNumbers"
            class="mat-elevation-z8"
            width="100%"
            dir="rtl"
            id="display_table"
             style="text-align: right;margin-bottom: 50px;">

           <!-- id Column -->
           <ng-container matColumnDef="id">
            <th style="text-align: center;" mat-header-cell *matHeaderCellDef> # </th>
            <td style="text-align: center;" mat-cell *matCellDef="let element; let i = index"> {{i}} </td>
          </ng-container>

              <!-- number Column -->
              <ng-container matColumnDef="number">
                <th mat-header-cell *matHeaderCellDef> الرقم  </th>
                <td mat-cell *matCellDef="let element"> {{element.mobile}} </td>
              </ng-container>

              <!-- number_private_name Column -->
              <ng-container matColumnDef="number_private_name">
                <th style="text-align: center;" mat-header-cell *matHeaderCellDef>  الاسم الخاص بالرقم  </th>
                <td style="text-align: center;" mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>


                 <!-- number_details Column -->
                 <ng-container matColumnDef="number_details">
                  <th mat-header-cell *matHeaderCellDef>  </th>
                  <td style="text-align: left;" mat-cell *matCellDef="let element">
                  <button style="margin-left: 20px;" (click)="editPhoneNumber(element)"> <i class="fal fa-edit"></i> </button>
                  <button (click)="deletePhoneNumber(element.id)"> <i class="fal fa-trash-alt"></i> </button>

                  </td>
                </ng-container>



              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
     </div>

    </div>
  </div>
  <!-- ######################### End add number phone Popup ######################### -->



    <!-- ######################### Start map client Popup ######################### -->
    <div id="popup" *ngIf="showMapPopup" [@fade]>
      <div
        class="overlay"
        id="overLay"
        *ngIf="overLayShow"
        (click)="
          showMapPopup = false;
          updateAdressMode = false;
          addNewAddressModeStatus = false;
          changeVidOrgins()
        "
      ></div>
      <div id="popupData">
        <div class="popupMap">
          <!-- NOTE  -->
          <app-map
            [addNewAddressMode]="addNewAddressModeStatus ? true : false"
            [clientDetailsPageMode]="true"
            [clientDetailsPageModeAddMap]="true"
            [updatedLocationData]="updatedLocationData"
            [clientDetailsOrgins]="{
              lng: vidCoordinates.long,
              lat: vidCoordinates.lat
            }"
            [clientDetailsPopupOpen]="showMapPopup"
            (clickedNewClientOrgin)="clickedNewOrgins($event)"
          ></app-map>
          <!-- NOTE  -->
          <!-- TODO  -->

          <!-- TODO  -->
        </div>
        <div class="detailsCilentMap">
          <!-- ################################### Start Page Block ################################### -->
          <!-- TODO  -->
          <div class="page_block registerForm">
            <form [formGroup]="updatedMapForm">
              <!-- Start Form field -->
              <div class="form_field">
                <label>إسم العنوان <span>*</span></label>
                <!-- Client Name -->

                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    matInput
                    autocomplete="off"
                    id="formAddress"
                    formControlName="formAddress"
                    name="formAddress"
                    required
                  />
                </mat-form-field>
              </div>
              <!-- End Form field -->
              <!-- Start Form field -->
              <div class="form_field">
                <label>المنطقة <span>*</span></label>
                <!-- Client Name -->

                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    matInput
                    autocomplete="off"
                    id="formArea"
                    formControlName="formArea"
                    name="formArea"
                    required
                  />
                </mat-form-field>
              </div>
              <!-- End Form field -->
              <!-- Start Form field -->
              <div class="form_field">
                <label> الاحداثيات <span>*</span></label>
                <!-- Client Name -->

                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    matInput
                    autocomplete="off"
                    id="mapFormOrgins"
                    formControlName="mapFormOrgins"
                    name="mapFormOrgins"
                    (keyup)="onChangeMapOrgin($event)"
                    required
                  />
                  <!-- (keyup)="onChangeMapOrgin($event)" -->
                  <!-- (chang)="addMapLocation()" -->
                  <!-- (clickedNewClientOrgin)="clickedNewOrgins($event)" -->
                  <!-- (change)="clickedNewOrgins()" -->
                </mat-form-field>
              </div>
              <!-- End Form field -->
              <!-- Start Form field -->
              <div class="form_field">
                <label>وصف العنوان <span>*</span></label>
                <!-- Client Name -->

                <mat-form-field appearance="outline" dir="rtl">
                  <input
                    matInput
                    autocomplete="off"
                    id="formArea"
                    formControlName="formSpecialSign"
                    name="formArea"
                    required
                  />
                </mat-form-field>
              </div>
              <!-- End Form field -->

              <!-- class="mainAddressToggle" -->
              <!-- <ng-container *ngIf="showMainAddressToggle"> -->
              <ng-container>
                <div class="mainAddressToggleContainer" *ngIf="toggle">
                  <p>عنوان رئيسى :</p>
                  <mat-slide-toggle
                    dir="rtl"
                    (change)="mainAdderssSelectToggle($event)"
                  >
                  </mat-slide-toggle>
                </div>

                <!-- [checked]="todayOrdersToggelChecked" -->
              </ng-container>

              <div class="buttonAddLocation">
                <button
                  [disabled]="updatedMapForm.invalid"
                  (click)="onSubmitUpdateData()"
                  class="submitButton"
                >
                  حفظ
                </button>
              </div>
            </form>
          </div>
          <!-- TODO  -->
        </div>
      </div>
    </div>

    <div id="popup" *ngIf="showDeletePopup" >
      <div id="backDrop"></div>
      <div id="popupData">
        <i class="fas fa-times" (click)="closePopup()"></i>
        <h2 style="color: black;">
          هل انت متأكد من حذف حساب العميل <br />
        </h2>
        <div id="confirmationButtons">
          <button type="button" (click)="deleteClient()">نعم متأكد</button>
          <button type="button" (click)="closePopup()">إلغاء الحذف</button>
        </div>
      </div>
    </div>


    <div id="popup" *ngIf="showStopPopup" >
      <div id="backDrop"></div>
      <div id="popupData">
        <i class="fas fa-times" (click)="closePopup()"></i>
        <h2 *ngIf="active" style="color: black;"> 
          هل انت متأكد من إيقاف حساب العميل <br />
        </h2>
        <h2 *ngIf="!active" style="color: black;"> 
          هل انت متأكد من تفعيل حساب العميل <br />
        </h2>
        <div  *ngIf="active" id="confirmationButtons">
          <button type="button" (click)="stopClient()">نعم متأكد</button>
          <button type="button" (click)="stopClosePopup()">إلغاء الايقاف</button>
        </div>
        <div  *ngIf="!active" id="confirmationButtons">
          <button type="button" (click)="stopClient()">نعم متأكد</button>
          <button type="button" (click)="stopClosePopup()">إلغاء التفعيل</button>
        </div>
      </div>
    </div>
    
    
    <!-- ######################### End map cilent Popup ######################### -->
  </div>
</div>
