.filter_form {
  #nameEmailFillterInputStyle mat-form-field {
    width: calc(320px);
  }

  #smallFillterInputStyle {
    margin-right: 20px;
  }
}

.resetInput {

  color: #525a79;

  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 18px;
  background: transparent;
  border: 0;
  z-index: 9;
}

.number-invoice {

  display: flex;
  position: absolute;
  margin-top: -46px;
  left: 10%;

  .num-invoice {
    margin-right: 21px;

    p {
      font-family: Roboto;
      font-weight: normal;
      font-size: 14px;
      color: #1a1a1a;
      text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

      i {

        font-size: 17px;
        text-align: center;
        color: #232e5b;
        opacity: 0.71;
        margin-left: 5px;

      }

    }
  }

}

.total-invoice {
  display: flex;

  .invoice {
    text-align: center;
    border-left: 1px dotted #707070;
    height: 65px;
    margin-bottom: 24px;
    margin-left: 27px;
    margin-right: 15px;
    padding-left: 30px;
    /* margin-top: 12px; */
    padding-top: 23px;

    p {

      font-weight: 300;
      font-size: 15px;
      color: #444;

    }

    h5 {
      font-family: Roboto;
      font-weight: bold;
      font-size: 21px;
      text-align: center;
      color: #444;

    }
  }
}

.multiselect-filter>input {
  border: 1px dotted #707070;
  border-radius: 0px;
}

.left-style-result {
  position: absolute;
  left: 4%;
  display: flex;

  .result {
    padding: 12px;
    text-align: center;
    cursor: pointer;

    p {
      // font-family: "GE SS Two";
      font-weight: 300;
      font-size: 15px;
      text-align: right;
      color: #000;
      text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.16);
      margin-bottom: 9px;

    }

    i {

      font-size: 22px;
      text-align: center;

    }
  }

  .result_0 {
    color: #339BD6;
  }

  .result_1 {
    color: #9C23EC;
  }

  .result_2 {
    color: #FF0000;
  }

  .result_3 {
    color: #F59504;
  }

  .result_4 {
    color: #2BAC2B;
  }

}

.showtestOrderControl {
  display: block !important;
}

.filter_form {
  #nameEmailFillterInputStyle mat-form-field {
    width: calc(320px);
  }

  #smallFillterInputStyle {
    width: calc(95% / 7);
    margin-right: 5px;
    margin-left: 5px;
  }
}

#todaysOrdersContainer {
  width: 100%;
}

form {
  flex-wrap: wrap;
}

#CheckBoxTodayFilter {
  display: inline-block;
  width: 100%;
  clear: both;
  margin: 0;
  margin-bottom: 5px;
}

#CheckBoxTodayFilter mat-slide-toggle {
  width: 30px !important;
  margin-top: 5px;
}

.todayfilterLabel {
  position: relative;
  top: -10px;
  margin: 0px 0px 0px 11px;
}

.mat-elevation-z8 {
  span {
    font-weight: bold;
    font-size: 14px;
  }
}

#showOrdercontrols {
  position: absolute;
  width: max-content;
  height: max-content;
  border: 1px solid #d8d8d8;
  background-color: #394247;
  -webkit-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 4px 23px -9px rgba(0, 0, 0, 0.75);
  padding: 5px 10px;
  margin-top: -12px;
  margin-right: -125px;
  border-radius: 16px;
  padding-left: 20px;
  padding-right: 20px;

  i {
    background: transparent;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  // start toolTip in details menu controls

  p {
    font-size: 12px;
    color: #fff;
    border-left: none !important;
  }


  button {
    margin: 0 10px;

    &:hover .tooltiptext {
      visibility: visible;
      opacity: 1;
    }

    &:first-child {
      .tooltiptext {
        right: -15px;
      }
    }

    &:last-child {
      .tooltiptext {
        left: 40px;
      }
    }
  }

  // end toolTip in details menu controls
}

// ################################### 1 - Start (max-width: 1199px) & (min-width: 992px) ###################################
@media (max-width: 1399px) and (min-width: 992px) {
  .filter_form {
    #smallFillterInputStyle {
      margin-right: 0;
    }

    #nameEmailFillterInputStyle mat-form-field {
      width: 100%;
    }
  }
}

// ################################### 1 - end (max-width: 1199px) & (min-width: 992px) ###################################

// ################################### 2 - Start (max-width: 991px) and (min-width: 768px) ###################################
@media (max-width: 991px) and (min-width: 768px) {
  .filter_form {
    #smallFillterInputStyle {
      margin-right: 0;
    }

    #nameEmailFillterInputStyle mat-form-field {
      width: 100%;
    }
  }
}

// ################################### 2 - end (max-width: 991px) and (min-width: 768px) ###################################
// ################################### 3 - start (max-width: 768px) ###################################
@media (max-width: 767px) {
  .filter_form {
    #smallFillterInputStyle {
      margin-right: 0;
    }

    #nameEmailFillterInputStyle mat-form-field {
      width: 100%;
    }
  }
}

// ################################### 3 - end (max-width: 768px) ###################################
@media (max-width: 1399px) and (min-width: 700px) {
  .filter_form #smallFillterInputStyle {
    margin-right: 0;
    width: 40%;
    display: inline-flex;
    margin-left: 10%;
  }
}

.stautsInvoice {
  padding: 10px 30px;
  border-radius: 10px;
  color: #FFF;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.16);
}

.notConfirm {
  background: #F59504 !important;
}

.notConfirm-bg {
  background: rgba(245, 149, 4, .2) !important;
}

.confirm {
  background: #2BAC2B !important;
}

.cancel {
  background: #FF0000 !important;
}

.cancel-bg {
  background: rgba(255, 0, 0, .2) !important;

}
